<app-appview-list
    #list
    [config]="config"
    [allowedLayouts]="[ Layout.Table ]"
    [fieldTemplates]="{ __tasks: TasksCellComponent , __createdBy: InitiatorCellComponent}"
    (itemClick)="onItemClick($event)"

>
    <ng-container header>
        <div class="top-panel__crumbs">
            <div class="content-header__title">
                <elma-crumbs #elmaCrumbs></elma-crumbs>
            </div>
        </div>
    </ng-container>

</app-appview-list>
