<ng-container *mobxAutorun>
    <div class="template"
         [class.actions-showed]="menu?.isOpen()"
         [class.deleted]="template.deletedAt"
         [style.padding-left.px]="depth * 32 + 6">
        <div class="d-flex align-items-center">
            <div class="prefix p-2"></div>
            <div class="icon mx-2">
                <svg *ngIf="template.type === BPType.BPMN"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" height="18px">
                    <path fill="#e74332" d="M8,2.5A5.51,5.51,0,0,1,13.5,8H16A8,8,0,0,0,8,0H8Z"></path>
                    <path fill="#3f8bc8" d="M8,13.5A5.51,5.51,0,0,1,2.5,8H0a8,8,0,0,0,8,8H8V13.5Z"></path>
                    <path fill="#81bc4d" d="M2.5,8A5.51,5.51,0,0,1,8,2.5H8V0H7.92A8,8,0,0,0,0,8H2.5Z"></path>
                    <path fill="#ffcf00" d="M16,8H13.5A5.52,5.52,0,0,1,8,13.5V16A8,8,0,0,0,16,8Z"></path>
                </svg>
                <svg *ngIf="template.type === BPType.Simple"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" height="18px">
                    <path fill="#3f8bc8" d="M8,2a.3.3,0,0,1,.21.09l5.7,5.7a.29.29,0,0,1,0,.42l-5.7,5.7a.29.29,0,0,1-.42,0l-5.7-5.7a.29.29,0,0,1,0-.42l5.7-5.7A.3.3,0,0,1,8,2M8,0A2.3,2.3,0,0,0,6.37.68L.68,6.37a2.31,2.31,0,0,0,0,3.26l5.69,5.69a2.29,2.29,0,0,0,3.26,0l5.69-5.69a2.31,2.31,0,0,0,0-3.26L9.63.68A2.3,2.3,0,0,0,8,0Z"></path>
                </svg>
            </div>
            <form class="name form-inline" (submit)="rename()">
                <div class="form-group d-flex" [class.has-danger]="dublicateName">
                    <ng-container  *ngIf="!editMode">
                        <button *ngIf="linkBuilder == null" type="button" elmaButton="link" (click)="onSelectTemplate.emit(template)">{{ template.name }}</button>
                        <a *ngIf="linkBuilder != null" [routerLink]="linkBuilder(template)">{{ template.name }}</a>
                    </ng-container>
                    <input *ngIf="editMode" class="form-control p-0 align-top"
                           #nameInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                           (blur)="rename()" (keydown.escape)="cancel()"/>
                    <div *ngIf="dublicateName" class="px-3 mt-0 form-control-feedback">
                        {{ 'bpm.list.create-template@dublicate-name-error' | translate }}
                    </div>
                </div>
            </form>
            <ng-container *ngIf="drafts">
                <div class="version p-2">
                    {{ template.version }}{{ (template.draft ? '*' : '') }}
                </div>
                <div class="updated p-2">
                    {{ template.updatedAt.local().format() }}
                </div>
                <div class="actions ml-auto p-2" *ngIf="drafts" placement="bottom-right">
                    <button
                        (click)="menu.toggle(menuOpener)"
                        elmaButton="default"
                        elmaButtonStyle="icon"
                        #menuOpener>menu_horizontal</button>
                    <elma-popover
                        [relativeTo]="menuOpener"
                        [position]="'right'"
                        #menu>
                        <div class="popover-body">
                            <button elmaButton="default" (click)="edit()">{{ 'bpm.tree@menu-rename' | translate }}</button>
                            <button elmaButton="default" (click)="onRemoveTemplate.emit(template)">{{ 'bpm.tree@menu-delete' | translate }}</button>
                            <button elmaButton="default" (click)="onMoveTemplate.emit(template)">{{ 'bpm.tree@menu-move' | translate }}</button>
                        </div>
                    </elma-popover>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
