<div class="modal-body">
    <app-navigation-disk
        [treeType]="movingType"
        [movingItem]="movedItemForBuildingTree"
        (directoryId)="setTargetDirectory($event)">
    </app-navigation-disk>
</div>
<div class="modal-footer">
    <button [disabled]="!(targetDirectoryID && targetDirectoryID != parentDirId)"
        elmaButton="primary"
        class="move-btn"
        (click)="moveItems()">
        {{'app.disk.listing.directory@move'|translate}}
    </button>
    <button elmaButton="default" (click)="activeModal.dismiss()">
        {{'app.disk.listing.directory@cancel'|translate}}
    </button>
</div>
