<ng-container *ngIf="!isOpen">
    <a href="javascript:;" (click)="isOpen = true">{{'openWord'|translate}}</a>
</ng-container>
<ng-container *ngIf="isOpen">
    <ng-content></ng-content>
    <a href="javascript:;" (click)="isOpen = false">{{'hideWord'|translate}}</a>
</ng-container>

