@import '../../../../../../styles/common-import';

.send__item {
    display: flex;
    padding: $grid-gutter-padding 0;
    border-bottom: 1px solid $base-border-color;
    color: $heading-text-color;
    height: $header-height-md;
    align-items: center;

    &:hover {
        background: #f6f6f6;
        box-shadow: 20px 0 0 #f6f6f6, -20px 0 0 #f6f6f6;
        text-decoration: none;
    }

    &-icon {
        flex-basis: 40px;
        display: flex;
        justify-content: center;
    }

    &-title {
        margin-left: $grid-gutter-padding;
        font-weight: 700;
    }
}
