<div class="send">
    <a class="send__item" routerLink="[]">
        <i class="send__item-icon elma-icons md-24">file_search</i>
        <div class="send__item-title">{{'app.disk.listing.directory@send-document'|translate}}</div>
    </a>
    <a class="send__item" routerLink="[]">
        <i class="send__item-icon elma-icons md-24">file_approve</i>
        <div class="send__item-title">{{'app.disk.listing.directory@send-for-approval'|translate}}</div>
    </a>
    <a class="send__item" routerLink="[]">
        <i class="send__item-icon elma-icons md-24">file_seen</i>
        <div class="send__item-title">{{'app.disk.listing.directory@send-for-review'|translate}}</div>
    </a>
</div>
