<elma-popup
    #popup
    [title]="'navigation.namespace@add-app' | translate "
    [size]="'sm'"
>
    <div class="modal-body step-choice">
        <div class="step-choice__item">
            <div
                class="button-card"
                [routerLink]="['/', {outlets: {p: ['import','application','store', namespace.code]}}]"
            >
                <img src="/assets/images/365-to-store.svg" width="50">
                <p class="text-xl mb-3">
                    {{"navigation.namespace.append-application@from-store"|translate}}
                </p>
                <p class="text-lg">
                    {{"navigation.namespace.append-application@from-store-text"|translate}}
                </p>
            </div>
            <a
                class="mt-3"
                elmaButton="link"
                [routerLink]="['/', {outlets: {p: ['import','application','upload', namespace.code]}}]"
                (click)="close()"
            >{{"navigation.namespace.append-application@upload"|translate}}</a>
        </div>
        <div class="step-choice__item">
            <div class="button-card" (click)="createNew()">
                <img src="/assets/images/365-new-app.svg" width="50">
                <p class="text-xl mb-3">
                    {{"navigation.namespace.append-application@create-new"|translate}}
                </p>
                <p class="text-lg">
                    {{"navigation.namespace.append-application@create-new-text"|translate}}
                </p>
            </div>
        </div>
    </div>
</elma-popup>


<app-widget-page-create
    #createPageWidget
    [showApplication]="true"
    [baseUrl]="baseUrl"
    [namespaceCode]="namespace.code"
></app-widget-page-create>
