@import '../../../../styles/common-import';

:host {
    ::ng-deep {
        .btn {
            svg {
                height: 2.4rem;
                margin-top: ($input-btn-height-lg - 2.4) / (-4);
                margin-bottom: ($input-btn-height-lg - 2.4) / (-4);
            }
        }
        .modal-dialog {
            width: auto;
            max-width: 800px;
        }
        .spinner-inner {
            svg {
                transform: scale(1.4);
            }
        }
        elma-crumbs {
            @include media-breakpoint-down(md) {
                overflow: hidden;
                flex-basis: 100%;
                display: block;
            }

            &.is-active {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            .breadcrumb-item {
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
                &::before {
                    @include media-breakpoint-down(md) {
                        content: none !important;
                    }
                }

                &.active {
                    display: flex !important;
                    @include media-breakpoint-down(md) {
                        color: #ffffff;
                        font-weight: $font-weight-regular;
                    }
                    @include media-breakpoint-up(lg) {
                        color: #212529;
                        font-weight: $font-weight-bold;
                    }
                    &:first-child {
                        @include media-breakpoint-down(md) {
                            display: flex;
                            align-items: center;
                        }
                    }
                    &::before {
                        @include media-breakpoint-down(md) {
                            display: none !important;
                        }
                    }
                }

                &:not(.active) {
                    @include media-breakpoint-down(md) {
                        display: none !important;
                    }
                    @include media-breakpoint-up(lg) {
                        font-weight: $font-weight-regular;
                    }
                }
            }
            span {
                @include media-breakpoint-up(lg) {
                    font-size: $font-size-base;
                }
            }
            a {
                display: flex;
                align-items: center;
                width: 100%;
                text-decoration: none !important;

                @include media-breakpoint-down(md) {
                    height: $header-height-md;
                }
                @include media-breakpoint-up(lg) {
                    font-size: $font-size-base;
                }
            }
        }
    }
}

.top-panel {
    padding: 10px $grid-gutter-width;

    @include media-breakpoint-up(md) {
        box-shadow: 0 2px 5px rgba(#000, .1);
    }

    @include media-breakpoint-down(md) {
        margin-left: -#{$grid-gutter-padding};
        margin-right: -#{$grid-gutter-padding};
    }

    @include media-breakpoint-up(lg) {
        box-shadow: none;
        padding:
            $grid-gutter-padding 48px
            $grid-gutter-padding
            $grid-gutter-width;
    }
    &__form {
        .is-active & {
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
            }
        }
    }
    &__controls {
        display: flex;

        .btn-group {
            width: 100%;
            margin: 0 auto;

            @include media-breakpoint-down(md) {
                display: none;

                @media (orientation: landscape) {
                    width: 60%;
                }
            }

            .is-active & {
                display: flex;
            }
        }

        .btn {
            @include media-breakpoint-down(md) {
                border-radius: 0 50px 50px 0;
                flex: 1 1;
            }
            &:first-child {
                @include media-breakpoint-down(md) {
                    border-right: $border-width solid;
                    border-radius: 50px 0 0 50px;
                    order: 1;
                }
            }
        }
    }
    &__switcher {
        display: block;
        position: absolute;
        height: 36px;
        top: 50%;
        bottom: 0;
        right: $grid-gutter-padding;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &.is-close {
            i {
                &::before {
                    color: #a5a5a5 !important;
                    content: 'system_close';
                }
            }
        }

        i {
            &::before {
                color: #5cb85c;
                content: 'system_add_round';
            }
        }
    }
}

.file-form {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

    &__file,
    &__folder {
        margin-bottom: 0;
        background: #5cb85c;
        color: #fff;
    }

    &__folder {
        @include media-breakpoint-up(lg) {
            border-color: #ccc;
            background: none;
            color: #292b2c;
        }
    }
}

.btn-mass-operation {
    padding: 4px 6px;
}
.btn-move-operation {
    padding: 5px 5px 2px 7px;
}
.btn-mass-operation, .btn-move-operation {
    font-size: 18px;
    height: 32px;
    width: 32px;
    line-height: 1;
    letter-spacing: 0;
    vertical-align: middle;
}

.disk {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-up(lg) {
        position: relative;
        margin: 0;
    }

    &__header {
        border-bottom: 1px solid #eee;
        display: flex;
        flex: 0 0 60px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 60px;
        padding-right: 60px;

        @include media-breakpoint-up(lg) {
            border: 0;
            padding: 10px $grid-gutter-width;
        }
    }
}

:host .files {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100%;

    @include media-breakpoint-up(lg) {
        position: relative;
        background: transparent;
    }

    &__header {
        display: none;
        background: #f6f6f6;
        font-weight: 600;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
        }
        &_first {
            @include media-breakpoint-up(lg) {
                border-radius: 2px 2px 0 0;
            }
        }
    }
    &__content {
        width: 100%;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex: 1 1 100%;
        }
    }
    &__title {
        margin-left: 30px;
        flex: 1;
    }
    &__size,
    &__type {
        flex: 0 0 160px;
        padding-left: $grid-gutter-padding;
    }

    &__timestamp {
        flex: 0 0 240px;
        padding-left: $grid-gutter-padding;
    }

    &__title,
    &__timestamp,
    &__size,
    &__type {
        cursor: pointer;
    }

    ::ng-deep .disk-list__item > .list-item {
        border-bottom: 1px solid #ededed;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        height: 100%;
        padding: $grid-gutter-padding 0;

        @include media-breakpoint-up(lg) {
            padding: 0 $grid-gutter-width;

            &:hover .control-visibility {
                opacity: 1 !important;
            }
        }

        &:hover {
            @include media-breakpoint-up(lg) {
                background: rgba(#000, .05);
            }

            .directory-controls {
                opacity: 1;

                .mob-context-menu__btn,
                .btn-control_download {
                    opacity: 1;
                }
            }
        }

        &:not(.disk-list__item_downloading) {
            .checkbox {
                @include media-breakpoint-up(lg) {
                    opacity: 0;
                }
            }

            &:hover {
                border-color: transparent;
                background: #f6f6f6;
                box-shadow:
                    20px 0 0 #f6f6f6,
                    -20px 0 0 #f6f6f6;

                .checkbox {
                    @include media-breakpoint-up(lg) {
                        opacity: 1 !important;
                    }
                }
            }
        }

        &.is-active {
            border-color: $firm-blue;
            box-shadow:
                20px 0 0 $firm-blue,
                -20px 0 0 $firm-blue !important;
            background: $firm-blue !important;
            color: #fff;

            .checkbox {
                @include media-breakpoint-up(lg) {
                    opacity: 1 !important;
                }
            }

            .directory__icon {
                color: #fff;
            }
        }

        &_new {
            position: absolute;
            overflow: hidden;
            width: 0;
            height: 0;
            pointer-events: none;

            &.is-active {
                position: relative;
                width: 100%;
                height: 72px;
                pointer-events: auto;

                @include media-breakpoint-up(lg) {
                    height: auto;
                }
            }

            .directory__icon {
                color: inherit;
            }

            .input-holder {
                width: 100%;
            }

            .form-control {
                @include media-breakpoint-up(lg) {
                    padding-top: $grid-gutter-padding;
                    padding-bottom: $grid-gutter-padding;
                }
            }
        }

        .checkbox {
            flex-basis: 30px;
        }

        button {
            outline: none;
        }

        .directory-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            @include media-breakpoint-up(lg) {
                padding-right: $grid-gutter-width;
            }
        }

        .directory {
            cursor: pointer;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            width: 100%;
            height: 100%;
            color: inherit;
            line-height: 1;
            text-decoration: none;

            @include media-breakpoint-down(md) {
                padding: 0 0 0 48px;
            }

            @include media-breakpoint-up(lg) {
                flex-direction: row;
                flex: 1;
                align-items: center;
                max-width: calc(100% - 30px);
                padding: 0 22px 0 30px;
            }

            .directory-content {
                width: 100%;

                @include media-breakpoint-up (lg) {
                    display: flex;
                }
                @include media-breakpoint-down (md) {
                    display: block;
                }
            }

            &__icon {
                display: flex;
                flex: 0;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 100%;
                color: #5e5e5e;

                @include media-breakpoint-up(lg) {
                    width: 24px;
                }

                .is-active & {
                    color: #fff;
                }
            }

            &__name {
                overflow: hidden;
                font-weight: 600;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
                @include media-breakpoint-up(lg) {
                    width: calc(100% - 400px);
                }
            }

            &__timestamp {
                color: #bababa;
                margin-top: 5px;

                @include media-breakpoint-up(lg) {
                    flex: 0 0 240px;
                    margin: 0;
                    padding-left: 0;
                }
            }

            &__size,
            &__type {
                color: #bababa;
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                    flex: 0 0 160px;
                    padding-left: 0;
                }
            }

            &__type {
                .is-active & {
                    color: inherit;
                }
            }
        }

        .mob-context-menu {
            &__btn {
                .elma-icons {
                    pointer-events: none;
                }
            }
        }

        .mob-context-menu__btn,
        .btn-control_download {
            border: 0;
            width: 36px;
            height: 36px;
            margin: auto;
            padding: 0;
            appearance: none;
            background: none;
            color: inherit;
            cursor: pointer;
        }

        .directory-controls {
            .mob-context-menu__btn,
            .btn-control_download {
                opacity: 0;
            }
        }

        .mob-context-menu.stay-active {
            .mob-context-menu__btn {
                opacity: 1;
            }
        }

    }

    .disk-list__item > *:hover .directory-controls,
    .disk-list__item_downloading .directory-controls {
        opacity: 1;
    }
}

:host ::ng-deep {

    .favorite-text {
        text-align: center;
    }

    .disk-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &__item {
            position: relative;
            display: block;
            height: $header-height-md;

            @include media-breakpoint-down(md) {
                @media (orientation: landscape) {
                    min-height: 48px;
                }
            }

            @include media-breakpoint-up(lg) {
                height: 60px;
            }

            &_downloading {
                @include media-breakpoint-down(md) {
                    height: auto;
                }
            }

            &_anchor {
                height: 0 !important;
                min-height: 0;
            }

            &_new {
                position: absolute;
                overflow: hidden;
                width: 0;
                height: 0;
                pointer-events: none;

                &.is-active {
                    position: relative;
                    width: 100%;
                    height: auto;
                    pointer-events: auto;
                }

                .directory {
                    display: flex;
                    padding: $grid-gutter-width;
                    font-size: 24px;
                    background: rgba(0,0,0, .1);
                    align-items: center;
                }

                .directory__icon {
                    margin-right: 8px;
                    color: inherit;
                    padding-bottom: 4px; /* выравнивание иконки по высоте по центру */
                }

                .input-holder {
                    width: 100%;
                }

                .form-control {
                    @include media-breakpoint-down(md) {
                        padding-top: $grid-gutter-padding;
                        padding-bottom: $grid-gutter-padding;
                    }
                }
            }
        }
    }

    .dropzone {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .empty-folder {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        margin: $grid-gutter-width 0;
    }

    .empty-folder-action {
        text-decoration: underline;
        color: #378cc0;
        cursor: pointer;
        outline: none;
    }


    .empty-li {
        @include media-breakpoint-down(md) {
            height: calc(100% - 88px);
        }
        @include media-breakpoint-up(lg) {
            height: calc(100% - 32px);
        }
    }

    .disk-list {
        height: 100%;
    }

    .dropzone {
        height: 100%;
    }

    .files__content {
        height: 100%;
    }

    .content-body__inner {
        height: 100%;
    }

    app-page-content {
        @include media-breakpoint-up(lg) {
            height: calc(100% - 60px);
        }
        @include media-breakpoint-down(md) {
            height: calc(100% - #{$header-height-md});
        }
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .extension {
        padding: $grid-gutter-padding;
    }

    .display-none {
        display: none;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    @include media-breakpoint-down(md) {

        .top-panel__controls {

            & > .btn-group {

                flex-direction: row-reverse;

                & > * {
                    margin-left: 0!important;
                }
            }
        }

        .file-form__folder {
            border: none!important;
        }
    }

    .create-file-mobile-button {
        width: 100%;
        margin: 0;
        display: block;
    }

    .parent-directory {
        cursor: pointer;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        color: inherit;
        padding: 0 48px;
        line-height: 1;
        text-decoration: none;
        border-bottom: 1px solid #ededed;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            flex: 1;
            align-items: center;
            width: auto;
            padding: 0 22px 0 30px;
        }

        &__name {
            overflow: hidden;
            width: 100%;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__timestamp {
            color: #bababa;
            margin-top: 5px;

            @include media-breakpoint-up(lg) {
                flex: 0 0 240px;
                margin: 0;
                padding-left: 0;
            }
        }
    }
}
