<!-- BEGIN:Шапка диска -->
<app-page-header *ngIf="!isModalWindow">
    <ng-container title>
        <elma-crumbs [class.is-active]="mobilePlusExtended"></elma-crumbs>
    </ng-container>
    <ng-container buttons>
        <ng-container *elmaDesktop>
            <elma-buttons
                [buttons]="buttonsList"
            ></elma-buttons>
        </ng-container>
        <ng-container *elmaMobile>
            <app-header-mobile-buttons
                [buttons]="buttonsList"
            >
            </app-header-mobile-buttons>
        </ng-container>
    </ng-container>
</app-page-header>

<ng-template #createFileMobileButton let-button="button" let-sender="sender">
    <label for="fileInput" class="ctx-menu__item create-file-mobile-button" (click)="sender.hideMenu()">
        <i class="ctx-menu__icon elma-icons">{{ button.icon }}</i>
        <span class="ctx-menu__text">{{ button.label }}</span>
    </label>
</ng-template>
<!-- END:Шапка диска -->

<!-- BEGIN:Файлы -->
<app-page-content [nopadding]="true">
    <div class="files">
        <div
            class="top-panel files__header"
            *ngIf="directories.length || files.length || links.length"
            [class.files__header_first]="!currentDirectoryID"
        >
            <div class="files__title" (click)="sort(sortType.name)">
                {{'app.disk.listing.directory@disk-listing-name'|translate}}
                <ng-container *ngIf="sortDirection.sortType === sortType.name">
                    <ng-template [ngTemplateOutlet]="arrowTitle"></ng-template>
                </ng-container>
            </div>
            <div class="files__timestamp" (click)="sort(sortType.updatedAt)">
                {{'app.disk.listing.directory@changed-date'|translate}}
                <ng-container *ngIf="sortDirection.sortType === sortType.updatedAt">
                    <ng-template [ngTemplateOutlet]="arrowTitle"></ng-template>
                </ng-container>
            </div>
            <div class="files__size" (click)="sort(sortType.size)">
                {{'app.disk.listing.directory@file-size'|translate}}
                <ng-container *ngIf="sortDirection.sortType === sortType.size">
                    <ng-template [ngTemplateOutlet]="arrowTitle"></ng-template>
                </ng-container>
            </div>
        </div>

        <!-- BEGIN:Список файлов/папок -->
        <div
            class="files__content"
            [class.table-wrapper-active]="currentDirectoryID"
            appScrollShadow
        >
            <div
                class="dropzone"
                ngFileDrop
                (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput"
                [class.is-drop-over]="dragOver"
            >

                <elma-spinner class="disk-spinner" *ngIf="!contentLoaded"></elma-spinner>

                <ul class="disk-list">

                    <li *elmaMobile="currentDirectoryID"
                        class="disk-list__item disk-list__parent-link"
                    >
                        <a
                            class="parent-directory"
                            (click)="goToParentFolder()"
                        >
                            <div class="parent-directory__name">..</div>
                            <div class="parent-directory__timestamp">
                                {{'app.disk.listing.directory@go-to-parent'|translate}}
                            </div>
                        </a>
                    </li>

                    <!-- BEGIN:Новая директория -->
                    <li
                        class="disk-list__item disk-list__item_new"
                        [class.is-active]="creatingNewDirectory"
                    >
                        <div class="directory">
                            <i class="directory__icon elma-icons md-24">folder_type_opened</i>
                            <!--Создание новой папки-->
                            <input
                                type="text"
                                #inputNewDirectory
                                class="form-control"
                                [ngClass]="{'is-invalid': newDirectoryError}"
                                [(ngModel)]="newDirectory.name"
                                (focusout)="cancelCreateDirectory()"
                                (keyup.enter)="createDirectory(newDirectory)"
                                (keyup.escape)="cancelCreateDirectory()"
                            >
                            <div class="invalid-feedback ml-4" *ngIf="newDirectoryError">
                                {{newDirectoryError}}
                            </div>
                        </div>
                    </li>
                    <!-- END:Новая директория -->

                    <li
                        class="disk-list__item"
                        *ngFor="let directory of directories; let i = index"
                        [class.is-active]="directory.selected"
                        [class.is-freeze]="selectedRow === i"
                    >
                        <app-disk-directory
                            *ngIf="currentDirectoryID; else dirsRoot"
                            [directory]="directory"
                            [renderCheckbox]="false"
                            (directorySelected)="handleItemSelected($event)"
                            (open)="open(directory)">
                        </app-disk-directory>
                        <ng-template #dirsRoot>
                            <app-disk-directory
                                [root]="true"
                                [directory]="directory"
                                (directorySelected)="handleItemSelected($event)"
                                (open)="open(directory)">
                            </app-disk-directory>
                        </ng-template>
                    </li>

                    <ng-container *ngFor="let link of currentLinks">
                        <li
                            class="disk-list__item" *ngIf="link.type === typeLink.directory">
                            <app-disk-symlink [link]="link"
                                (linkSelected)="handleItemSelected($event)"
                                (linkDeleted)="deleteLink($event)"
                                (open)="open(link)"></app-disk-symlink>
                        </li>
                    </ng-container>


                    <li
                        class="disk-list__item"
                        *ngFor="let file of files"
                        [class.is-active]="file.selected">
                        <app-disk-file
                            [file]="file"
                            (fileSelected)="handleItemSelected($event)"
                            (open)="open(file)"></app-disk-file>
                    </li>

                    <ng-container *ngFor="let link of currentLinks">
                        <li
                            class="disk-list__item" *ngIf="link.type === typeLink.file">
                            <app-disk-symlink [link]="link"
                                (linkSelected)="handleItemSelected($event)"
                                (linkDeleted)="deleteLink($event)"
                                (open)="open(link)"></app-disk-symlink>
                        </li>
                    </ng-container>

                    <li
                        *ngFor="let file of uploadingFiles"
                        class="disk-list__item disk-list__item_downloading">

                        <app-disk-upload [file]="file"
                            (uploadCanceled)="handleUploadCancelled($event)"></app-disk-upload>
                    </li>
                    <li class="disk-list__item disk-list__item_anchor" #uploadFilesContainer></li>

                    <li *ngIf="contentLoaded && folderIsEmpty && !creatingNewDirectory && !permissionDenied" class="empty-li">
                        <p class="empty-folder">
                            <span *ngIf="!favoriteRoute">
                                <span>{{'app.disk.listing.directory@directory-is-empty'|translate}} </span>
                                <a class="empty-folder-action" href="javascript:;" (click)="prepareCreateDirectory()">{{'app.disk.listing.directory@directory-is-empty-directory'|translate}}</a>
                                <span> {{'app.disk.listing.directory@directory-is-empty-or'|translate}} </span>
                                <label class="empty-folder-action" for="fileInput">{{'app.disk.listing.directory@directory-is-empty-file'|translate}}</label>
                            </span>
                            <span *ngIf="favoriteRoute" class="favorite-text">
                                <span>{{'app.disk.listing.directory@directory-is-empty-fav'|translate}}</span>
                            </span>
                        </p>
                    </li>
                    <li *ngIf="contentLoaded && permissionDenied" class="empty-li">
                        <p class="empty-folder text-danger">
                            {{'app.disk.listing.directory@permission-denied'|translate}}
                        </p>
                    </li>

                </ul>
            </div> <!-- /dropzone -->
        </div> <!-- END:Список файлов/папок -->
    </div>
</app-page-content> <!-- /files -->

<div *ngIf="isModalWindow" class="modal-footer">
    <button elmaButton="primary" (click)="emitFileLikeItemList()">
        {{ 'app.disk.listing.directory@modal-upload'|translate }}
    </button>
    <button elmaButton="default" (click)="closeThisModalWindow()">
        {{ 'app.disk.listing.directory@modal-close'|translate }}
    </button>
</div>
<!-- END:Файлы -->

<!-- Дополнительные элементы и шаблоны -->

<ng-template #arrowTitle>
    <i *ngIf="sortDirection.increment; else downArrow" class="elma-icons md-18">arrow_up</i>
    <ng-template #downArrow>
        <i class="elma-icons md-18 title-row">arrow_down</i>
    </ng-template>
</ng-template>

<elma-popup size="sm" [title]="'app.disk.listing@file-creation'|translate" #officeFileName>
    <elma-form (onSubmit)="createOfficeFileLink.click()">
        <div class="modal-body">
            <elma-form-row label="{{'app.disk.listing@file-name'|translate}}">
                <input type="text" required [(ngModel)]="newOfficeFileName" #officeFileNameInput>
            </elma-form-row>
        </div>
        <div class="modal-footer">
            <a class="btn"
                [class.disabled]="!newOfficeFileName"
                [routerLink]="['/files/newoffice', newOfficeFileFormat]"
                [queryParams]="{filename: newOfficeFileName, directory: currentDirectoryID}"
                (click)="closeNewOfficeFilePopup()"
                target="_blank"
                elmaButton="primary"
                #createOfficeFileLink
            >{{'app.disk.listing@create'|translate}}</a>
            <button type="button" elmaButton="default" (click)="officeFileName.closePopup()">
                {{'app.disk.listing@cancel'|translate}}
            </button>
        </div>
    </elma-form>
</elma-popup>

<form
    #fileInputForm
    id="fileInputForm"
    class="file-form"
>
    <input
        id="fileInput"
        type="file"
        name="file"
        ngFileSelect
        (uploadOutput)="onUploadOutput($event)"
        [uploadInput]="uploadInput"
        multiple
        capture
    >
</form>

<elma-popover [position]="'left'" #deletePopover>
    <div class="popover-body">
        <button
            elmaButton="danger"
            (click)="deleteSelectedItemList();deletePopover.hide();">
            {{'app.disk.listing.directory@delete-confirm'|translate}}
        </button>
    </div>
</elma-popover>

<elma-popover
    *elmaDesktop
    [position]="'bottom'"
    [shift]="1"
    #newFilePopover
>
    <div class="popover-body">
        <ul class="ctx-menu">
            <li class="ctx-menu__item">
                <label
                    for="fileInput"
                >
                    <i class="elma-icons ctx-menu__icon">system_upload</i>
                    {{'app.disk.listing@load-file'|translate}}
                </label>
            </li>
            <li
                class="ctx-menu__item"
                (click)="openNewOfficeFileName('docx')"
            >
                <app-msoffice-icon
                    class="ctx-menu__icon"
                    [doctype]="'Word'"
                ></app-msoffice-icon>
                <span class="ctx-menu__text">Word</span>
            </li>
            <li
                class="ctx-menu__item"
                (click)="openNewOfficeFileName('xlsx')"
            >
                <app-msoffice-icon
                    class="ctx-menu__icon"
                    [doctype]="'Excel'"
                ></app-msoffice-icon>
                <span class="ctx-menu__text">Excel</span>
            </li>
            <li
                class="ctx-menu__item"
                (click)="openNewOfficeFileName('pptx')"
            >
                <app-msoffice-icon
                    class="ctx-menu__icon"
                    [doctype]="'PowerPoint'"
                ></app-msoffice-icon>
                <span class="ctx-menu__text">PowerPoint</span>
            </li>
        </ul>
    </div>
</elma-popover>
