@import '../../../../../styles/common-import';

:host {
    border-bottom: 1px solid #ededed;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
}

.directory-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    @include media-breakpoint-up(lg) {
        padding-right: $grid-gutter-width;
    }
}

.directory {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    color: inherit;
    padding: 0 48px;
    line-height: 1;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        flex: 1;
        align-items: center;
        width: auto;
        padding: 0 56px 0 50px;
    }
    &__icon {
        display: flex;
        flex: 0;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
        color: #5e5e5e;

        @include media-breakpoint-up(lg) {
            width: 50px;
        }
        &.md-24 {
            @include media-breakpoint-up(lg) {
                font-size: 18px !important;
            }
        }
        .is-active & {
            color: #fff;
        }
    }
    &__name {
        overflow: hidden;
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media-breakpoint-down(md) {
            margin: 1em 0 3em;
            padding-right: 40px;
        }
    }
}

.progress-wrapper {
    @include media-breakpoint-down(md) {
        position: absolute;
        bottom: 1.4em;
        left: 48px;
        right: 48px;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 270px;
        padding: 0 $grid-gutter-padding;
    }
}

.progress-percentage {
    margin-bottom: 0.5em;
    text-align: right;
    font-size: 80%;

    @include media-breakpoint-up(lg) {
        min-width: 1em;
        will-change: width;
        transition: width 500ms;
    }
}

.progress-bar {
    height: 3px;
    will-change: width;
    transition: width 500ms;
}

.btn-control_cancel {
    border: 0;
    width: 36px;
    height: 36px;
    margin: auto;
    padding: 0;
    appearance: none;
    background: none;
    color: red;
    cursor: pointer;
}
