<div class="directory">
    <i class="directory__icon elma-icons md-18">file_type_blank</i>
    <div class="directory__name">{{ file.name }}</div>
    <div class="progress-wrapper">
        <div
            class="progress-percentage"
            [style.width]="file.progress.data?.percentage + '%'"
        >
            {{file.progress.data?.percentage + '%'}}
        </div>
        <div class="progress h-100">
            <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                [style.width]="file.progress.data?.percentage + '%'"
            ></div>
        </div>
    </div>
</div>

<div class="directory-controls">
    <button
        elmaButton="default"
        elmaButtonStyle="icon"
        class="btn-control_cancel"
        (click)="cancelUpload(file.id)">system_close</button>
</div>
