<app-appview-list
    #list
    [config]="config"
    [allowedLayouts]="[ Layout.Table ]"
    [fieldTemplates]="{ __template: CategoryTemplateCellComponent }"
    (itemClick)="onTemplateClick($event)"
>

    <ng-container header>
        <div class="top-panel__crumbs">
            <div class="content-header__title">
                <elma-crumbs></elma-crumbs>
            </div>
        </div>
    </ng-container>

</app-appview-list>
