<elma-widget-template-renderer
    *ngIf="formTemplate"
    [template]="formTemplate"
    [data]="widgetData"
    (afterInit)="onWidgetInit($event)"
></elma-widget-template-renderer>

<ng-container *ngIf="exit && exit.settings.confirm !== 'none'">
    <elma-popover
        #confirmPopover
        [size]="exit.settings.popoverSize"
    >
        <div class="popover-body">
            <ng-container [ngSwitch]="exit.settings.confirm">
                <ng-container *ngSwitchCase="'text'">
                    <p>{{ exit.settings.confirmText }}</p>
                </ng-container>
                <ng-container *ngSwitchCase="'form'">
                    <app-dynamic-form
                        *ngIf="form !== undefined"
                        #confirmForm
                        [item]="form.value"
                        [fields]="exit.fields"
                        (onSubmit)="submit()"
                    ></app-dynamic-form>
                </ng-container>
            </ng-container>
            <div class="btn-group">
                <button
                    [elmaButton]="exit.settings.buttonClass"
                    (click)="confirmAction()"
                >{{ exit.name }}</button>
                <button
                    elmaButton
                    (click)="confirmPopover.hide()"
                >{{ 'buttons@cancel' | translate }}</button>
            </div>
        </div>
    </elma-popover>
</ng-container>
