<div class="auth-form-wrapper">
    <div class="header">
        <div class="header__inner">
            <div class="logo">
                <a [href]="vahterHost"><img src="assets/images/logo.svg"></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="form">
            <elma-form
                #authForm
                autocomplete="off"
                (onSubmit)="onSubmit()"
            >
                <div class="form-header">
                    <div class="form-title">
                        <h1 class="form-title__text">
                            <ng-container>{{'app.entry-points.auth@welcome'|translate}}</ng-container>
                        </h1>
                    </div>
                    <div class="form-domain">
                        <span class="form-domain__text">
                            {{ company }}
                        </span>
                    </div>
                </div>
                <div class="form-content">

                    <p
                        class="unauthorized elma-form-errors"
                        *ngIf="!isSubmitPending && isNotAuthorized"
                    >
                        {{ 'app.entry-points.auth@invalid-creds' | translate }}
                    </p>

                    <p
                        class="unauthorized elma-form-errors"
                        *ngIf="!isSubmitPending && isBlocked"
                    >
                        {{ 'app.entry-points.auth@blocked' | translate }}
                    </p>

                    <elma-form-row>
                        <div class="form-content__input">
                            <input
                                #email
                                type="email"
                                autocomplete="off"
                                required
                                name="email"
                                placeholder="{{'app.entry-points.auth@email'|translate}}"
                                [disabled]="isSubmitPending"
                                [(ngModel)]="creds.email"
                            >
                        </div>
                    </elma-form-row>
                    <elma-form-row>
                        <div class="form-content__input">
                            <input
                                #password
                                type="password"
                                autocomplete="off"
                                name="password"
                                required
                                placeholder="{{'app.entry-points.auth@password'|translate}}"
                                [disabled]="isSubmitPending"
                                [(ngModel)]="creds.password"
                            >
                        </div>
                    </elma-form-row>
                    <div class="form-content__options">
                        <div class="options-forget">
                            <elma-checkbox
                                class="options-forget__input"
                                name="dont-remember"
                                [label]="('app.entry-points.auth@remember-me'|translate)"
                                [(ngModel)]="creds.remember"
                            ></elma-checkbox>
                        </div>
                        <div class="options-restore">
                            <button
                                class="options-restore__link"
                                elmaButton="link"
                                type="button"
                            >
                                <ng-container *elmaMobile>
                                    <a
                                        [title]="'app.entry-points.auth@forgot-password-mobile'|translate"
                                        [href]="vahterHost + '/restore.html?email=' + encode(creds.email)"
                                    >
                                        {{'app.entry-points.auth@forgot-password-mobile'|translate}}
                                    </a>
                                </ng-container>
                                <ng-container *elmaDesktop>
                                    <a
                                        [title]="'app.entry-points.auth@forgot-password'|translate"
                                        [href]="vahterHost + '/restore.html?email=' + encode(creds.email)"
                                    >
                                        {{'app.entry-points.auth@forgot-password'|translate}}
                                    </a>
                                </ng-container>
                            </button>
                        </div>
                    </div>
                    <div class="form-content__submit">
                        <button
                            class="submit-button"
                            elmaButton="default"
                            type="submit"
                            [disabled]="(authForm.form && !authForm.form.valid) || isSubmitPending"
                        >
                            {{'app.entry-points.auth@sign-in'|translate}}
                        </button>
                    </div>
                </div>
            </elma-form>
        </div>
    </div>
</div>
