@import '../../../../styles/common-import';

$border-bottom-color:       #6bbce2;
$submit-button-color:       #ffc107;

:host {
    display: block;
    height: 100%;

    ::ng-deep {
        .elma-form-errors {
            font-size: 12px;
        }
        .elma-form-errors > div {
            padding-top: 5px;
        }

        .ui-chkbox-label {
            color: $base-text-color;
            font-size: 17px;
        }
        .elma-form-row {
            margin-bottom: 0 !important;
        }
        elma-form-label {
            display: none !important;
        }
        .form-wrapper {
            width: 100%;
        }
    }
}

.auth-form-wrapper {
    background: #6dbbdf;
    position: relative;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    display: block;
}

.header {
    padding: 0 15px;
    position: absolute;
    width: 100%;

    &__inner {
        margin: 0 auto;
        width: 100%;
        @include media-breakpoint-up(lg) {
            max-width: 1140px;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 510px;
        }
    }

    @include media-breakpoint-up(lg) {
        height: $header-height-lg;
    }
    @include media-breakpoint-down(md) {
        height: $header-height-md;
    }
    @include media-breakpoint-down(sm) {
        height: $header-height-md;
        width: 100%;
        left: 0;
    }
    .logo {
        display: flex;
        @include media-breakpoint-up(lg) {
            margin-left: 15px;
        }

        @include media-breakpoint-up(lg) {
            width: 153px;
        }
        @include media-breakpoint-down(md) {
            width: 117px;
        }

        a {
            flex: 1 1;
            display: flex;
            width: 153px;
            height: 31px;

            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }
            @include media-breakpoint-down(md) {
                margin-top: 13px;
            }

            img {
                width: 153px;
                height: 31px;
            }
        }
    }
}

.content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 0 $grid-gutter-padding;
    height: 100%;

    &:before {
        content: '';
        display: block;

        @include media-breakpoint-up(lg) {
            min-height: $header-height-lg;
        }
        @include media-breakpoint-down(md) {
            min-height: $header-height-md;
        }
    }

    &:after {
        content: '';
        display: block;

        @include media-breakpoint-up(lg) {
            min-height: $header-height-lg;
        }
        @include media-breakpoint-down(md) {
            min-height: $header-height-md;
        }
    }

    .unauthorized {
        font-size: inherit;
    }

    input.ng-invalid {
        border-bottom: 1px solid $firm-red !important;
    }

    .form {
        background: #fff;
        border-radius: $border-radius-lg;
        margin: auto;

        @include media-breakpoint-up(lg) {
            width: 510px;
            padding: 30px 30px 40px 30px;
        }
        @include media-breakpoint-down(md) {
            padding: 25px 10px 40px 10px;
            width: calc(100% - 20px);
            max-width: 510px;
        }
        .form-header {
            display: flex;

            .form-title {
                &__text {
                    line-height: 1em;
                    display: block;
                    color: $base-text-color;
                    margin-right: $grid-gutter-padding;
                    font-size: 26px;

                    @include media-breakpoint-up(lg) {
                        margin-top: 0;
                    }
                    @include media-breakpoint-down(md) {
                        margin-top: 10px;
                    }
                }
            }
            .form-domain {
                &__text {
                    line-height: 26px;
                    height: 26px;
                    color: $base-text-color;
                    font-weight: $font-weight-semibold;
                    background-color: #c3e2f0;
                    border-radius: 13px;
                    box-shadow: none;
                    padding: 0 $grid-gutter-padding;
                    display: inline-block;
                    font-size: 17px;
                    @include media-breakpoint-up(lg) {
                        margin-top: 2px;
                    }
                    @include media-breakpoint-down(md) {
                        margin-top: 12px;
                    }
                }
            }
        }
        .form-content {
            margin-top: 30px;
            &__input {
                input {
                    border-radius: 0!important;
                    display: block;
                    width: 100%;
                    padding: 0.5rem 0 6px 0;
                    font-size: 17px;
                    line-height: 1.25;
                    color: #b2b2b2;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid $border-bottom-color;
                    background: transparent!important;
                    &::placeholder {
                        color: #b2b2b2;
                    }
                    &:-webkit-autofill {
                        -webkit-box-shadow: inset 0 0 0 100px #fff;
                        -webkit-text-fill-color: #b2b2b2 !important;
                    }
                    &:focus {
                        box-shadow: inset 0 0 0 100px #fff;
                        -webkit-box-shadow: inset 0 0 0 100px #fff;
                        -webkit-text-fill-color: $base-text-color !important;
                    }
                    &[type="password"] {
                        margin-top: 24px;
                    }
                }
            }
            &__options {
                display: flex;
                @include media-breakpoint-up(lg) {
                    margin-top: 25px;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 25px;
                }
                .options-forget {
                    flex-basis: 50%;
                }
                .options-restore {
                    text-align: right;
                    flex-basis: 50%;

                    &__link {
                        display: inline-block;
                        color: #408bca;
                        font-size: 17px;
                        text-decoration: none;
                        border-bottom: 1px solid #c7ddef;
                        height: unset;
                        padding-bottom: 10px;
                        line-height: 20px;
                    }
                }
            }
            &__submit {

                @include media-breakpoint-up(lg) {
                    margin-top: 25px;
                }
                @include media-breakpoint-down(md) {
                    margin-top: 15px;
                }
                .submit-button {
                    background-color: $submit-button-color;
                    border-color: $submit-button-color;
                    color: #fff;
                    cursor: pointer;
                    padding: 16px 22px;
                    height: unset;
                    font-size: 18px;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
