<div class="modal-body">
    <app-navigation-disk
        [treeType]="TreeType.file"
        (directoryId)="setTargetDirectory($event)">
    </app-navigation-disk>
</div>
<div class="modal-footer">
    <button [disabled]="!(targetDirectoryID && targetDirectoryID != parentDirId)"
        class="move-btn"
        elmaButton="primary"
        (click)="createLink();">
        {{'app.disk.listing.directory@create'|translate}}
    </button>
    <button
        elmaButton="default"
        (click)="activeModal.close('Close click')">
        {{'app.disk.listing.directory@cancel'|translate}}
    </button>
</div>
