:host {

    height: 70vh;
    display: flex;
    flex-direction: column;

    .modal-body {
        overflow: auto;
    }

    .modal-footer {
        justify-content: flex-start;
    }
    .move-btn {
        background-color: #5cb85c;
        color: #fff;
    }
    .close {
        cursor: pointer;
    }

    ::ng-deep app-navigation-disk {
        box-shadow: none;
    }

}

