@import '../../../../styles/common-import';

:host {
    ::ng-deep {
        .btn_add-app {
            margin: auto;
            height: auto;
            padding: $btn-padding-y-lg*1.05 $btn-padding-x-lg;
            .elma-icons {
                font-size: 250%;
            }
        }
    }
}

.app-page-content {
    &_50 {
        @include media-breakpoint-up(lg) {
            flex: 1 1 50%;
            max-width: 50%;
        }
        & + .app-page-content_50 {
            margin-top: $grid-gutter-padding;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }

    .custom-page {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;

        ::ng-deep {
            .title {
                border-bottom: 1px solid #eee;
                display: flex;
                flex: 0 0 60px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding-left: 60px;
                padding-right: 60px;

                @include media-breakpoint-up(lg) {
                    border: 0;
                    flex-basis: 60px;
                    padding: 18px $grid-gutter-width;
                }

                .crumbs {
                    font-weight: bold;
                    font-size: 124%;
                    width: 100%;
                }
            }
        }
    }
}
