<ng-container *mobxAutorun>
    <ng-container *ngIf="!customPageCode">
        <ng-container *ngFor="let col of columns">
            <div
                class="app-page-content"
                *ngIf="page?.data.widgets.length === columns.length"
                [class.app-page-content_50]="columns.length > 1"
            >
                <app-page-wrapper
                    #pageWrapper
                    *ngIf="page?.data?.widgets[col]"
                    [page]="page"
                    [widget]="page.data.widgets[col]"
                    [widgetNum]="col"
                ></app-page-wrapper>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="customPageCode && page">
        <div class="app-page-content">
            <div class="custom-page">
                <ng-container [ngSwitch]="customPageCode">
                    <app-application-config-permissions
                        *ngSwitchCase="'_permissions'"
                        [page]="page"
                    ></app-application-config-permissions>
                    <app-application-config-status
                        *ngSwitchCase="'_status'"
                        [page]="page"
                    ></app-application-config-status>
                    <app-application-config-registration
                        *ngSwitchCase="'_registration'"
                        [page]="page"
                    ></app-application-config-registration>
                    <app-namespace-process
                        *ngSwitchCase="'_processes'"
                        [page]="page"
                    ></app-namespace-process>
                    <app-namespace-serial
                        *ngSwitchCase="'_serial'"
                        [page]="page"
                    ></app-namespace-serial>
                    <app-namespace-groups
                        *ngSwitchCase="'_groups'"
                        [page]="page"
                    ></app-namespace-groups>
                    <app-application-config-docname
                        *ngSwitchCase="'_docname'"
                        [page]="page"
                    ></app-application-config-docname>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-container>
