@import '../../../../styles/common-import';

//:host {
//    display: flex;
//    flex: 1 1 auto;
//    flex-direction: column;
//    color: #57565d;
//
//    @include media-breakpoint-up(lg) {
//        height: calc(100% - 64px);
//    }
//}
