<div
    *mobxAutorun
    class="side-nav__item side-nav__item_title"
    title="{{ namespace.name }}"
>
    <div class="side-nav__item-link">
        <i class="elma-icons md-18">{{namespace.icon}}</i>
        <ng-template
            [ngTemplateOutlet]="itemName"
            [ngTemplateOutletContext]="{ page: namespace }"
        ></ng-template>
    </div>
    <button
        *elmaCustomization="!namespace.system"
        type="button"
        class="settings"
        elmaButton="customization"
        elmaButtonStyle="icon"
        (click)="hideContextMenu();namespaceOptions.show($event)"
    >settings</button>
</div>

<div
    *mobxAutorun
    class="side-nav__scope"
    appScrollShadow
>
    <ng-container *ngFor="let app of applications">
        <ng-container [ngSwitch]="app.type">
            <div
                *ngSwitchCase="PageType.Separator"
                class="side-nav__item side-nav__item_separator"
                title="{{ app.name }}"
            >
                <div class="side-nav__separator">
                    <ng-template
                        [ngTemplateOutlet]="itemName"
                        [ngTemplateOutletContext]="{ page: app }"
                    ></ng-template>
                </div>
                <ng-container *ngIf="!app.system">
                    <button
                        *elmaCustomization
                        type="button"
                        class="settings"
                        elmaButton="customization"
                        elmaButtonStyle="icon"
                        (click)="editPage($event, app)"
                    >settings</button>
                </ng-container>
            </div>

            <ng-container *ngSwitchCase="PageType.Link">
                <div
                    *ngIf="app.data.routerLink"
                    class="side-nav__item"
                    [class.active]="app.code === activePage.code"
                >
                    <a
                        class="side-nav__item-link"
                        [title]="app.name"
                        [routerLink]="[app.data.routerLink[0]]"
                    >
                        <i class="elma-icons md-18">{{app.icon}}</i>
                        <ng-template
                            [ngTemplateOutlet]="itemName"
                            [ngTemplateOutletContext]="{ page: app }"
                        ></ng-template>
                    </a>
                </div>
                <ng-container *ngIf="!app.data.routerLink">
                    <div class="side-nav__item">
                        <a
                            title="{{ app.name }}"
                            class="side-nav__item-link"
                            [class.active]="app.code === activePage.code"
                            [href]="app.data.redirectTo"
                        >
                            <i class="elma-icons md-18">{{app.icon}}</i>
                            <ng-template
                                [ngTemplateOutlet]="itemName"
                                [ngTemplateOutletContext]="{ page: app }"
                            ></ng-template>
                        </a>
                        <ng-container *ngIf="!app.system">
                            <button
                                *elmaCustomization
                                type="button"
                                class="settings"
                                elmaButton="customization"
                                elmaButtonStyle="icon"
                                (click)="editPage($event,app)"
                            >settings</button>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="PageType.Page">
                <ng-template
                    [ngTemplateOutlet]="navLink"
                    [ngTemplateOutletContext]="{app: app}"
                ></ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="PageType.Application">
                <ng-template
                    [ngTemplateOutlet]="navLink"
                    [ngTemplateOutletContext]="{app: app}"
                ></ng-template>
            </ng-container>

            <ng-container *ngSwitchDefault="">
                UNKNOWN PAGE TYPE {{app.type}}
            </ng-container>

        </ng-container>
    </ng-container>
    <ng-container *elmaCustomization="!namespace.system">
        <div class="sidebar-controls">
            <button
                elmaButton="customization"
                ngClass="btn-accent btn-accent_dark btn-block"
                (click)="appendApplication.show()"
                title="{{ 'navigation.namespace@add-app' | translate }}"
            >
                <i class="elma-icons">system_add_round</i>
                {{ 'navigation.namespace@add-app' | translate }}
            </button>
            <a
                class="edit-link"
                href="javascript:void(0)"
                (click)="openPageEditor()"
                title="{{ 'navigation.namespace@edit-apps' | translate }}"
            >
                {{ 'navigation.namespace@edit-apps' | translate }}
            </a>
        </div>
        <app-navigation-namespace-append-application
            #appendApplication
            [namespace]="namespace"
            [baseUrl]="BASE_URL"
        ></app-navigation-namespace-append-application>
    </ng-container>
</div>

<ng-template #navLink let-app="app">
    <div class="side-nav__item">
        <a
            title="{{ app.name }}"
            class="side-nav__item-link"
            [class.active]="app.code === activePage.code"
            [class.filter]="app.code === activePage.code && filterId"
            [routerLink]="[namespace.code, app.code]"
            (click)="onPageClick()"
        >
            <i class="elma-icons md-18">
                {{app.icon}}
            </i>
            <ng-template
                [ngTemplateOutlet]="itemName"
                [ngTemplateOutletContext]="{ page: app }"
            ></ng-template>
        </a>
        <button
            *elmaCustomization="hasContextMenu(app)"
            type="button"
            class="settings"
            elmaButton="customization"
            elmaButtonStyle="icon"
            (click)="showContextMenu($event, app);"
        >settings</button>
    </div>
    <app-navigation-workarea
        *ngIf="app.type === PageType.Application && app.code === activePage.code"
        [application]="currentApplication"
        [filterId]="filterId"
    ></app-navigation-workarea>
</ng-template>

<ng-template #itemName let-page="page">
    <span class="side-nav__item-label">{{ page.name }}</span>
</ng-template>

<ng-container *elmaCustomization>
    <app-application-options
        #applicationOptions
        [application]="currentApplication"
        (showFieldsEvent)="showFields($event)"
    ></app-application-options>

    <app-page-settings
        #pageSettings
        [invisible]="true"
        (onWidgetChange)="changeWidget($event)"
    ></app-page-settings>

    <app-application-config-fields
        #fieldsModal
    ></app-application-config-fields>
</ng-container>

<app-namespace-options
    *elmaCustomization="!namespace.system"
    #namespaceOptions
    [namespace]="namespace"
></app-namespace-options>
