@import '../../../../styles/common-import';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    ::ng-deep {
        .confirm .popover-content {
            min-width: auto !important;
            height: auto !important;
        }
    }
    .schedule {
        &__section {
            display: block;
            margin-bottom: .8rem;
        }
        ::ng-deep {
            .shedule {
                &__title {
                    height: 3.3rem;
                    line-height: 3.3rem;
                    margin-bottom: .8rem;
                }
                &__row {
                    display: flex;
                    margin: .75rem 0;
                }
            }
        }
    }
    .save-button-wrapper {
        padding: 0.75rem;
        background-color: $firm-gray;
    }
}
