<app-page-header>
    <ng-container title>
        <app-breadcrumbs
            [homeLabel]="'system.pages.admin@name' | translate"
            [homeRouterLink]="['..']"
            [label]="'system.pages.admin.worktimer@name'|translate"
        ></app-breadcrumbs>
    </ng-container>
</app-page-header>
<app-page-content>
    <div class="schedule">
        <div class="shedule__section">
            <app-admin-worktimer-dayschedule
                [scheduleRange]="dayScheduleRanges"></app-admin-worktimer-dayschedule>
        </div>
        <div class="shedule__section">
            <app-admin-worktimer-workingdays
                [workingDays]="weekends"></app-admin-worktimer-workingdays>
        </div>
        <div class="schedule__section">
            <app-admin-worktimer-specialdays
                [work]="dayScheduleRanges.workingTime"
                [specialDays]="specialDays"
            ></app-admin-worktimer-specialdays>
        </div>
        <div class="save-button-wrapper">
            <button
                elmaButton="customization"
                (click)="save()"
            >{{ 'app.modules.admin.worktimer.save@title'|translate }}</button>
        </div>
    </div>
</app-page-content>
