<h5 class="shedule__title">{{ 'app.modules.admin.worktimer.daychedule@title'|translate }}</h5>

<div *mobxAutorun>
    <div class="shedule__row">
        <div class="shedule__col col-2 title-wrapper">
            <span>{{ 'app.modules.admin.worktimer.daychedule@workingtime'|translate }}</span>
        </div>
        <div class="shedule__col col-4">
            <app-admin-workingdays-timerange
                (changeRange)="setWorkingTimeSchedule($event)"
                [from]="scheduleRange.workingTime.from"
                [to]="scheduleRange.workingTime.to"
            ></app-admin-workingdays-timerange>
        </div>
    </div>

    <div class="shedule__row">
        <div class="shedule__col col-2 title-wrapper">
            <span>{{ 'app.modules.admin.worktimer.daychedule@lunchtime'|translate }}</span>
        </div>
        <div class="shedule__col col-4">
            <app-admin-workingdays-timerange
                (changeRange)="setLunchTimeSchedule($event)"
                [from]="scheduleRange.lunchTime.from"
                [to]="scheduleRange.lunchTime.to"
            ></app-admin-workingdays-timerange>
        </div>
    </div>
</div>
