@import '../../../../../styles/common-import';

:host {
    padding: 0.8rem 0;

    .title-wrapper {
        span {
            line-height: 3.2rem;
            vertical-align: middle;
        }
    }
}
