<elma-popover class="context-menu"
    #popover
    *ngIf="application"
    [position]="'right'"
    [shift]="'10px'"
    [showClose]="false"
>
    <h4 class="context-menu__title context-menu__title_button">
        <button
            elmaButton="customization"
            (click)="showFields()"
        >
            {{'navigation.application.options@form-customization' | translate}}
        </button>
    </h4>
    <ul class="menu-group nav flex-column" *ngIf="page">
        <li class="menu-group__item" *ngIf="application.type==ApplicationType.Document">
            <h5 class="menu-group__option menu-group__option_title">
                {{'navigation.application.options@document-management' | translate}}
            </h5>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [page.namespace, page.code,'_registration'], p: null}}]"
                (click)="popover.hide();"
            >
                {{'navigation.application.options@registration' | translate}}
            </a>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [page.namespace, page.code,'_docname'], p: null}}]"
                (click)="popover.hide();"
            >
                {{'navigation.application.options@doc-name' | translate}}
            </a>
        </li>
        <li class="menu-group__item">
            <h5 class="menu-group__option menu-group__option_title">
                {{'navigation.application.options@constructor' | translate}}
            </h5>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
            >
                {{'navigation.application.options@application-options' | translate}}
            </a>
            <a
                class="menu-group__option"
                [routerLink]="['', { outlets: { primary: [page.namespace, page.code, '_permissions']}}]"
                (click)="popover.hide();"
            >
                {{'navigation.application.options@access-control' | translate}}
            </a>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [page.namespace, page.code,'_status'], p: null}}]"
                (click)="popover.hide();"
            >
                {{'navigation.application.options@field-status' | translate}}
            </a>
            <a
                href="javascript:void();"
                [routerLink]="['', {outlets: {primary: [page.namespace,page.code,'_processes'], p: null}}]"
                (click)="hide()"
                class="menu-group__option"
            >
                {{'navigation.application.options@business-processes'|translate}}
            </a>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
            >
                {{'navigation.application.options@api' | translate}}
            </a>
        </li>
        <li class="menu-group__item">
            <h5 class="menu-group__option menu-group__option_title">
                {{'navigation.application.options@application-management' | translate}}
            </h5>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
            >
                {{'navigation.application.options@application-visibility' | translate}}
            </a>
            <a
                href="javascript:void(0);"
                class="menu-group__option"
                [routerLink]="['', {outlets: {p: ['export','application', page.namespace, page.code]}}]"
                (click)="popover.hide();"
            >
                {{'navigation.application.options@export' | translate}}
            </a>
            <a
                href="javascript:void(0);"
                class="menu-group__option"
                (click)="confirmDelete($event)"
            >
                {{'navigation.application.options@delete' | translate}}
            </a>
        </li>
    </ul>
</elma-popover>

<elma-popover class="confirm" [position]="'right'" [shift]="'18px'"
    #confirmDeletePopover
>
    <div class="popover-body">
        <button
            [elmaButton]="'danger'"
            (click)="delete()"
        >
            {{ 'app.pages.page-editor@delete-confirm' | translate }}
        </button>
    </div>
</elma-popover>
