<ng-container *ngIf="widget?.type">

    <ng-container
        *mobxAutorun
    >
        <ng-container [ngSwitch]="widget.type">

            <app-appview
                *ngSwitchCase="WidgetType.Appview"
                [layout]="page.data.layout"
                [config]="widget.data"
                [page]="page"
            ></app-appview>

            <ng-container
                *ngSwitchCase="WidgetType.Tasks"
            >
                <app-widget-tasks-list></app-widget-tasks-list>
            </ng-container>

            <ng-container
                *ngSwitchCase="WidgetType.Feed"
            >
                <app-page-settings
                    class="cog-button"
                    [page]="page"
                    [widget]="widget"
                    [widgetNum]="widgetNum"
                    (onWidgetChange)="changeWidget($event)"
                ></app-page-settings>

                Заготовка виджета ленты
            </ng-container>

            <app-external-widget
                *ngSwitchCase="WidgetType.Custom"
                [customWidgetId]="widget.customWidgetId"
            >
                <app-page-settings
                    class="cog-button"
                    [page]="page"
                    [widget]="widget"
                    [widgetNum]="widgetNum"
                    (onWidgetChange)="changeWidget($event)"
                ></app-page-settings>

            </app-external-widget>

            <ng-container *ngSwitchDefault>

                <app-namespace-details
                    *ngIf="page.type === PageType.Namespace"
                    [namespace]="page"
                ></app-namespace-details>

                <ng-container
                    *ngIf="page.type !== PageType.Namespace && !loading"
                >
                    <app-page-settings
                        [creator]="true"
                        [page]="page"
                        [widgetNum]="widgetNum"
                        (onWidgetChange)="changeWidget($event)"
                    ></app-page-settings>
                </ng-container>

                <ng-container
                    *ngIf="page.type !== PageType.Namespace && loading"
                >
                    <elma-spinner></elma-spinner>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-container *ngIf="!widget">
    <ng-container>
        NO WIDGET FOR PAGE {{page?.name}}
    </ng-container>
</ng-container>
