<span *ngIf="startPositionCurrency">{{ currencySymbol }}</span>
<elma-number
    #input
    [disabled]="field.readonly"
    [inputId]="field.code"
    [(ngModel)]="viewValue"
    [isFloat]="true"
    [decimalSeparator]="decimalSeparator"
    [thousandSeparator]="thousandSeparator"
></elma-number>
<span *ngIf="!startPositionCurrency">{{ currencySymbol }}</span>
