<elma-form-row
    [formGroup]="formGroup"
    [control]="formControl"
    [label]="field.name"
    [tooltip]="field.tooltip"
    [required]="field.required"
>

    <ng-container [ngSwitch]="field.type">
        <div *ngSwitchDefault>
            Not implemented
        </div>

        <app-dynamic-form-types-string
            *ngSwitchCase="FieldType.String"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-string>

        <app-dynamic-form-types-number
            *ngSwitchCase="FieldType.Float"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-number>

        <app-dynamic-form-types-boolean
            *ngSwitchCase="FieldType.Boolean"
            #control
            [formControlName]="field.code"
            [field]="field"
        ></app-dynamic-form-types-boolean>

        <app-dynamic-form-types-email
            *ngSwitchCase="FieldType.Email"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-email>

        <app-dynamic-form-types-phone
            *ngSwitchCase="FieldType.Phone"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-phone>

        <app-dynamic-form-types-datetime
            *ngSwitchCase="FieldType.Datetime"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
            [isEditMode]="isEditMode"
        ></app-dynamic-form-types-datetime>

        <app-dynamic-form-types-money
            *ngSwitchCase="FieldType.Money"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-money>

        <app-dynamic-form-types-system-collection
            *ngSwitchCase="FieldType.SystemCollection"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-system-collection>

        <app-dynamic-form-types-user-select
            *ngSwitchCase="FieldType.SystemUser"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-user-select>

        <app-dynamic-form-types-category
            *ngSwitchCase="FieldType.Category"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
            [isEditMode]="isEditMode"
        ></app-dynamic-form-types-category>

        <app-dynamic-form-types-file
            *ngSwitchCase="FieldType.File"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-file>

        <app-dynamic-form-types-image
            *ngSwitchCase="FieldType.Image"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-image>

        <app-dynamic-form-types-full-name
            *ngSwitchCase="FieldType.FullName"
            #control
            [namespace]="namespace"
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-full-name>

        <app-dynamic-form-types-link
            *ngSwitchCase="FieldType.Link"
            #control
            [formControlName]="field.code"
            [currentFormControl]="formControl"
            [field]="field"
        ></app-dynamic-form-types-link>
    </ng-container>

</elma-form-row>
