<div class="workarea"
    *mobxAutorun
>
    <ng-container *ngIf="application && application.filters.length > 0">
        <ul [class.edit-mode]="isEditMode">
            <li *ngFor="let filter of application.filters">

                <button
                    *ngIf="isEditMode && !filter.isEditMode"
                    class="btn-edit"
                    title="{{ 'navigation.application.workarea@rename' | translate }}"
                    elmaButton="customization"
                    elmaButtonStyle="icon"
                    (click)="startFilterRename(filter)"
                >
                    app_pencil
                </button>

                <a
                    *ngIf="filter.id !== filterId && !filter.isEditMode"
                    [routerLink]="['', { outlets: { primary: [ application.namespace, application.code ]}}]"
                    [queryParams]="{ filterId: filter.id }"
                    (click)="onFilterClick()"
                >
                    {{ filter.name }}
                </a>
                <a
                    *ngIf="filter.id === filterId && !filter.isEditMode"
                    class="active"
                >
                    {{ filter.name }}
                </a>

                <ng-container *ngIf="filter.isEditMode">
                    <div class="rename-controls">
                        <input
                            type="text"
                            class="filter-name"
                            appAutofocus
                            elmaSize="sm"
                            (blur)="cancelFilterRename()"
                            (keydown.enter)="renameFilter($event, filter)"
                            (keydown.escape)="cancelFilterRename()"
                            [(ngModel)]="newFilterName"
                        >
                        <button
                            title="{{ 'navigation.application.workarea@rename' | translate }}"
                            class="btn-ok"
                            elmaSize="sm"
                            elmaButton="primary"
                            elmaButtonStyle="icon"
                            (mousedown)="renameFilter($event, filter)"
                        >button_check</button>
                    </div>
                </ng-container>

                <button
                    *ngIf="isEditMode && !filter.isEditMode"
                    title="{{ 'navigation.application.workarea@delete-filter' | translate }}"
                    class="btn-delete"
                    elmaButton="customization"
                    elmaButtonStyle="icon"
                    (click)="confirmDeletePopover.show($event.target)"
                >
                    app_trash
                </button>

                <elma-popover class="confirm" [position]="'right'" [shift]="'18px'" #confirmDeletePopover>
                    <div class="popover-body">
                        <button
                            [elmaButton]="'danger'"
                            (click)="deleteFilter(filter)"
                        >
                            {{ 'navigation.application.workarea@delete-filter-confirm' | translate }}
                        </button>
                    </div>
                </elma-popover>
            </li>
        </ul>

        <button
            class="change-icon"
            *elmaCustomization="!isEditMode"
            title="{{ 'navigation.application.workarea@change-filters' | translate }}"
            [elmaButton]="'customization'"
            [elmaButtonStyle]="'icon'"
            (click)="toggleEditMode()"
        >settings</button>

        <button
            class="change-icon"
            *elmaCustomization="isEditMode"
            title="{{ 'navigation.application.workarea@change-filters-finish' | translate }}"
            [elmaButton]="'customization'"
            [elmaButtonStyle]="'icon'"
            (click)="toggleEditMode()"
        >system_close</button>
    </ng-container>
</div>
