@import '../../../../../styles/common-import';

:host {
    display: block;
    width: 100%;
    ::ng-deep {
        .confirm .popover-content {
            min-width: auto !important;
            height: auto !important;
        }
    }
}

.workarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    background: #f5f5f5;
    font-size: $font-size-base;

    :host-context(.small) & {
        display: none;
    }
    .empty {
        margin: auto;
        padding: $grid-gutter-width;
        font-size: $font-size-small;
    }
    > ul {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        &.edit-mode > li {
            border-bottom-color: #dadada;
            a {
                &:before {
                    content: none;
                }
            }
        }
        > li {
            border-bottom: $border-width solid transparent;
            display: block;
            position: relative;
            &:hover {
                background: #dadada;
            }
            a {
                display: block;
                min-height: $input-btn-height-lg;
                padding:
                    $list-item-padding-y $list-item-padding-x
                    $list-item-padding-y $list-item-padding-x * 4;
                color: $base-text-color;
                line-height: 1;
                text-decoration: none;
                &.active {
                    color: $firm-blue;
                    font-weight: bold;
                }
                &:before {
                    border: $border-width * 2 solid;
                    border-radius: 100%;
                    position: absolute;
                    top: ($list-item-padding-y - .2) + $font-size-base / 2; //.2 half height
                    left: $list-item-padding-x * 3;
                    width: 0;
                    height: 0;
                    content: '';
                    .active & {
                        background: $firm-blue;
                    }
                }
            }
        }
    }
    .rename-controls {
        position: relative;
        padding:
            ($input-btn-height-lg - $input-btn-height-sm) / 2 $list-item-padding-x / 2
            ($input-btn-height-lg - $input-btn-height-sm) / 2 $list-item-padding-x * 2;
        background: #dadada;
    }
    .filter-name {
        padding-right: $input-btn-height;
    }
    .btn-ok {
        border-color: $firm-blue;
        position: absolute;
        top: ($input-btn-height-lg - $input-btn-height-sm) / 2;
        right: $list-item-padding-x / 2;
    }
    .btn-delete {
        position: absolute;
        top: ($input-btn-height-lg - $input-btn-height) / 2;
        right: 0;
    }
    .btn-edit {
        position: absolute;
        top: ($input-btn-height-lg - $input-btn-height) / 2;
        left: $list-item-padding-x * 2;
    }

    .change {
        padding-left: 10px;
        text-decoration: none;

        &.btn.btn-link {
            margin-bottom: 5px;
            padding-left: 30px;
            margin-top: auto;
            text-align: left;
        }
    }

    .change-icon {
        flex: 0 0 auto;
    }
}
