<elma-form (onSubmit)="create()">
    <div class="modal-body">
        <elma-form-row [label]="'app.pages.widget-page-create.form-link@link-name'|translate">
            <input
                #name
                name="name"
                type="text"
                [(ngModel)]="page.name"
                required
            >
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-link@link-url'|translate">
            <input
                name="url"
                type="text"
                [(ngModel)]="page.url"
            >
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-link@icon'|translate">
            <app-iconpicker
                #iconPicker
                name="icon"
                [(ngModel)]="page.icon"
                [defaultIcon]="'business_globe'"
            ></app-iconpicker>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-link@open-in-new-tab'|translate">
            <elma-switch
                name="openInNewTab"
                [isBoolean]="true"
                [options]="['yes', 'no']"
                [translateLabels]="true"
                labelPrefix="app.pages.widget-page-create.form-link@"
                [(ngModel)]="page.openInNewTab"
            ></elma-switch>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-link@access-type'|translate">
            <elma-switch
                name="accessAll"
                [isBoolean]="true"
                [options]="['all', 'me-only']"
                [translateLabels]="true"
                labelPrefix="app.pages.widget-page-create.form-link@access-type-"
                [(ngModel)]="page.accessAll"
            ></elma-switch>
        </elma-form-row>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            elmaButton="customization"
        >
            {{'app.pages.widget-page-create.form-link@create'|translate}}
        </button>
        <button
            type="button"
            elmaButton="default"
            (click)="modal.closePopup()"
        >
            {{'app.pages.widget-page-create.form-link@cancel'|translate}}
        </button>
    </div>
</elma-form>
