<elma-form (onSubmit)="create()">
    <div class="modal-body">
        <elma-form-row [label]="'app.pages.widget-page-create.form-separator@name'|translate">
            <input
                #name
                name="name"
                type="text"
                [(ngModel)]="page.name"
                required
            >
        </elma-form-row>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            elmaButton="customization"
        >
            {{'app.pages.widget-page-create@create' | translate}}
        </button>
        <button
            type="button"
            elmaButton="default"
            (click)="modal.closePopup()"
        >
            {{'app.pages.widget-page-create@cancel' | translate}}
        </button>
    </div>
</elma-form>
