:host {
    overflow: auto;
    display: inline-block;
    min-width: 100%;
    flex: 1;
    box-shadow: inset 0 2px 4px rgba(#000, .07);
    app-nav-item {
        &:first-child {
            @media (max-width: 991px) {
                padding-top: 2em;
            }
        }
    }

    .favorite {
        display: block;
        padding: 7px 15px;
        text-decoration: none;
        color: #5e5e5e;
    }

    .favorite-icon {
        margin-left: 18px;
        .elma-icons {
            margin-top: -.325em;
        }
    }

    .favorite:hover {
        background-color: #eeebea;
    }

    .active {
        color: #3595d2;
    }
}
