<elma-spinner class="disk-spinner" *ngIf="!treeRendered"></elma-spinner>
<a *ngIf="treeRendered && isSidebar"
   [ngClass]="{active: favoriteActiveFlag}"
   [routerLink]="['', {outlets: {primary: ['files', 'favorite']}}]"
   class="favorite"
    (click)="activateFavorite();sidebarClose();">
    <span class="doc-nav-icon doc-nav-folder favorite-icon">
        <i class="elma-icons md-18">category_favorite</i>
    </span>
    <span (click)="activateFavorite()">
        {{'app.disk.listing.directory@favorite'|translate}}
    </span>
</a>
<app-nav-item *ngFor="let item of items"
              (itemUpdated)="handleItemUpdated($event)"
              [item]="item"
              [treeType]="treeType"
              [movingItem]="movingItem"
              (directoryId)="emitDirectoryId($event)"
              (click)="deactivateFavorite()"></app-nav-item>
