@import '../../../../../styles/common-import';

:host {

    .row {
        margin-bottom: 0;

        .datepicker-wrapper {
            display: flex;
            span {
                vertical-align: middle;
                line-height: 3.2rem;
            }
        }
    }
}
