<div>
    <div class="row" *mobxAutorun>
        <div class="datepicker-wrapper col-6">
            <span class="col-2">{{ 'app.modules.admin.worktimer.timerange@from'|translate }}</span>
            <elma-datepicker class="col-10" [showTime]="true" [timeOnly]="true" [(ngModel)]="fromDate" (ngModelChange)="onChanged($event)"></elma-datepicker>
        </div>

        <div class="datepicker-wrapper col-6">
            <span class="col-2">{{ 'app.modules.admin.worktimer.timerange@to'|translate }}</span>
            <elma-datepicker class="col-10" [showTime]="true" [timeOnly]="true" [(ngModel)]="toDate" (ngModelChange)="onChanged($event)"></elma-datepicker>
        </div>
    </div>
</div>
