@import '../../../../../styles/common-import';
:host {
    ::ng-deep {
        .confirm .popover-content {
            min-width: auto !important;
            height: auto !important;
        }
    }

    .modal-body {
        padding: 0;
    }

    app-dynamic-form {
        padding: $grid-gutter-padding;
    }

    & elma-tabset {
        height: 100%;
    }

    app-monitor-bpmn-diagram {
        height: 100%;
        width: 100%;
    }

    & elma-sidebar-widget {
        .process__name_title,
        .process__created_at_title,
        .author__title {
            display: block;
        }
        .histrory_instance_sidebar_row {
            display: block;
            margin-bottom: 12px;
        }

        .author__profile {
            a {
                text-decoration: none;
            }

            .user__ava {
                display: inline-block;
                vertical-align: middle;
                width: 25px;
                height: 25px;
                background-color: $placeholder-text-color;
                border-radius: 50%;
                margin-right: 8px;
            }

            .user__name {
                border-bottom: 1px dashed;
            }
        }
    }
}


