<elma-complex-popup
    #popup
    [sidebarVisible]="true"
    (onClose)="close()"
>
    <ng-container popup-header>
        <div class="modal-title">
            {{ instance.name }}
        </div>
    </ng-container>

    <ng-container popup-content>

            <elma-tabset>
                <elma-tab [title]="'app.modules.monitor.history.instance@context-tab' | translate">
                    <div class="modal-body">
                        <div class="form-wrapper">
                            <app-dynamic-form
                                *ngIf="fields !== undefined"
                                #form
                                [item]="instance"
                                [fields]="fields"
                                [namespace]="namespace"
                            ></app-dynamic-form>
                        </div>
                    </div>
                </elma-tab>

                <elma-tab [title]="'app.modules.monitor.history.instance@process-map-tab' | translate">
                    <div class="modal-body">
                        <app-monitor-bpmn-diagram
                            [process]="processJson"
                            [processInstance]="instance"
                        ></app-monitor-bpmn-diagram>

                    </div>
                </elma-tab>
            </elma-tabset>

    </ng-container>

    <ng-container popup-footer>
            <button
                type="button"
                [elmaButton]="'default'"
            >
            {{ 'app.appview.view@edit' | translate }}
            </button>
            <button
                type="button"
                [elmaButton]="'default'"
                (click)="close()"
            >
            {{ 'app.appview.view@cancel' | translate }}
            </button>
    </ng-container>

    <ng-container popup-sidebar>
        <elma-sidebar-widget
            [title]="'app.modules.monitor.history.instance@properties' | translate"
            [accordionModeEnabled]="true"
        >
            <ng-container sidebar-widget-view>
                <div class="author">
                    <div class="histrory_instance_sidebar_row">
                        <span class="process__name_title">{{'app.modules.monitor.history.instance.sidebar@process-name' | translate}}</span>
                        <span class="process__name">
                            <a href="javascript:;">
                                <span>{{ template?.name }},</span>
                                <span>{{'app.modules.monitor.history.instance.sidebar@process-version' | translate}}</span>
                                <span>{{ template?.version }}</span>
                            </a>
                        </span>
                    </div>

                    <div class="histrory_instance_sidebar_row">
                        <span class="process__created_at_title">{{'app.modules.monitor.history.instance.sidebar@process-started-at' | translate}}</span>
                        <span class="process__created_at_date">{{ instance?.createdAt.format("DD MMMM YYYY, h:mm") }}</span>
                    </div>

                    <div class="histrory_instance_sidebar_row">
                        <span class="author__title">{{'app.modules.monitor.history.fields@initiator' | translate }}</span>
                        <span class="author__profile">
                            <a href="javascript:;" >
                                <span class="user__ava"></span>
                                <span class="user__name">{{ author?.name }}</span>
                            </a>
                        </span>
                    </div>
                </div>
            </ng-container>
        </elma-sidebar-widget>

        <elma-sidebar-widget
            [title]="'app.modules.monitor.history.instance@feed' | translate"
            [accordionModeEnabled]="true"
        >
        </elma-sidebar-widget>

    </ng-container>

</elma-complex-popup>
