@import '../../../../../styles/common-import';

.input-group-btn {
    font-size: inherit;
}

.remove {
    margin: 7px $grid-gutter-padding 0 $grid-gutter-padding;
    color: #dadada;
    cursor: pointer;
    &:hover {
        color: #333333;
    }
}

.type {
    .input-group-addon {
        border: none;
        background: transparent;
        padding-left: 0;
    }
    .form-control{
        border-radius: .3rem;
    }
}

.type-select {
     padding-right: $grid-gutter-padding;
}

.item {
    padding-bottom: $grid-gutter-padding;
    .form-control{
        border-radius: $border-radius;
    }
}

.form-control {
    @include media-breakpoint-up(md) {
        flex-basis: $app-input-width;
        max-width: $app-input-width;
    }
}
