<div *ngIf="!field.data?.type?.length">

    <p [hidden]="value && value.length">
        <i>
            {{'app.dynamicform.types.email@no-items' | translate}}.
            <a href="javascript:;"
                #add
                [hidden]="value && value.length"
                (click)="addItem($event)"
            >
                {{'app.dynamicform.types.email@add' | translate}}
            </a>
        </i>
    </p>

    <div
        class="input-group item"
        *ngFor="let item of value; index as index"
    >
        <div class="input-group-btn type-select">
            <elma-select
                #select
                [(ngModel)]="item.type"
                [options]="types">
            </elma-select>
        </div>

        <input class="form-control" type="email" placeholder="name@example.com"
            #input
            [class.is-invalid]="!currentFormControl.valid && !currentFormControl.pristine"
            [(ngModel)]="item.email"
        />

        <span class="input-group-btn">
            <div class="remove elma-icons md-18"
                title="{{'app.dynamicform.types.email@remove' | translate}}"
                (click)="removeItem(index)"
            >app_trash</div>
        </span>
    </div>

    <a href="javascript:;"
        [hidden]="!value || !value.length"
        (click)="addItem($event)"
    >
        + {{'app.dynamicform.types.email@add-more' | translate}}
    </a>
</div>

<div class="input-group type"
    *ngIf="field.data?.type?.length"
>
    <span class="input-group-addon">
        {{'app.dynamicform.types.email@email-' + field.data.type | translate}}
    </span>
    <input class="form-control" type="email" id="{{ field.code }}"
        placeholder="name@example.com"
        #single
        [class.is-invalid]="!currentFormControl.valid && !currentFormControl.pristine"
        [ngModel]="singleGet().email"
        (ngModelChange)="singleSet($event)"
    />
</div>
