<button
    elmaButton
    elmaButtonStyle="icon"
    (click)="openReassign($event)"
    class="reassign-button"
    [title]="'app.system-widgets.tasks.item@reassign'|translate">reassign
</button>
<elma-popover
    #reassignTask
    size="sm"
>
    <elma-form (onSubmit)="submitReassign()">
        <div class="popover-body">
            <elma-form-row [label]="'app.system-widgets.tasks.item@reassign-performer' | translate">
                <app-user-select
                    #userSelect
                    required
                    [isMultiple]="true"
                    [(ngModel)]="reassignUserIds"
                ></app-user-select>
            </elma-form-row>
            <elma-form-row [label]="'app.system-widgets.tasks.item@reassign-datetime' | translate">
                <elma-datepicker
                    [showTime]="true"
                    [(ngModel)]="reassignDate"
                ></elma-datepicker>
            </elma-form-row>
            <elma-form-row [label]="'app.system-widgets.tasks.item@reassign-comment' | translate">
                <textarea [(ngModel)]="reassignComment"></textarea>
            </elma-form-row>
        </div>
        <div class="popover-footer">
            <div class="btn-group">
                <button
                    elmaButton="primary"
                    type="submit"
                >{{ 'app.system-widgets.tasks.item@reassign' | translate }}</button>
                <button
                    elmaButton
                    type="button"
                    (click)="reassignTask.hide()"
                >{{ 'buttons@cancel' | translate }}</button>
            </div>
        </div>
    </elma-form>
</elma-popover>
