<div class="modal-body">
    <app-permissions [permissionTypes]="DirectoryTotalPermissions" [permissionsInput]="permissions"
        #permComponent></app-permissions>
</div>
<div class="modal-footer">
    <button elmaButton="primary" (click)="savePermissions()">
        {{'app.disk.listing.directory@save'|translate}}
    </button>
    <button elmaButton="default" (click)="activeModal.dismiss('cancel')">
        {{'app.disk.listing.directory@cancel'|translate}}
    </button>
</div>
