@import '../../../styles/common-import';

:host {
    ::ng-deep {
        .column-wrapper {
            @include media-breakpoint-up(lg) {
                height: 100%;
            }
        }
    }
}
