<elma-form (onSubmit)="create()">
   <div class="modal-body">
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@application-name'|translate">
           <input
               #name
               name="name"
               type="text"
               (keyup)="updateCode();updateElementName();"
               [(ngModel)]="page.name"
               required
           >
       </elma-form-row>
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@app-href'|translate">
           <div class="page-url-control">
               <span>/{{baseUrl}}</span>
               <input
                   name="code"
                   type="text"
                   tabindex="-1"
                   value="{{page.code}}"
                   [(ngModel)]="page.code"
                   (keyup)="typeCode()"
                   (keydown.enter)="$event.preventDefault();$event.target.blur()"
               >
           </div>
       </elma-form-row>
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@application-element-name'|translate">
           <input
               name="elementName"
               type="text"
               [(ngModel)]="page.elementName"
               (keyup)="typeElementName()"
           >
       </elma-form-row>
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@application-type'|translate">
           <elma-switch
               name="type"
               [options]="[ApplicationType.Standard, ApplicationType.Document]"
               [translateLabels]="true"
               labelPrefix="app.pages.widget-page-create.form-application@application-type-"
               [(ngModel)]="page.type"
           ></elma-switch>
       </elma-form-row>
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@icon'|translate">
           <app-iconpicker
               #iconPicker
               name="icon"
               [(ngModel)]="page.icon"
               [defaultIcon]="'system_cloud'"
           ></app-iconpicker>
       </elma-form-row>
       <elma-form-row [label]="'app.pages.widget-page-create.form-application@application-layout'|translate">
           <elma-select
               name="layout"
               [options]="layoutVariant"
               [(ngModel)]="page.layout"
               [translateLabels]="true"
               labelPrefix="app.pages.widget-page-create.form-application@layout-"
           ></elma-select>
       </elma-form-row>
   </div>
   <div class="modal-footer">
       <button
           type="submit"
           elmaButton="customization"
       >
           {{'app.pages.widget-page-create.form-application@create'|translate}}
       </button>
       <button
           type="button"
           elmaButton="default"
           (click)="modal.closePopup()"
       >
           {{'app.pages.widget-page-create.form-application@cancel'|translate}}
       </button>
   </div>
</elma-form>
