<elma-popover #ctxMenu [stayActiveElement]="stayActiveElement">
    <div class="ctx-menu">


        <elma-popover-menu-option [icon]="'file_type_doc'"
            *elmaMobile
            [label]="'app.disk.listing.directory@send'"
            [translateLabel]="true"
            [link]="''"
            (click)="openSendFileMenu()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'download_sign'"
            *elmaMobile
            [label]="'download'"
            [translateLabel]="true"
            [link]="src"
            [labelPrefix]="translatePrefix"
        ></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'system_info'"
            *elmaMobile
            [label]="'props'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="showPropsMenu(); ctxMenu.hide();"
        ></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'system_add_round'"
            *elmaMobile
            [label]="'add-version'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'user_add_fill'"
            *elmaDesktop
            [label]="'aсcess-control'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openPermissions()"></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'folder_type_move'"
            *elmaDesktop
            [label]="'move'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openMoveFile()"></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'app_pencil'"
            [label]="'rename'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openRenamePopup(); ctxMenu.hide();"></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'system_link_horisontal'"
            *elmaDesktop
            [label]="'create-link'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openCreateLink()"></elma-popover-menu-option>
        <elma-popover-menu-option [icon]="'category_favorite'"
            [label]="'add-to-favorite'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="addToFavorites()"></elma-popover-menu-option>
    </div>
</elma-popover>
