:host {
    width:100%;
}
:host.card {
    flex: 0 0 31.33333333%;
    max-width:33.33333333%;
    box-sizing:border-box;
    padding:0;
    margin: 10px 1%;
    display:flex;
    justify-content: center;
}
.no-border {
    border: none;
}
.task {
    padding: 15px 40px 15px 20px;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    align-content:stretch;
    justify-content: center;
    width:100%;
    height:100%;
    box-sizing:border-box;

    &__more {
        text-align:center;
    }
    &__current {

        .status {
            background-color:#4AAF5A;
        }

        .date {
            color:#4AAF5A;
        }
    }
    &__old {

        .status {
            background-color:#FF8C5A;
        }

        .date {
            color:#FF8C5A;
        }
    }
}
.task-header {
    position:relative;

    .status {
        position: absolute;
        top: 6px;
        left: -11px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
    }

    .tip {
        color:#cecece;
        font-size:12px;
        line-height:20px;
        display:inline-block;
        margin-bottom:7px;
    }

    .icon {
        font-size: 32px;
        line-height:27px;
        color: #cecece;
        position: Absolute;
        top: 0;
        right: -30px;
    }
}
.task-body {
    flex-grow:2;

    .name {
        color:#368ABF;
        line-height: 1.3em;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .date {
        font-weight: 700;
        margin-bottom: 10px;
    }
}
.task-footer {
    display:flex;
    padding-top:20px;

    .icon {
        display:inline-block;
    }
    .author {
        &__img {
            display:inline-block;
            vertical-align:middle;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 8px;
            box-shadow: 0 0 10px #cecece;
        }
    }
    .performer {
        &__img {
            display:inline-block;
            vertical-align:middle;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 8px;
            box-shadow: 0 0 10px #cecece;
        }
    }
}
