
    <div class="task task__current">
        <div class="task-header">
            <div class="status"></div>
            <div class="tip"></div>
            <div class="icon"><i class="elma-icons">system_task</i></div>
        </div>
        <div class="task-body">
            <a class="name" [routerLink]="['', { outlets: { p: ['task', task.id] }}]">
                {{ task.name }}
            </a>
            <div class="date">{{task.createdAt.format("D MMMM YYYY")}}</div>
        </div>
        <div class="task-footer">
            <div class="author">
                <span class="author__img"></span>
                <span class="author__name">{{ user?.name }}</span>
            </div>
        </div>
    </div>

