<elma-form-row [label]="'app.pages.widget-page-create.form-link@link-name'|translate">
    <input
        #name
        name="name"
        type="text"
        [(ngModel)]="pageJson.name"
        required
    >
</elma-form-row>
<elma-form-row [label]="'app.pages.widget-page-create.form-link@link-url'|translate">
    <input
        name="url"
        type="text"
        [(ngModel)]="data.redirectTo"
    >
</elma-form-row>
<elma-form-row [label]="'app.pages.widget-page-create.form-link@icon'|translate">
    <app-iconpicker
        name="icon"
        [(ngModel)]="pageJson.icon"
        [defaultIcon]="'business_globe'"
    ></app-iconpicker>
</elma-form-row>
<elma-form-row [label]="'app.pages.widget-page-create.form-link@open-in-new-tab'|translate">
    <elma-switch
        name="openInNewTab"
        [isBoolean]="true"
        [options]="['yes', 'no']"
        [translateLabels]="true"
        labelPrefix="app.pages.widget-page-create.form-link@"
        [(ngModel)]="data.openInNewTab"
    ></elma-switch>
</elma-form-row>
