<elma-form
    (onSubmit)="updateName()"
>
    <div class="modal-body">
        <elma-form-row label="{{'app.disk.disk-listing.disk-file.file-context-menu@filename'|translate}}">
            <input
                #nameFile
                type="text"
                (keydown)="$event.stopPropagation()"
                [(ngModel)]="newName"
            />
            <span *ngIf="renameError" class="rename-error">{{renameError}}</span>
        </elma-form-row>
    </div>
    <div class="modal-footer">
        <button type="submit" elmaButton="primary">{{'app.disk.disk-listing.disk-file.file-context-menu@save'|translate}}</button>
        <button type="button" elmaButton="default" (click)="cancelRename()">{{'app.disk.disk-listing.disk-file.file-context-menu@cancel'|translate}}</button>
    </div>
</elma-form>
