<ng-container *mobxAutorun>
    <a class="side-nav__item-link"
        *ngIf="page.type !== PageType.Separator"
        title="{{ page.name }}"
        [href]="href"
        [class.active]="isActive"
        (click)="activate($event)"
    >
        <i class="elma-icons md-18" *ngIf="!isSub">{{page.icon}}</i>
        <span class="side-nav__item-label">
            {{ page.name }}
        </span>
        <ng-container *ngIf="page.code == 'messages'">
            <span class="badge" *ngIf="unreadCounter > 0">{{unreadCounter}}</span>
        </ng-container>
    </a>

    <div class="side-nav__separator"
        *ngIf="page.type === PageType.Separator"
        [title]="page.name"
    >
        <span class="side-nav__label">{{ page.name }}</span>
    </div>
</ng-container>

<button
    *elmaCustomization="!page.system"
    class="settings"
    elmaButton="customization"
    elmaButtonStyle="icon"
    (click)="changeNamespaceWidget.showEditModal(page)"
>settings</button>

<ng-container *ngIf="isActive">
    <ul
        *mobxAutorun
        class="subs"
    >
        <li *ngFor="let sub of subs">
            <app-navigation-main-item
                [class.active]="activePage && activePage === sub"
                [page]="sub"
                [isSub]="true"
            ></app-navigation-main-item>
        </li>

        <li *elmaCustomization="subs.length && !page.system">
            <a
                *elmaCustomization
                href="javascript:void(0)"
                class="link"
                title="{{'navigation.main.item@add-app' | translate}}"
                (click)="createPageWidget.showCreateModal()"
            >
                <i class="elma-icons md-18">system_tablet_plus</i>
                <span class="label">{{'navigation.main.item@add-app' | translate}}</span>
            </a>
        </li>
    </ul>
</ng-container>

<ng-container *elmaCustomization="!page.system">
    <app-widget-page-create
        #createPageWidget
        [showApplication]="true"
        [baseUrl]="BASE_URL"
        [namespaceCode]="page.code"
    ></app-widget-page-create>
    <app-widget-page-create
        #changeNamespaceWidget
        [showApplication]="false"
        [showNamespace]="true"
        [defaultTab]="page.type"
        [baseUrl]="BASE_URL"
        [namespaceCode]="page.namespace"
    ></app-widget-page-create>
</ng-container>
