@import '../../../../styles/common-import';


:host {
    ::ng-deep {
        .col,
        .popover-body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // TODO:  возможно стоит сделать единый класс для админ-интерфейсов и метить
    // https://git.elewise.com/elma365-frontend/main-app/issues/212
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.options-panel {
    border-radius: 1px;
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 10;
}

.options-add-widget {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.option-cog {
    align-self: flex-end;
    opacity: .6;
}

.card {
    min-height: 116px;
    padding-left: 116px;
    & + & {
        margin-top: 16px;
    }
    &-image {
        overflow: hidden;
        position: absolute;
        top: 16px;
        bottom: 16px;
        left: 16px;
        width: 100px;
        display: flex;
        text-decoration: none;
        img {
            display: block;
            margin: auto;
            max-width: 100%;
        }
    }
}

.list-group {
    width: 100%;
    &-item {
        border-color: #dadada;
        &_active {
            background: #d2d0de;
            color: #000;
        }
        &-action {
            padding-left: 64px;
            cursor: pointer;
            p {
                margin: 0;
                & + p {
                    margin-top: 1rem;
                }
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 1.25rem;
            bottom: 1.25rem;
            left: 0.75rem;
            width: 46px;
            font-size: 24px;
        }
    }
}

.choose-widget {
    &__img {
        border-radius: .3rem;
        width: 100px;
        height: 100px;
        margin: 0 auto 1rem;
        background: #ededed;
        .choose-widget:hover & {
            background: darken(#ededed, 10%);
        }
    }
}

.two-cols-popover {
    width: 375px;
}
