<ng-container *ngIf="creator && !invisible">
    <div class="options-add-widget">
        <button
            *elmaCustomization
            elmaButton="customization"
            elmaSize="lg"
            class="btn_add-app"
            title="{{'app.pages.page-settings@add-widget-button'|translate}}"
            (click)="modal.open(chooseWidgetSource)"
        >
            <i class="elma-icons">system_add_round</i>
            {{'app.pages.page-settings@add-widget-button'|translate}}
        </button>
    </div>
</ng-container>

<ng-container *ngIf="!creator && !invisible">
    <div class="options-panel">
        <button
            elmaButton="default"
            elmaButtonStyle="icon"
            class="option-cog"
            (click)="pageMenu.toggle($event.target)"
        >settings</button>
    </div>
</ng-container>

<elma-popover
    *ngIf="!invisible && !!widget"
    [shift]="'10px'"
    [position]="'left'"
    #pageMenu
>
    <div class="ctx-menu">
        <ng-template
            [ngTemplateOutlet]="widgetContextMenuContent"
            [ngTemplateOutletContext]="{widget: widget, widgetNum: widgetNum}"
        ></ng-template>
    </div>
</elma-popover>

<elma-popover
    *ngIf="invisible && !!page"
    #pageContextMenu
    [shift]="'10px'"
    [position]="'right'"
    (click)="pageContextMenu.hide()"
>
    <div class="popover-body" [class.two-cols-popover]="page.data.columns === 2">
        <div class="ctx-menu d-flex">
            <ul class="menu-group nav flex-column col">
                <li class="menu-group__item pl-3" *ngIf="page.data.columns === 2">
                    <i class="elma-icons md-18">text_align_left</i>
                </li>
                <li class="menu-group__item">
                    <ng-template
                        [ngTemplateOutlet]="widgetContextMenuContent"
                        [ngTemplateOutletContext]="{widget: page.data.widgets[0], widgetNum: 0}"
                    ></ng-template>
                </li>
            </ul>
            <ul class="menu-group nav flex-column col" *ngIf="page.data.columns === 2">
                <li class="menu-group__item pl-3">
                    <i class="elma-icons md-18">text_align_right</i>
                </li>
                <li class="menu-group__item">
                    <ng-template
                        [ngTemplateOutlet]="widgetContextMenuContent"
                        [ngTemplateOutletContext]="{widget: page.data.widgets[1], widgetNum: 1}"
                    ></ng-template>
                </li>
            </ul>
        </div>
    </div>
</elma-popover>

<ng-template #widgetContextMenuContent let-widget="widget" let-widgetNumber="widgetNum">
    <ng-container *ngIf="widget.type === WidgetType.Empty">
        <elma-popover-menu-option
            [icon]="'user_add_fill'"
            [label]="'page-context-menu-add-widget'"
            [translateLabel]="true"
            [labelPrefix]="'app.pages.page-settings@'"
            (click)="widgetNum = widgetNumber; modal.open(chooseWidgetSource);"
        ></elma-popover-menu-option>
    </ng-container>

    <ng-container *ngIf="widget.type === WidgetType.Custom">
        <elma-popover-menu-option
            [icon]="'user_add_fill'"
            [label]="'page-context-menu-add-widget'"
            [translateLabel]="true"
            [labelPrefix]="'app.pages.page-settings@'"
            (click)="openWidgetEditor()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [label]="'page-context-menu-edit-widget'"
            [translateLabel]="true"
            [labelPrefix]="'app.pages.page-settings@'"
            (click)="widgetNum = widgetNumber; modal.open(chooseWidgetSource);"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [label]="'page-context-menu-remove-widget'"
            [translateLabel]="true"
            [labelPrefix]="'app.pages.page-settings@'"
            (click)="removeWidget(widgetNumber)"
        ></elma-popover-menu-option>
    </ng-container>

    <ng-container *ngIf="widget.type !== WidgetType.Custom && widget.type !== WidgetType.Empty">
        <elma-popover-menu-option
            [label]="'page-context-menu-remove-widget'"
            [translateLabel]="true"
            [labelPrefix]="'app.pages.page-settings@'"
            (click)="removeWidget(widgetNumber)"
        ></elma-popover-menu-option>
    </ng-container>
</ng-template>

<ng-template #chooseWidgetSource let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{'app.pages.page-settings@choose-widget-source'|translate}}</span>
        </h4>
        <button
            elmaButton="default"
            elmaButtonStyle="icon"
            type="button"
            class="close"
            aria-label="Close"
            (click)="c();"
        >system_close</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6" style="text-align: center;">
                <a
                    class="choose-widget"
                    href="javascript:void(0)"
                    (click)="c(); modal.open(chooseCustomWidgetType)"
                >
                    <div class="choose-widget__img"></div>
                    {{'app.pages.page-settings@create'|translate}}
                </a>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <a
                    class="choose-widget"
                    href="javascript:void(0)"
                    (click)="c(); openChooseWidgetDialog()"
                >
                    <div class="choose-widget__img"></div>
                    {{'app.pages.page-settings@choose'|translate}}
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            elmaButton="default"
            type="button"
            class="btn"
            (click)="c();"
        >
            {{'app.pages.page-settings@close'|translate}}
        </button>
    </div>
</ng-template>

<ng-template #chooseWidget let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'app.pages.page-settings@select-widget'|translate}}</h4>
        <button
            elmaButton="default"
            elmaButtonStyle="icon"
            type="button"
            class="close"
            aria-label="Close"
            (click)="c();"
        >system_close</button>
    </div>
    <div class="modal-body">
            <ng-container *ngIf="customWidgets?.length">
                <h4 class="mb-3">{{'app.pages.page-settings@app.pages.page-settings@widgets-from-catalog'|translate}}</h4>
                <div class="form-group row" *ngIf="customWidgets?.length">
                    <label class="col-4 col-form-control">
                        {{'app.pages.page-settings@choose-widget'|translate}}
                    </label>
                    <div class="col-8">
                        <elma-select
                            [options]="customWidgetsOptionsSelect"
                            [(ngModel)]="selectedWidgetId"
                        ></elma-select>
                    </div>
                </div>
                <div class="form-group text-right" *ngIf="customWidgets?.length">
                    <button
                        elmaButton="customization"
                        type="button"
                        class="btn-admin"
                        (click)="c(); setCustomWidget()"
                    >
                        {{'app.pages.page-settings@choose-custom-widget'|translate}}
                    </button>
                </div>
                <hr>
            </ng-container>
            <div class="form-group">
                <h4 class="mb-3">{{'app.pages.page-settings@widgets-from-system'|translate}}</h4>
                <ul class="list-group">
                    <li
                        class="list-group-item list-group-item-action"
                        *ngFor="let systemWidget of systemWidgets"
                        (click)="checkSystemWidget(systemWidget.type)"
                        [class.list-group-item_active]="checkedSystemWidget === systemWidget.type"
                    >
                        <h4>{{systemWidget.name}}</h4>
                        <p>{{systemWidget.description}}</p>
                        <span class="list-group-item-icon elma-icons">
                            {{systemWidget.icon}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="form-group text-right" *ngIf="checkedSystemWidget">
                <button
                    elmaButton="customization"
                    type="button"
                    class="btn-admin"
                    (click)="c(); setSystemWidget()"
                >
                    {{'app.pages.page-settings@choose-system-widget'|translate}}
                </button>
            </div>
    </div>
    <div class="modal-footer">
        <button
            elmaButton="default"
            type="button"
            class="btn"
            (click)="c();"
        >
            {{'app.pages.page-settings@close'|translate}}
        </button>
    </div>
</ng-template>

<ng-template #chooseCustomWidgetType let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{'app.pages.page-settings@choose-custom-widget-type'|translate}}</span>
        </h4>
        <button
            elmaButton="default"
            elmaButtonStyle="icon"
            type="button"
            class="close"
            aria-label="Close"
            (click)="c();"
        >system_close</button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <a
                    class="card-image"
                    href="javascript:void(0)"
                    (click)="c(); openHtmlEditor()"
                >
                    <img src="assets/images/html5.png" alt="">
                </a>
                <h4 class="card-title">HTML</h4>
                <p class="card-text">
                    {{'app.pages.page-settings@create-html-widget-text'|translate}}
                </p>
                <button
                    elmaButton="customization"
                    (click)="c(); openHtmlEditor()"
                    class="btn-admin"
                >
                    {{'app.pages.page-settings@create'|translate}}
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a
                    class="card-image"
                    href="javascript:void(0)"
                    (click)="c(); createWidgetForPageAndEdit();"
                >
                    <img src="assets/images/angular.png" alt="">
                </a>
                <h4 class="card-title">Angular</h4>
                <p class="card-text">
                    {{'app.pages.page-settings@create-angular-widget-text'|translate}}
                </p>
                <button
                    elmaButton="customization"
                    (click)="c(); createWidgetForPageAndEdit();"
                    class="btn-admin"
                >
                    {{'app.pages.page-settings@create'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            elmaButton="default"
            type="button"
            (click)="c();"
        >
            {{'app.pages.page-settings@close'|translate}}
        </button>
    </div>
</ng-template>

<ng-template #creatingHtmlWidgetLoading let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{'app.pages.page-settings@saving-widget-processing'|translate}}</span>
        </h4>
    </div>
    <div class="modal-body">
        <elma-spinner></elma-spinner>
    </div>
</ng-template>
