<elma-sidebar-widget
    *mobxAutorun
    class="sidebar-widget"
    [title]="'app.appview.edit@instruction'|translate"
    [settingsEnabled]="isEditable"
    (onSuccess)="update()"
    (onCancel)="close()"
    (onChageSettingsMode)="setEditMode($event)"
>
    <ng-container sidebar-widget-settings>
        <div class="mce-wrapper">
            <textarea
                tabindex="3"
                id="editUserGuide"
                [(ngModel)]="userGuide"
            ></textarea>
        </div>
    </ng-container>
    <div
        sidebar-widget-view
        [innerHtml]="userGuide"
    ></div>
</elma-sidebar-widget>
