:host {
    display: block;
}

.doc-nav.is-expanded {
    & > .doc-nav__header {
        .doc-nav-arrow {
            transform: rotate(90deg);
        }
    }
}

.doc-nav {
    & > .doc-nav__header.active {

        .doc-nav__link {
            color: #3595d2;
        }

    }
}

.doc-nav-child {

}

.doc-nav__header {
    position: relative;
    &:hover {
        background-color: #eeebea;
    }
}

.doc-nav__link {
    font-size: 13px;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5e5e5e;
    white-space: nowrap;
    cursor: pointer;

    .doc-nav-folder {
        margin-right: 5px;
    }
}

.item-child {
    display: block;
    padding-left: 20px;
}

.item-child /deep/ .doc-nav.is-expanded {
    & > .doc-nav__header {
        .doc-nav-arrow {
            transform: rotate(90deg);
        }
    }
}

.item-child /deep/ .doc-nav__header {
    &:hover {
        background-color: #eeebea;
    }
}

.admin-only {
    color: #676090;
}
