<div class="doc-nav" [class.is-expanded]="item.opened">

    <ng-container *ngIf="isSidebar; else noSidebar">
        <div class="doc-nav__header" [class.active]="item.active">
            <a class="doc-nav__link"
                title="{{item.model.name}}"
                *elmaMediaBreakpointUp="'md'"
                [routerLink]="['', {outlets: {primary: ['files', item.model.id]}}]"
                [ngClass]="{'admin-only': isAdminOnly}"
            >
                <ng-template
                    [ngTemplateOutlet]="linkContent"
                    [ngTemplateOutletContext]="{item: item}"
                ></ng-template>
            </a>
            <a class="doc-nav__link"
                title="{{item.model.name}}"
                *elmaMediaBreakpointDown="'md'"
                [routerLink]="['', {outlets: {primary: ['files', item.model.id]}}]"
                [ngClass]="{'admin-only': isAdminOnly}"
                (click)="closeSidebar();"
            >
                <ng-template
                    [ngTemplateOutlet]="linkContent"
                    [ngTemplateOutletContext]="{item: item}"
                ></ng-template>
            </a>
        </div>
        <div class="doc-nav-child" *ngIf="item.childs && item.opened">
            <app-nav-item
                *ngFor="let child of item.childs"
                [item]="child"
                [movingItem]="movingItem"
                [treeType]="treeType"
                class="item-child"
                (itemUpdated)="handleChildItemUpdate($event)"
                (directoryId)="emitDirectoryId($event)"
            >
            </app-nav-item>
        </div>
    </ng-container>
    <ng-template #noSidebar>

        <ng-container *ngIf="item.model.id !== movingDirId || treeType == TreeType.file">
            <div class="doc-nav__header" [class.active]="item.active">
                <a
                    class="doc-nav__link"
                    title="{{item.model.name}}"
                    [ngClass]="{'admin-only': isAdminOnly}"
                    (click)="emitDirectoryId(item.model.id);"
                >
                    <ng-template
                        [ngTemplateOutlet]="linkContent"
                        [ngTemplateOutletContext]="{item: item}"
                    ></ng-template>
                </a>
            </div>
            <div class="doc-nav-child" *ngIf="item.childs && item.opened">
                <app-nav-item
                    *ngFor="let child of item.childs"
                    [item]="child"
                    [movingItem]="movingItem"
                    [treeType]="treeType"
                    class="item-child"
                    (itemUpdated)="handleChildItemUpdate($event)"
                    (directoryId)="emitDirectoryId($event)"
                >
                </app-nav-item>
            </div>
        </ng-container>

    </ng-template>

</div>

<ng-template #linkContent let-item="item">
    <span class="doc-nav-arrow" (click)="toggleOpen($event,item)">
        <i class="elma-icons md-18" [ngClass]="{hidden: item.model.children.length === 0}">arrow_right</i>
    </span>

    <span class="doc-nav-icon doc-nav-folder">
        <i class="elma-icons md-18">folder_type_opened</i>
    </span>

    <span class="doc-nav__name">
                {{item.model.name}}
            </span>
</ng-template>





