<elma-form
    (onSubmit)="save()"
>
    <div [ngSwitch]="page.type" class="modal-body">
        <app-page-edit-separator
            *ngSwitchCase="PageType.Separator"
            [pageJson]="pageJson"
        ></app-page-edit-separator>
        <app-page-edit-link
            *ngSwitchCase="PageType.Link"
            [pageJson]="pageJson"
        ></app-page-edit-link>
    </div>
    <div
        class="modal-footer">
        <button elmaButton="customization">{{'app.page.edit@save'|translate}}</button>
        <button elmaButton="default" type="button" (click)="close()">{{'app.page.edit@cancel'|translate}}</button>
    </div>
</elma-form>
