:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.host {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.options-add-widget {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
