<div class="host" *mobxAutorun>

    <span class="help_add_field help_add_field_left"
        *ngIf="!applications.length"
    >
        {{'app.namespace.details@add-application'|translate}}
        <span class="arrow"></span>
    </span>

    <div class="options-add-widget">
        <button
            *ngIf="!applications.length"
            title="{{'app.namespace.details@add-application-button'|translate}}"
            class="btn_add-app"
            elmaSize="lg"
            elmaButton="customization"
            (click)="createPageWidget.showCreateModal()"
        >
            <i class="elma-icons">system_add_round</i>
            {{'app.namespace.details@add-application-button'|translate}}
        </button>
    </div>

    <app-widget-page-create
        #createPageWidget
        *ngIf="!applications.length"
        [showApplication]="true"
        [baseUrl]="BASE_URL"
        [namespaceCode]="namespace.code"
    ></app-widget-page-create>
</div>
