@import '../../../../styles/common-import';

:host {
    ::ng-deep {
        .confirm .popover-content {
            min-width: auto !important;
            height: auto !important;
        }
    }
}

.pages-list {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $light-border-color;
    padding: $grid-gutter-padding $grid-gutter-width;

    &:hover {
        background-color: $firm-gray;
    }

    /* Для dnd контейнеров всегда рисуем бордер */
    :host ::ng-deep .ngx-dnd-item & {
        border-bottom: 1px solid $light-border-color;
    }

    a {
        color: $base-text-color;
        &:hover {
            text-decoration: none;
        }
    }
}

.pages-list {
    background: #fff;
    &__inner {
        height: 33px;
        display: flex;
        flex: 1;
        align-items: center;

        &.actions {
            height: 33px;
            flex: 0 0;
        }

        &.deleted {
            font-style: italic;
            color: $secondary-text-color !important;
        }
    }
}

.visibility {
    width: 100px;
    display: flex;
    justify-content: center;
}

.empty-list {
    padding-top: 30px;
    text-align: center;
}
