<elma-tabset>
    <elma-tab [title]="currentTabActiveCode | translate">
        <ng-container *ngFor="let page of systemPages">
            <ng-template
                [ngTemplateOutlet]="pageTemplate"
                [ngTemplateOutletContext]="{page: page}"
            ></ng-template>
        </ng-container>

        <ngx-dnd-container [model]="userPages">
            <ng-template let-model="model">
                <ng-template
                    ngxDragHandle
                    [ngTemplateOutlet]="pageTemplate"
                    [ngTemplateOutletContext]="{page: model}"
                ></ng-template>
            </ng-template>
        </ngx-dnd-container>
    </elma-tab>

    <elma-tab [title]="'app.pages.page-editor@tab-trash'|translate">
        <ng-container *ngFor="let page of trashPages">
            <ng-template
                [ngTemplateOutlet]="trashPageTemplate"
                [ngTemplateOutletContext]="{page: page}"
            ></ng-template>
        </ng-container>

        <p class="empty-list"
            *ngIf="!trashPages.length"
        >
            {{ 'app.pages.page-editor@list-is-empty' | translate }}
        </p>
    </elma-tab>
</elma-tabset>

<div class="modal-footer">
    <button
        elmaButton="customization"
        (click)="save()"
    >
        {{ 'app.pages.page-editor@save' | translate }}
    </button>
    <button
        elmaButton="default"
        (click)="activeModal.close()"
    >
        {{ 'app.pages.page-editor@close' | translate }}
    </button>
</div>

<ng-template #pageTemplate let-page="page">
    <div class="pages-list"
        [class.user]="!page.system"
    >
        <div class="pages-list__inner">
            <i class="elma-icons md-18">{{page.icon}}</i>&nbsp;&nbsp;
            <span>{{ page.name }}</span>
        </div>
        <div class="pages-list__inner actions">
            <div class="visibility"
                *ngIf="!showArchive"
            >
                <button
                    *ngIf="!page.hidden"
                    elmaButton="default"
                    (click)="page.toggleHidden()"
                >
                    {{ 'app.pages.page-editor@hide' | translate }}
                </button>
                <button
                    *ngIf="page.hidden"
                    elmaButton="primary"
                    (click)="page.toggleHidden()"
                >
                    {{ 'app.pages.page-editor@show' | translate }}
                </button>
            </div>

            <button
                elmaButton="danger"
                [disabled]="page.system"
                (click)="confirmDelete($event, page.id)"
            >
                {{ 'app.pages.page-editor@delete' | translate }}
            </button>

            <elma-popover class="confirm" [position]="'right'" [shift]="'18px'"
                #confirmDeletePopover
            >
                <div class="popover-body">
                    <button
                        [elmaButton]="'danger'"
                        (click)="delete()"
                    >
                        {{ 'app.pages.page-editor@delete-confirm' | translate }}
                    </button>
                </div>
            </elma-popover>
        </div>
    </div>
</ng-template>

<ng-template #trashPageTemplate let-page="page">
    <div class="pages-list">
        <a class="pages-list__inner"
            *ngIf="page.type !== PageType.Separator"
            [routerLink]="getRouterLink(page)"
            (click)="activeModal.close()"
        >
            <i class="elma-icons md-18">{{page.icon}}</i>&nbsp;&nbsp;
            <span>{{ page.name }}</span>
        </a>
        <span class="pages-list__inner"
            *ngIf="page.type === PageType.Separator"
        >
            <i class="elma-icons md-18">{{page.icon}}</i>&nbsp;&nbsp;
            <span>{{ page.name }}</span>
        </span>

        <a class="pages-list__inner deleted"
            *ngIf="page.deletedAt"
            [routerLink]="getRouterLink(page)"
            (click)="activeModal.close()"
        >
            {{ 'app.pages.page-editor@deleted-by' | translate }}
            {{ page.deletedAt.local().format('LLL') }}
        </a>
        <button
            elmaButton="customization"
            (click)="recover(page)"
        >
            {{ 'app.pages.page-editor@recovery' | translate }}
        </button>
    </div>
</ng-template>
