<ng-container *ngIf="!field.single; else single">
    <div
        *ngFor="let option of optionList"
        class="itemscope__item"
    >
        <elma-checkbox
            [label]="option.label"
            [(ngModel)]="option.checked"
            (ngModelChange)="updateValues()"
        ></elma-checkbox>
    </div>
</ng-container>
<ng-template #single>
    <elma-select [(ngModel)]="singleValue" [options]="optionList" [addEmptyOption]="true"></elma-select>
</ng-template>
