<ng-container *mobxAutorun>
    <div class="d-flex category" *ngIf="showRoot"
        [class.actions-showed]="menu?.visible"
        [style.padding-left.px]="depth * 32 + 6">
        <div
            class="opened-indicator p-2"
            [class.opened]="category.isOpen"
            (click)="category.toggle()"
        >
            <i class="elma-icons md-18" [class.hidden]="category.empty">arrow_right</i>
        </div>
        <div class="icon p-2">
            <i class="elma-icons md-18">folder_type_opened</i>
        </div>
        <form class="name form-inline" (submit)="rename()">
            <div class="form-group d-flex" [class.has-danger]="dublicateName">
                <a *ngIf="!editMode" href="javascript:void(0)" (click)="category.toggle();onCategoryClick.emit(category)">{{ category.name }}</a>
                <input *ngIf="editMode" #nameInput class="form-control p-0 align-top"
                    [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (blur)="rename()"/>
                <div *ngIf="dublicateName" class="px-3 mt-0 form-control-feedback">{{ 'bpm.list.create-category@dublicate-name-error' | translate }}</div>
            </div>
        </form>
        <div class="actions ml-auto p-2" *ngIf="drafts">
            <button
                (click)="menu.toggle(menuOpener)"
                elmaButton="default"
                elmaButtonStyle="icon"
                #menuOpener>menu_horizontal</button>
            <elma-popover
                [relativeTo]="menuOpener"
                [position]="'right'"
                #menu>
                <div class="popover-body">
                    <button elmaButton="default" (click)="edit()">{{ 'bpm.tree@menu-rename' | translate }}</button>
                    <button elmaButton="default" (click)="onRemoveCategory.emit(category)">{{ 'bpm.tree@menu-delete' | translate }}</button>
                    <button elmaButton="default" (click)="onMoveCategory.emit(category)">{{ 'bpm.tree@menu-move' | translate }}</button>
                    <button elmaButton="default" (click)="onCreateTemplate.emit(category.id)">{{ 'bpm.tree@menu-create-template' | translate }}</button>
                    <button elmaButton="default" (click)="onCreateCategory.emit(category.id)">{{ 'bpm.tree@menu-create-category' | translate }}</button>
                </div>
            </elma-popover>

        </div>
    </div>
    <ng-container *ngIf="category.isOpen">
        <app-bptemplate-admin-page-tree-category
            *ngFor="let category of category.children"
            [tree]="tree" [linkBuilder]="linkBuilder" [category]="category" [drafts]="drafts" [depth]="depth + 1"
            (onCreateCategory)="onCreateCategory.emit($event)"
            (onCreateTemplate)="onCreateTemplate.emit($event)"
            (onMoveCategory)="onMoveCategory.emit($event)"
            (onCategoryClick)="onCategoryClick.emit($event)"
            (onRemoveCategory)="onRemoveCategory.emit($event)"
            (onRemoveTemplate)="onRemoveTemplate.emit($event)"
            (onMoveTemplate)="onMoveTemplate.emit($event)"
            (onSelectTemplate)="onSelectTemplate.emit($event)"
            ></app-bptemplate-admin-page-tree-category>

        <app-bptemplate-admin-page-tree-template
            *ngFor="let template of category.templates"
            [tree]="tree" [linkBuilder]="linkBuilder" [template]="template" [drafts]="drafts" [depth]="depth + 1"
            (onCreateTemplate)="onCreateTemplate.emit($event)"
            (onMoveTemplate)="onMoveTemplate.emit($event)"
            (onRemoveTemplate)="onRemoveTemplate.emit($event)"
            (onSelectTemplate)="onSelectTemplate.emit($event)"
            ></app-bptemplate-admin-page-tree-template>
    </ng-container>
</ng-container>
