<app-page
    *ngIf="canRender"
    [page]="page"
    [label]="'app.namespace.config@business-processes'|translate"
>
    <ng-container page-control>
        <button elmaButton="customization" (click)="processManager.openCreateTemplateModal()">
            {{ 'bpm.list@create-template-button' | translate }}
        </button>
        <button elmaButton="default" (click)="processManager.openCreateCategoryModal()">
            {{ 'bpm.list@create-category-button' | translate }}
        </button>
    </ng-container>
    <ng-container page-body>
        <app-bpm-manager
            #processManager
            [namespace]="namespace"
        ></app-bpm-manager>
    </ng-container>
</app-page>
