<div class="modal-body">
    <app-permissions
        [permissionsInput]="filePermissions"
        [disabledItemPermissionTypes]="[ permissionTypeCreate ]"
        #permComponent
    ></app-permissions>
</div>
<div class="modal-footer">
    <button
        elmaButton="primary"
        class="btn-lg"
        (click)="savePermissions()"
    >
        {{'app.disk.listing.directory@save'|translate}}
    </button>
</div>
