<ng-container *elmaDesktop>
    <label *ngIf="renderCheckbox" class="checkbox _theme_inverted">
        <elma-checkbox
            class="checkbox__v"
            [value]="true"
            [binary]="true"
            [inputId]="link.id"
            (modelChange)="selectRow($event)"
        ></elma-checkbox>
    </label>
</ng-container>

<ng-container *ngIf="link.type === 'file'; else rowDirectory">

    <a *ngIf="!link.favorite; else favoriteLink"
        class="directory"
        [ngClass]="{'no-render-checkbox': !renderCheckbox}"
        (click)="open.emit(link)"
    >
        <i class="directory__icon elma-icons md-18">file_type_link</i>
        <div class="directory-content">
            <div class="directory__name">{{link.name}}</div>
            <ng-template [ngTemplateOutlet]="noEditAtribute"></ng-template>
        </div>
    </a>
    <ng-template #favoriteLink>
        <a class="directory"
            (click)="open.emit(link)">
            <i class="directory__icon elma-icons md-18">file_type_link</i>
            <div class="directory__name">{{link.name}}</div>
            <ng-template [ngTemplateOutlet]="noEditAtribute"></ng-template>
        </a>
    </ng-template>

</ng-container>
<ng-template #rowDirectory>
    <a class="directory"
        [ngClass]="{'no-render-checkbox': !renderCheckbox}"
        (click)="open.emit(link)">
        <i class="directory__icon elma-icons md-18">folder_type_link</i>
        <div class="directory__name">{{link.name}}</div>
        <ng-template [ngTemplateOutlet]="noEditAtribute"></ng-template>
    </a>
</ng-template>

<div *elmaDesktop class="directory-controls">
    <button *ngIf="link.type === 'file'"
        elmaButton="default"
        elmaButtonStyle="icon"
        class="btn-control_download"
        (click)="downloadFile()"
    >download_sign</button>
    <div class="mob-context-menu" #mobContextMenu>
        <button
            #fileCtxOpener
            elmaButton="default"
            elmaButtonStyle="icon"
            class="mob-context-menu__btn"
            (click)="openContextMenu()">app_trash</button>

        <elma-popover
            #fileCtx
            [stayActiveElement]="mobContextMenu"
        >
            <a
                elmaButton="danger"
                (click)="deleteLink()">
                <i class="elma-icons md-18">app_trash</i>
                {{'app.disk.listing.directory@delete-question'|translate}}
            </a>
        </elma-popover>
    </div>
</div>

<ng-template #noEditAtribute>
    <div class="directory__timestamp">
        {{ createdOrUpdated() }}
    </div>
    <div class="directory__size">
    </div>
</ng-template>
