:host {
    ::ng-deep {
        .mob-context-menu {
            .popover-content {
                min-width: unset !important;

                a.btn.btn-danger {
                    font-family: "Roboto", Helvetica, Arial, sans-serif;
                    color: #fff !important;
                }
            }
        }
    }
}
