<app-navigation-namespace
    class="namespace"
    [namespace]="currentPage"
    [activePage]="activePage"
></app-navigation-namespace>

<app-monitor-bpm-tree #tree
    (onSelectCategory)="onCatSelect($event)"
    (onTreeRendered)="onTreeIsRendered($event)"
></app-monitor-bpm-tree>

<ng-template #spinner>
    <elma-spinner class="disk-spinner" *ngIf="!isTreeRendered"></elma-spinner>
</ng-template>
