@import '../../../../../styles/common-import';

:host {
    margin: 0.8rem 0;
    display: block;

    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        padding-left: 1.6rem;
    }

    li:first-child {
        padding-left: 0;
    }
}

