<h5 class="shedule__title">{{ 'app.modules.admin.worktimer.workingdays@holyday'|translate }}</h5>

<div *mobxAutorun>
    <ul>
        <li *ngFor="let day of getWorkingDays(); let i=index">
            <elma-checkbox label="{{ day.name }}" [(ngModel)]="day.isWorking" [value]="day.isWorking" (modelChange)="setDayState(day.key, $event)" name="{{ day.key }}" binary="true"></elma-checkbox>
        </li>
    </ul>
</div>
