<ng-container *mobxAutorun>
    <div class="d-flex header" *ngIf="drafts">
        <div class="prefix p-2"></div>
        <div class="name p-2"><span>{{ 'bpm.tree@name' | translate }}</span></div>
        <div class="version p-2">{{ 'bpm.tree@version' | translate }}</div>
        <div class="updated p-2">{{ 'bpm.tree@updated' | translate }}</div>
        <div class="actions p-2"></div>
    </div>
    <app-bptemplate-admin-page-tree-category
        *ngFor="let treeItem of tree"
        [tree]="treeItem"
        [showRoot]="showRoot"
        [linkBuilder]="linkBuilder"
        [category]="treeItem.root"
        [drafts]="drafts"
        [depth]="depth"
        (onCreateCategory)="onCreateCategory.emit($event)"
        (onCreateTemplate)="onCreateTemplate.emit($event)"
        (onMoveCategory)="onMoveCategory.emit($event)"
        (onCategoryClick)="onCategoryClick.emit($event)"
        (onMoveTemplate)="onMoveTemplate.emit($event)"
        (onRemoveCategory)="onRemoveCategory.emit($event)"
        (onRemoveTemplate)="onRemoveTemplate.emit($event)"
        (onSelectTemplate)="onSelectTemplate.emit($event)"
        ></app-bptemplate-admin-page-tree-category>
</ng-container>
