:host {
    ::ng-deep {
        .category, .template {
            border-bottom: 1px solid #f6f6f6;
            height: 40px;
            align-items: center;
            width: 100%;
            display: flex;
            & > .d-flex {
                width: 100%;
            }
        }
    }
}

.header {
    font-weight: bold;
    background-color: #f6f6f6;
}

.prefix {
    box-sizing: content-box;
    width: 18px;
}

.name {
    flex-grow: 1;
    span{
        margin-left: -23px;
    }
}

.version {
    width: 100px;
    text-align: center;
}

.updated {
    width: 250px;
    text-align: center;
}

.actions {
    width: 50px;
}
