body {
    .ui-autocomplete {
        display: block;
        .ui-autocomplete-token-icon {
            z-index: 1;
        }
        .fa-close:before, .fa-remove:before, .fa-times:before {
            content: "app_trash";
            font-family: "elma365" !important;
        }
        &.ui-autocomplete-multiple {
            .ui-autocomplete-multiple-container {
                overflow: initial;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
                padding: 0;
            }
            .ui-autocomplete-token {
                flex: 1 1 100%;
                padding: $grid-gutter-padding 0;
                font-size: $font-size-base;
            }
            .ui-autocomplete-input-token {
                order: -1;
                display: block;
                width: 100%;
                margin: 0 0 $grid-gutter-padding;
                padding: 0;
            }
        }

    }
    .ui-autocomplete-panel {
        z-index: $zindex-modal + 1 !important;
        .ui-autocomplete-list {
            padding: $grid-gutter-padding 0;
        }
        .ui-autocomplete-list-item {
            border-radius: 0 !important;
            min-height: $input-btn-height;
            margin: 0;
            padding: $input-btn-padding-y $input-btn-padding-x;
            &.ui-state-highlight {
                background: $firm-gray;
            }
        }
    }
}
