@import "../mixins";

body {
    .ui-calendar {
        //.ui-datepicker-trigger {}
        .ui-calendar-button {
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            background: transparent;
            color: inherit;
            text-align: center;
            white-space: nowrap;
        }
        //.ui-button-text {}
        .ui-button-icon-only {
            width: 3.2rem;
            font-size: $btn-font-size-base*1.7;
            .ui-button-text {
                display: inline-block;
                width: 0;
                padding: 0;
                vertical-align: middle;
            }
            .fa-calendar {
                position: static;
                width: 100%;
                margin: 0;
                &:before {
                    content: "\e961";
                }
            }
        }
        //.ui-button-icon-left {}
    }
    .ui-calendar-w-btn {
        min-width: $app-input-width;
        .ui-inputtext {
            border-radius: $border-radius;
            @at-root .ui-calendar-w-btn .size-sm & {
                border-radius: $border-radius-sm;
            }
            @at-root .ui-calendar-w-btn .size-lg & {
                border-radius: $border-radius-lg;
            }
        }
    }
}

.ui-calendar.ui-calendar-w-btn {
    input {
        padding-right: 3.2rem;
    }
    .size-sm & {
        input {
            padding-right: 2.4rem;
        }
        .ui-button-icon-only {
            width: 2.4rem;
            font-size: $btn-font-size-base*1.3;
        }
    }
    .size-lg & {
        input {
            padding-right: 4rem;
        }
        .ui-button-icon-only {
            width: 4rem;
            font-size: $btn-font-size-base*2;
        }
    }
}

body .ui-datepicker-calendar {
    .ui-state-default {
        color: $base-text-color;
        font-weight: $font-weight-regular;
        &:not(.ui-state-highlight),
        &:not(.ui-state-active) {
            &:hover {
                border-color: #e5e5e5;
                background-color: #e5e5e5;
            }
        }
    }
    .ui-state-active {
        border-color: $firm-blue-light !important;
        background: $firm-blue-light !important;
    }
    .ui-state-highlight {
        border-color: darken($firm-gray, 20%) !important;
        background-color: $light-color !important;
        font-weight: $font-weight-bold;
    }
    td {
        a {
            border: $border-width solid transparent;
        }
    }
}

.ui-widget-content.ui-datepicker {
    border-radius: $border-radius-lg;
    border: $border-width solid #e6e6e6;
    padding: 0;
    table {
        width: auto;
        margin: 0 .8rem;
    }
    td {
        padding: .1rem;
        a {
            border-radius: $border-radius;
            border: $border-width solid transparent;
            width: $input-btn-height;
            height: $input-btn-height;
            padding: ($input-btn-height - $btn-font-size-sm)/2 $input-btn-padding-x-sm;
            font-size: $btn-font-size-sm;
            line-height: $btn-font-size-sm;
        }
    }
    .fa {
        color: $base-text-color;
        font-size: $btn-font-size-xl;
    }
    .ui-datepicker-next {
        right: .8rem;
        .fa {
            margin-left: -.5em;
            &:before {
                content: "\e906";
            }
        }
    }
    .ui-datepicker-prev {
        left: .8rem;
        .fa {
            margin-left: -.5em;
            transform: rotate(180deg);
            &:before {
                content: "\e906";
            }
        }
    }
}

body {
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        top: .8rem;
        width: $input-btn-height;
        height: $input-btn-height;
    }
}

.ui-widget-header.ui-datepicker-header {
    border-bottom: $border-width solid #e6e6e6;
    padding: .8rem 0;
}

body .ui-datepicker .ui-datepicker-title {
    margin: 0 $input-btn-height + .8;
    font-size: $btn-font-size-base;
    line-height: $input-btn-height;
}

body .ui-timepicker {
    .ui-separator {
        margin: 0 -.6em;
        pointer-events: none;
    }
    .fa {
        &.fa-angle-up {
            &:before {
                content: "\e907";
            }
        }
        &.fa-angle-down {
            &:before {
                content: "\e905";
            }
        }
    }
    span {
        font-size: $font-size-base;
    }
}
