body {
    .ui-corner-all {
        border-radius: $border-radius;
    }
    .ui-shadow {
        @include popup-shadow();
    }
    .ui-widget {
        @at-root .ui-widget,
        .ui-widget,
        input,
        select,
        textarea,
        button {
            font-family: inherit !important;
            text-decoration: none;
            font-size: $font-size-base;
        }
    }
    .ui-widget-content {
        border: 0;
        background-color: $light-color;

        @include media-breakpoint-down(lg) {
            opacity: 1 !important; // костыль для ios
        }
    }
    .ui-widget-header {
        border: 0;
    }
    .ui-state-error,
    .ui-state-default.ui-state-error {
        border-bottom-color: #e13131;
    }
    .ui-icon {
        width: 1em;
        height: 1em;
        line-height: 1em;
    }
    .ui-state-disabled,
    .ui-widget:disabled {
        opacity: .35;
        background-image: none;
        cursor: default !important;
    }
    .ui-state-disabled *,
    .ui-widget:disabled * {
        cursor: default !important;
    }
    .ui-chkbox-icon,
    .ui-radiobutton-icon {
        font-family: "elma365" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        letter-spacing: 0;
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga";
        -webkit-font-variant-ligatures: discretionary-ligatures;
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    // inputs
    .ui-inputtext {
        border-radius: $border-radius;
        padding: ($input-btn-padding-y - .2) $input-btn-padding-x;
        line-height: $input-btn-line-height;
        font-size: $btn-font-size-base;
        .size-sm &,
        &.size-sm {
            border-radius: $border-radius-sm;
            padding: ($input-btn-padding-y-sm - .2) $input-btn-padding-x-sm;
            font-size: $btn-font-size-sm;
        }
        .size-lg &,
        &.size-lg {
            border-radius: $border-radius-lg;
            padding: ($input-btn-padding-y-lg - .2) $input-btn-padding-x-lg;
            font-size: $btn-font-size-lg;
        }
    }

    .size-sm .ui-inputtext,
    .ui-inputtext.size-sm {
        border-radius: $border-radius-sm;
    }
    .size-lg .ui-inputtext,
    .ui-inputtext.size-lg {
        border-radius: $border-radius-lg;
    }

    // buttons
    .ui-button-text {
        backface-visibility: hidden;
        padding: $input-btn-padding-y .2rem;
    }
    .ui-button-text.size-sm,
    .size-sm .ui-button-text {
        padding: $input-btn-padding-y-sm .2rem;
    }
    .ui-button-text.size-lg,
    .size-lg .ui-button-text {
        padding: $input-btn-padding-y-lg .2rem;
    }

    // button icons
    .ui-button-icon-left {
        &:before {
            display: inline-block;
            margin-top: -.15em;
        }
    }
}
