@import '../../styles/_vars.scss';
//body .ui-widget-content {}
.ui-dialog {
    max-width: 100%;

    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
        border-radius: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
    }
    //.ui-widget-header {}
    .ui-dialog-titlebar {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: $modal-dialog-header-height;
        border: 0;
        padding: 0 $grid-gutter-width;

        @include media-breakpoint-down(sm) {
            z-index: 2;
            position: relative;
            flex: 0 0 auto;
            height: $header-height-md;
            padding: $grid-gutter-padding;
            background: $firm-blue;
            color: $light-color;
        }
        .close {
            margin-right: -.3em;
            font-size: 24px;

            @include media-breakpoint-down(sm) {
                z-index: 2;
                position: relative;
                box-shadow: none;
                order: -1;
                flex: 0 0 $ui-btn-size-mobile;
                margin: 0;
                color: $light-color;
                font-size: 40px;
                opacity: 1;
            }
        }
    }
    .ui-dialog-title {
        width: 100%;
        margin: 0;
        @include heading(h2);

        @include media-breakpoint-down(sm) {
            font-weight: $font-weight-regular;
            line-height: normal;
        }
    }
    .ui-dialog-heading {
        padding-right: $grid-gutter-width;
        &:empty {
            display: none;
        }

        @include media-breakpoint-down(sm) {
            flex: 1 1;
            margin: 0 $grid-gutter-padding;

            transition: transform .1s;
            will-change: transform;
        }
    }
    .ui-dialog-heading.popup-header-error-class {
        color: $firm-red;
    }
    .ui-dialog-heading.popup-header-success-class {
        color: $firm-green;
    }
    //.ui-dialog-titlebar-icon {}
    .ui-dialog-titlebar-close {
        display: none;
    }
    .ui-dialog-content {
        padding: 0;

        overflow-y: auto;
        flex: 1 1;
        display: flex;
        flex-direction: column;
    }
    //.ui-widget-content {}
}

p-header.\@expanded {
    &:before {
        @include media-breakpoint-down(sm) {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 56px;
            background: #3f8bc8;
            content: "";
        }
    }
    .ui-dialog-heading {
        position: relative;

        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: auto;
            margin: 0;
            padding: 0 $grid-gutter-width $grid-gutter-padding;
            background: $firm-blue;
            white-space: normal;
            line-height: normal;
            transform: translateY($header-height-md);
            box-shadow: 0 2px 4px rgba($dark-color, .3);
        }
    }
}

.ui-dialog-draggable
.ui-dialog-titlebar {
    cursor: move;
    cursor: grab;
}
