body {
    .ui-widget-content {
        border: 0;
    }
    .ui-dropdown, .ui-multiselect {
        border-radius: $border-radius;
        border: $border-width solid $base-border-color;
        min-width: $input-select-min-width;
        background: $light-color;
        &.elma-icons {
            min-width: 0;
            min-width: max-content;
        }
        &.ui-state-default {
            background: $light-color;
            color: inherit;
        }
        &:not(.ui-state-focus):active,
        &.ui-state-focus {
            box-shadow: 0 0 0 $btn-focus-width rgba($firm-blue, .5);
            border-color: $firm-blue;
            background: $light-color;
        }
        &.ui-dropdown-open,.ui-multiselect-open {
            .ui-dropdown-trigger .elma-icons:before {
                content: "\e907";
            }
        }
        .ui-dropdown-trigger,.ui-multiselect-trigger {
            border: 0;
            width: 3rem;
            padding: 0;
            background: $light-color;
            color: inherit;
            text-align: center;
            .elma-icons:before {
                display: inline-block;
                vertical-align: middle;
                line-height: ($input-btn-padding-y*2 - .2) + $btn-font-size-base;//3rem;
                font-size: $btn-font-size-lg;
                content: "\e905";
            }
        }
        .ui-dropdown-label,.ui-multiselect-label {
            min-width: $input-select-min-width;
            min-height: $input-btn-height - .2;
            padding-right: 3rem !important;
            @at-root .size-sm & {
                min-height: $btn-font-size-sm - .2;
            }
            @at-root .size-lg & {
                min-height: $btn-font-size-lg - .2;
            }
        }
        &.elma-icons {
            color: $base-text-color;
            .ui-dropdown-label,.ui-multiselect-label {
                min-width: 0;
                font-size: 1.8rem;
                line-height: 0.8;
            }
            .ui-dropdown-panel, .ui-multiselect-panel {
                .elma-icons {
                    vertical-align: baseline;
                    font-size: 1.8rem;
                    line-height: 0.8;
                }
            }
        }
    }
    .size-sm {
        .ui-dropdown-trigger,.ui-multiselect-trigger {
            .elma-icons:before {
                line-height: $input-btn-padding-y-sm*2 + $btn-font-size-sm;//2.4rem;
            }
        }
        .ui-dropdown-label,.ui-multiselect-label {
            padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
            font-size: $btn-font-size-sm;
        }
    }
    .size-lg {
        .ui-dropdown-trigger,.ui-multiselect-trigger {
            .elma-icons:before {
                line-height: $input-btn-padding-y-lg*2 + $btn-font-size-lg;//4rem;
            }
        }
        .ui-dropdown-label,.ui-multiselect-label {
            border-radius: $border-radius-lg;
            padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
            font-size: $btn-font-size-lg;
        }
    }
}


.ui-dropdown-panel, .ui-multiselect-panel {
    z-index: $zindex-tooltip !important;
    .ui-dropdown-list, .ui-multiselect-list {
        padding: $grid-gutter-padding 0;
    }
    .ui-dropdown-item, .ui-multiselect-item {
        border-radius: 0 !important;
        display: block;
        min-height: $input-btn-height;
        margin: 0;
        padding: $input-btn-padding-y $input-btn-padding-x;
        font-size: $btn-font-size-base;
        line-height: $input-btn-line-height;
        &:hover,
        &.ui-state-highlight {
            background: $firm-gray;
        }
        .size-sm & {
            min-height: $input-btn-height-sm;
            padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
            font-size: $btn-font-size-sm;
        }
        .size-lg & {
            border-radius: $border-radius-lg;
            min-height: $input-btn-height-lg;
            padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
            font-size: $btn-font-size-lg;
        }
    }
}
