@import "../_vars.scss";

elma-grid {
    $colorBorder: #f6f6f6;
    $colorHeader: #212529;
    $tableFontSize: $font-size-base;

    .ui-datatable-thead {
        background-color: $firm-gray !important;
    }

    .ui-datatable {
        box-sizing: border-box;

        table {
            table-layout: inherit;
        }

        .ui-datatable-thead > tr > th,
        .ui-datatable-tfoot > tr > td,
        .ui-datatable-data > tr > td {

            &:first-child {
                padding: 10px 16px !important;
            }

            &:not(:first-child) {
                padding: 10px 16px 10px 20px !important;
            }

        }

        thead th {
            text-align: left !important;
        }
    }

    thead tr {

        cursor: pointer;

        th {
            height: 36px !important;
            border: none !important;
            font-weight: $font-weight-bold !important;
            text-align: left;
            color: $colorHeader;
        }
    }

    thead tr,
    tbody tr {

        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
        box-sizing: border-box;
        font-size: $tableFontSize;

        &:hover {
            input {
                display: block;
                &:checked {
                    &:before {
                        background: red !important;
                    }
                }
            }
        }

        app-appview-list-field {
            text-align: left !important;
        }
    }

    tbody tr {
        height: 58px;
        border-bottom: 1px solid $colorBorder !important;

        &:hover {
            background: $firm-gray-50;
        }

        td {
            border: none !important;
            padding: 0 !important;

            span {
                display: block;
                width: 100% !important;

                * {
                    display: inline-block;
                }
            }
        }
    }

    .fa-sort {

        display: inline-block;
        vertical-align: middle;
        font-family: 'elma365' !important;
        font-size: 22px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        letter-spacing: 0;
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga";
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &.fa-sort-desc::after {
            content: '\e905';
        }
        &.fa-sort-asc::after {
            content: '\e907';
        }
    }
}
