%input-control {
    box-shadow: inset 0 1px 1px rgba(#000, .1);
    border: $input-border-width solid $base-border-color;
    position: relative;
    width: $checkbox-width;
    height: $checkbox-height;
    background-color: $input-background-color;
    color: $btn-color-base;
    transition: .15s linear;
}
%input-control-active {
    box-shadow: 0 0 0 $btn-focus-width rgba($firm-blue, .5);
    border-color: $firm-blue;
    background: $firm-gray;
    transition: none;
}
%input-control-focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($firm-blue, .5);
    border-color: $firm-blue;
    transition: none;
}
%input-control-label {
    margin: 0 0 0 $grid-gutter-padding;
    line-height: 1;
    user-select: none;
    cursor: pointer;
    &.ui-label-disabled {
        color: $color-label-disabled;
    }
}

body {
    .ui-chkbox {
        margin-right: 0;
        user-select: none;
        .ui-chkbox-box {
            @extend %input-control;
            &:not(.ui-state-disabled) {
                &:active {
                    @extend %input-control-active;
                }
            }
            &.ui-state-active {
                .ui-chkbox-icon {
                    opacity: 1;
                }
            }
            &.ui-state-focus {
                @extend %input-control-focus;
            }
            &.ui-state-disabled,
            &.ui-widget:disabled {
                border-color: $firm-gray;
                background: $firm-gray;
            }
        }
        .ui-chkbox-icon {
            opacity: 0;
            font-size: .8em;
            line-height: 1.3em;
            &:before {
                content: "\e9c5";
            }
            .ui-state-disabled &,
            .ui-widget:disabled & {
                color: $firm-gray-dark;
            }
        }
    }
    .ui-chkbox-label {
        @extend %input-control-label;
    }
    .size-lg {
        .ui-chkbox-box {
            width: $checkbox-width * 1.3;
            height: $checkbox-width * 1.3;
        }
        .ui-chkbox-icon {
            font-size: 1em;
            line-height: 1.5em;
        }
        .ui-chkbox-label {
            margin-left: .8rem;
        }
    }
}

body {
    .ui-radiobutton {
        margin-right: 0;
        user-select: none;
        .ui-radiobutton-box {
            border-radius: 50%;
            @extend %input-control;
            .size-lg & {
                width: $checkbox-width * 1.5;
                height: $checkbox-height * 1.5;
            }
            &:not(.ui-state-disabled) {
                &:active {
                    @extend %input-control-active;
                }
            }
            &.ui-state-active {
                .ui-radiobutton-icon {
                    opacity: 1;
                }
            }
            &.ui-state-focus {
                @extend %input-control-focus;
            }
            &.ui-state-disabled,
            &.ui-widget:disabled {
                border-color: $firm-gray;
                background: $firm-gray;
            }
        }
        .ui-radiobutton-icon {
            border-radius: 50%;
            opacity: 0;
            position: absolute;
            top: 3px;
            bottom: 3px;
            left: 3px;
            right: 3px;
            margin: 0;
            background: $dark-color;
            &:before {
                content: none;
            }
            .ui-state-disabled &,
            .ui-widget:disabled & {
                background: $color-label-disabled;
            }
        }
    }
    .ui-radiobutton-label {
        @extend %input-control-label;
    }
    .size-lg {
        .ui-radiobutton-box {
            width: $checkbox-width * 1.3;
            height: $checkbox-width * 1.3;
        }
        .ui-radiobutton-icon {
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
        }
        .ui-radiobutton-label {
            margin-left: .8rem;
        }
    }
}
