body {
    .ui-menu {
        padding: $grid-gutter-padding 0;
        //.ui-menu-list {}
        .ui-menuitem {
            border-radius: 0 !important;
            margin: 0;
        }
        .ui-menuitem-link {
            border-radius: 0 !important;
            min-height: $input-btn-height;
            margin: 0;
            padding: $input-btn-padding-y $input-btn-padding-x;
            font-size: $btn-font-size-base;
            line-height: $input-btn-line-height;
            color: inherit;
            &:hover,
            &.ui-state-highlight {
                background: $firm-gray;
            }
            .size-sm & {
                min-height: $input-btn-height-sm;
                padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
                font-size: $btn-font-size-sm;
            }
            .size-lg & {
                border-radius: $border-radius-lg;
                min-height: $input-btn-height-lg;
                padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
                font-size: $btn-font-size-lg;
            }
        }
        //.ui-menuitem-text {}
    }
}
