.ui-spinner.ui-widget.ui-corner-all {
    button.ui-spinner-button {
        // Отключим пока. Выглядят коряво.
        display: none;
    }
    button.ui-spinner-button.ui-spinner-up.ui-corner-tr.ui-button.ui-widget.ui-state-default {
        border: none;
        background: transparent !important;
        border-radius: 0;
        box-shadow: none;
        span.fa.fa-caret-up.ui-clickable::before {
            cursor: pointer;
            font-size: 18px;
            color: #212629;
            margin-left: -2px;
            margin-top: -7px;
            display: inline-block;
            vertical-align: middle;
            font-family: 'elma365' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            letter-spacing: 0;
            -ms-font-feature-settings: "liga" 1;
            font-feature-settings: "liga";
            font-variant-ligatures: discretionary-ligatures;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: 'arrow_right';
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg)
        }
    }
    button.ui-spinner-button.ui-spinner-down.ui-corner-br.ui-button.ui-widget.ui-state-default {
        border: none;
        background: transparent !important;
        border-radius: 0;
        box-shadow: none;
        span.fa.fa-caret-down.ui-clickable::before {
            cursor: pointer;
            font-size: 18px;
            color: #212629;
            margin-top: -7px;
            margin-left: -2px;
            display: inline-block;
            vertical-align: middle;
            font-family: 'elma365' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            letter-spacing: 0;
            -ms-font-feature-settings: "liga" 1;
            font-feature-settings: "liga";
            font-variant-ligatures: discretionary-ligatures;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: 'arrow_right';
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg)
        }
    }
}
