// rewrite quill base styles
body {
    .ql-snow {
        a {
            color: $link-color;
            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

// mention container
app-mention {
    z-index: 2000;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 1px 1px 7px rgba($dark-color, .1);
    border-radius: $border-radius-lg;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 300px;
    max-height: 60vh;
    background: $light-color;
    app-user {
        padding: $input-btn-padding-y $input-btn-padding-x;
        cursor: pointer;
    }
    .active {
        background: rgba($firm-blue, .2);
    }
}

// mention link
.mention {
    border-radius: $border-radius-sm;
    display: inline-block;
    vertical-align: baseline;
    padding: .1em .3em;
    background: lighten($firm-blue, 46%);
    color: $link-color;
    white-space: nowrap;
    line-height: 1;
    text-decoration: none !important;
    &:hover {
        background: lighten($firm-blue, 43%);
        color: $link-hover-color;
    }
}

app-html-editor {
    display: flex;
    position: relative;
    max-height: 55vh;
    > div {
        display: flex;
        width: 100%;
    }
    elma-html-editor {
        overflow-y: auto;
        display: block;
        width: 100%;
        height: 100%;
    }
    .ql-container {
        border-radius: $border-radius;
        background: $light-color;
        font-size: inherit;
        font-family: inherit;
        &.ql-show {
            border: $border-width solid $base-border-color;
        }
    }
    .ql-editor {
        padding: .85rem 70px .85rem .9rem;
        &.ql-blank {
            &:before {
                left: .85rem;
                font-style: inherit;
            }
        }
    }
    .editor-buttons {
        position: absolute;
        bottom: .2em;
        right: $grid-gutter-width;
        button {
            opacity: .3;
            width: 2.2rem;
            &:hover {
                opacity: 1;
            }
        }
    }
}
