body {
    .ui-splitbutton {
        display: flex;
    }
    .ui-splitbutton-menubutton {
        border-left: 0;
        .ui-button-text {
            font-size: 0;
            text-indent: 0;
            padding-left: 0;
            padding-right: 0;
            &:before {
                display: inline-block;
                font-size: $btn-font-size-lg;
                content: "\e905";
                font-family: "elma365" !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
            }
        }
    }
}
