elma-switch {
    p-header & {
        flex: 1 0 auto;
    }
}

body {
    .ui-selectbutton {
        display: flex;
        &.ui-buttonset {
            margin-right: 0;
            .ui-button {
                &:first-child {
                    border-radius: $border-radius 0 0 $border-radius;
                }
                &:last-child {
                    border-radius: 0 $border-radius $border-radius 0;
                }
                & + .ui-button {
                    margin-left: -1px;
                }
            }
        }
    }
}

.ui-button {
    border-radius: $btn-border-radius;
    border: $input-btn-border-width solid $base-border-color;
    padding: 0;
    background: $light-color;
    color: $btn-color-base;
    font-weight: $btn-font-weight;
    text-align: center;
    font-size: $btn-font-size-base;
    line-height: $input-btn-line-height;
    white-space: nowrap;
    user-select: none;
    appearance: none;
    transition: background .15s linear, box-shadow .15s linear;
    cursor: pointer;
    &.size-sm {
        border-radius: $btn-border-radius-sm;
    }
    &.size-lg {
        border-radius: $btn-border-radius-lg;
    }
    &.ui-corner-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.ui-corner-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &:focus,
    &.ui-state-focus {
        z-index: 3;
        outline: 0;
        box-shadow: 0 0 0 $btn-focus-width rgba($firm-blue, .5);
        border-color: $firm-blue;
        transition: none;
    }
    &:hover {
        z-index: 2;
        border-color: $dark-border-color;
        transition: none;
    }
    &.ui-state-disabled {
        box-shadow: none;
        border-color: lighten($dark-border-color, 5%);
        color: #787878;
        opacity: .65;
    }
    &.ui-state-active {
        background: $firm-gray;
        font-weight: $btn-font-weight;
        transition: none;
        &:focus {
            box-shadow: 0 0 0 $btn-focus-width rgba($firm-blue, .5);
        }
    }
    .ui-button-text {
        height: 3rem;
        padding: (3rem - $btn-font-size-base)/2 $input-btn-padding-x;
        font-size: $btn-font-size-base;
        line-height: $input-btn-line-height;
        .size-sm & {
            height: 2.2rem;
            padding: (2.2rem - $btn-font-size-sm)/2 $input-btn-padding-x-sm;
            font-size: $btn-font-size-sm;
        }
        .size-lg & {
            height: 3.8rem;
            padding: (3.8rem - $btn-font-size-lg)/2 $input-btn-padding-x-lg;
            font-size: $btn-font-size-lg;
        }
    }
}
