@import "../vars";

$fontFamily:        $font-roboto-regular;
$fontSize:          $font-size-base;
$borderRadius:      $border-radius;
$disabledOpacity:   .35;

//Header
$headerBorderWidth:     $border-width;
$headerBorderColor:     $base-border-color;
$headerBgColor:         $light-color;
$headerTextColor:       $heading-text-color;
$headerFontWeight:      $font-weight-bold;
$headerIconTextColor:   $headerTextColor;

//Content
$contentBorderWidth:    $border-width;
$contentBorderColor:    $base-border-color;
$contentBgColor:        $light-color;
$contentTextColor:      $base-text-color;

//Default State
$stateDefaultBorderWidth: $border-width;
$stateDefaultBorderColor: $base-border-color;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;

//Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;

//Highlight State
$stateHighlightBorderColor: #156090;
$stateHighlightBgColor: #186ba0;
$stateHighlightTextColor: #FFFFFF;

//Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;

//Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;

//Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #222222;
