<elma-popup
    #popup
    [title]="'navigation.main@add-namespace' | translate "
    [size]="'sm'"
>
    <div class="modal-body step-choice">
        <div class="step-choice__item">
            <div
                class="button-card"
                [routerLink]="['/', {outlets: {p: ['import','namespace','store' ]}}]"
            >
                <img src="/assets/images/365-to-store.svg" width="50">
                <p class="text-xl mb-3">
                    {{"navigation.main.append-namespace@from-store"|translate}}
                </p>
                <p class="text-lg">
                    {{"navigation.main.append-namespace@from-store-text"|translate}}
                </p>
            </div>
            <a
                class="mt-3"
                elmaButton="link"
                [routerLink]="['/', {outlets: {p: ['import','namespace', 'upload']}}]"
                (click)="close()"
            >{{"navigation.main.append-namespace@upload"|translate}}</a>
        </div>
        <div class="step-choice__item">
            <div class="button-card" (click)="createNew()">
                <img src="/assets/images/365-new-app.svg" width="50">
                <p class="text-xl mb-3">
                    {{"navigation.main.append-namespace@create-new"|translate}}
                </p>
                <p class="text-lg">
                    {{"navigation.main.append-namespace@create-new-text"|translate}}
                </p>
            </div>
        </div>
    </div>
</elma-popup>

<app-widget-page-create
    #createPageWidget
    [showNamespace]="true"
    [baseUrl]="baseUrl"
    [namespaceCode]="namespace"
></app-widget-page-create>
