<ng-container *mobxAutorun>
    <ng-container *elmaDesktop>
        <label class="checkbox _theme_inverted">
            <elma-checkbox
                type="checkbox"
                (modelChange)="selectRow($event)"
                [id]="file.id"
                class="checkbox__v"></elma-checkbox>
        </label>
    </ng-container>
    <a
        class="directory"
        (click)="open.emit(file.id)"
    >
        <i class="directory__icon elma-icons md-18">file_type_blank</i>
        <div class="directory-content">
            <div class="directory__name">{{file.name}}</div>
            <ng-template
                [ngTemplateOutlet]="noEditAtribute"></ng-template>
        </div>
    </a>
    <div *elmaDesktop class="directory-controls">
        <button
            elmaButton="default"
            elmaButtonStyle="icon"
            class="btn-control_download"
            (click)="downloadFile()">download_sign</button>
        <div class="mob-context-menu" #mobContextMenu>
            <button
                elmaButton="default"
                elmaButtonStyle="icon"
                class="mob-context-menu__btn"
                (click)="fileCtx.show($event)">menu_horizontal</button>
            <app-file-context-menu
                #fileCtx
                [file]="file"
                [stayActiveElement]="mobContextMenu"
                (changeName)="openMenuRename()"
            ></app-file-context-menu>
        </div>
    </div>
</ng-container>

<ng-template #noEditAtribute>
    <div class="directory__timestamp">
        {{ createdOrUpdated() }}
    </div>
    <div class="directory__size">
        {{file.size | formatBytes}}
    </div>
</ng-template>
