<div class="switcher"
    *ngIf="field.data.additionalType === 'radio'"
>
    <elma-switch
        [options]="[{ label: field.data.yesValue, value: true }, { label: field.data.noValue, value: false }]"
        [ngModel]="value"
        (ngModelChange)="setValue($event)"
    ></elma-switch>
</div>

<div
    class="form-check"
    *ngIf="field.data.additionalType === 'checkbox'"
>
    <elma-checkbox
        id="{{ field.code }}"
        [ngModel]="value"
        (ngModelChange)="setValue($event)"
        #checkbox
    ></elma-checkbox>
</div>
