:host {
    .elma-icons,
    .elma-tree-label {
        cursor: pointer;
    }

    p-tree {
        overflow: hidden;
        flex: 1;
        min-width: 100%;
        display: inline-block;
    }

    .ui-widget-content {
        min-width: 100%;
        width: 100%;
    }

    ::ng-deep {
        .ui-tree-container {
            padding: 0;
            min-width: 100%;
            display: block;
        }

        i.folder {
            margin-right: 5px;
        }

        .ui-treenode-children {
            padding: 0 0 0 20px;
        }

        .ui-treenode-content:hover {
            background-color: #eeebea;
        }

        .ui-treenode-content {
            font-size: 13px;
            padding: 7px 15px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #5e5e5e;
            white-space: nowrap;
            cursor: pointer;
        }

        .ui-treenode-label {
            padding: 0;
        }


        .isActive {
            color: #3595d2;
        }
    }
}
