<p-tree
    [value]="_items"
    (onNodeExpand)="loadNode($event)"
    (onNodeSelect)="selectNode($event)"
>
    <ng-template let-node  pTemplate="default">
        <span [ngClass]="{ isActive:node.data.isActive, isExpanded:node.expanded }" (click)="loadNode(node)">
            <span *ngIf="node.expanded">
                <i class="elma-icons md-18" *ngIf="node.children.length>0 && node.data.parentId == nullUUID">arrow_down</i>
                <i class="elma-icons md-18" *ngIf="node.children.length>0 && node.data.parentId != nullUUID"></i>
                <i class="elma-icons md-18" *ngIf="node.children.length==0"></i>
            </span>
            <span *ngIf="!node.expanded">
                <i class="elma-icons md-18" *ngIf="node.children.length>0 && node.data.parentId == nullUUID">arrow_right</i>
                <i class="elma-icons md-18" *ngIf="node.children.length>0 && node.data.parentId != nullUUID"></i>
                <i class="elma-icons md-18" *ngIf="node.children.length==0"></i>
            </span>
            <i class="elma-icons folder md-18">{{ node.expandedIcon }}</i>
            <span class="elma-tree-label" (click)="selectNode(node)">{{ node.label }}</span>
        </span>
    </ng-template>

</p-tree>
