<simple-notifications>
    <app-toast-notifications></app-toast-notifications>
</simple-notifications>
<div
    *mobxAutorun
    class="app-wrapper main"
    [class.@sidebar_opened]="isSidebarOpen === true"
>
    <aside
        *ngIf="!(fullscreen$ | async) && isUserLoggedIn"
        class="app-sidebar"
    >
        <app-nav-manager
            class="app-sidebar__inner"
        ></app-nav-manager>
    </aside>
    <main class="app-wrap" [class.full-screen]="fullscreen$ | async">
        <app-main-header
            *ngIf="!(fullscreen$ | async) && isUserLoggedIn"
        ></app-main-header>
        <div class="app-content router-wrapper">
            <div class="app-content__inner">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div
            [hidden]="!isShowPopup"
            [class.showed]="isShowPopup"
        >
            <router-outlet
                name="p"
                (activate)="popupToggle($event)"
                (deactivate)="popupToggle($event)"
            ></router-outlet>
        </div>
    </main>
    <div *ngIf="isUserLoggedIn" class="sidebar-curtain" (click)="sidebarService.close()"></div>
</div>
