<div class="column-wrapper">
    <div class="profile-avatar"></div>
    <div class="profile-menu">
        <a href="javascript:;" class="profile-menu-link">
            <svg class="svg-person_18-dims">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites/svg/sprite.css.svg#person_18"></use>
            </svg>
            <span>Профиль</span>
        </a>
        <a href="javascript:;" class="profile-menu-link">
            <svg class="svg-chat_18-dims">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites/svg/sprite.css.svg#chat_18"></use>
            </svg>
            <span>Обратная связь</span>
        </a>
        <a href="javascript:;" class="profile-menu-link">
            <svg class="svg-exit_to_app_18-dims">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites/svg/sprite.css.svg#exit_to_app_18"></use>
            </svg>
            <span>Настройки</span>
        </a>
        <a href="javascript:;" class="profile-menu-link" (click)="openAlertPopup()">
            <svg class="svg-settings_18-dims">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/sprites/svg/sprite.css.svg#settings_18"></use>
            </svg>
            <span>Выйти</span>
        </a>
    </div>

    <div class="alert-popup" [class.is-active]="alertPopupIsActive">
        <div class="alert-popup__text">Вы действительно
            хотите выйти
            из своего аккаунта?</div>

        <div class="alert-popup__btn">
            <a href="javascript:;" (click)="logout()">Выйти</a>
        </div>
        <div class="alert-popup__btn">
            <a href="javascript:;" class="grey" (click)="closeAlertPopup()">Отмена</a>
        </div>
    </div>
</div>
