@import '../../../styles/common-import';

:host {
    padding: 0 0 $grid-gutter-width;
    display: block;
    width: 100%;
    min-height: 100%;

    @include media-breakpoint-up(md) {
        padding: 60px 0 $grid-gutter-width;
    }
}

.profile-avatar {
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(#000, .3);
    width: 80px;
    height: 80px;
    margin: 35px auto 20px;
}

.profile-menu-link {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px 0 20px 60px;
    color: #000;
    text-decoration: none;
    &:hover {
        background-color: #ececec;
    }

    svg,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    svg {
        margin-right: 20px;
        fill: #8f949c;
        color: #8f949c;
    }

}

.alert-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(#fff, .8);
    flex-direction: column;
    justify-content: center;
    display: none;

    &__text {
        font-size: 18px;
        text-align: center;
        padding: 0 10px;
        max-width: 300px;
        margin: 0 auto 20px;
    }
    &__btn {
        margin-bottom: 20px;

        a {
            position: relative;
            overflow: hidden;
            display: block;
            border-radius: 4px;
            box-shadow: 0 2px 10px rgba(#000, .15);
            text-decoration: none;
            background-color: #43ac50;
            color: #fff;
            padding: 9px 4px;
            white-space: nowrap;
            text-align: center;
            text-overflow: ellipsis;
            max-width: 300px;
            margin: 0 auto;

            &.grey {
                background-color: #DADADA;
                color: #000;
            }
        }
    }

    &.is-active {
        display: flex;
    }
}
