:host {
    display: block;
    max-width: 400px;
    ::ng-deep {
        .dx-tagbox {
            width: 100%;
        }
        .dx-state-focused {
            border-color: #80bdff;
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
        }

        .dx-texteditor-input {
            height: auto;
        }
        .dx-texteditor-container {
            padding-right: 36px;
        }
        .popover {
            max-width: inherit;
        }
        .dx-texteditor-input {
            border: none;
            box-shadow: none;
            &:focus {
                box-shadow: none;
            }
        }
        .dx-texteditor-container {
            display: flex;
        }
    }
}

:host.ng-dirty.ng-invalid  {
    ::ng-deep {
        .dx-tagbox {
            border-color: #dc3545;
        }
        .dx-state-focused {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
    }
}

.input-group {
    position: relative;
}

.input-group-button {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    padding: 0;
    background: none;
    color: #dadada;
    cursor: pointer;
    outline: none;
    &:hover {
        color: #333;
    }
}
