<elma-popover #ctxMenu [stayActiveElement]="stayActiveElement">
    <div class="ctx-menu">
        <elma-popover-menu-option
            [icon]="'user_add_fill'"
            [label]="'aсcess-control'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openDirPermissions()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [icon]="'folder_type_move'"
            [label]="'move'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openMoveDir()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [icon]="'app_pencil'"
            [label]="'rename'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="rename()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [icon]="'system_link_horisontal'"
            [label]="'create-link'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="openCreateLink()"
        ></elma-popover-menu-option>
        <elma-popover-menu-option
            [icon]="'category_favorite'"
            [label]="'add-to-favorite'"
            [translateLabel]="true"
            [labelPrefix]="translatePrefix"
            (click)="addToFavorites()"
        ></elma-popover-menu-option>
    </div>
</elma-popover>
