@import '../../../../../styles/common-import';

:host {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    ::ng-deep {
        elma-file .docx-cover {
            height: 100% !important;
        }
    }
}

.file-loading {
    width: 100%;
    padding: 0 $grid-gutter-width;
    &__progress {
        display: flex;
        width: 40%;
        margin: 0 auto;
        align-items: center;
    }
    &__bar {
        border-radius: 2px;
        flex: 1 1;
        height: $grid-gutter-padding;
        background: #ececec;
    }
    &__fill {
        border-radius: 2px;
        position: relative;
        min-width: .5em;
        height: 8px;
        background-color: #438bc6;
        &::before {
            position: absolute;
            bottom: 100%;
            left: 100%;
            margin: 0 0 .7em (-.6em);
            color: #454545;
            content: attr(data-content);
        }
    }
    &__name {
        width: 80%;
        margin: 1em auto 0;
        text-align: center;
    }
    &__cancel {
        border: none;
        appearance: none;
        display: block;
        margin: 0 0 0 .4em;
        padding: 0.2em;
        background: none;
        color: #e21628;
        font-size: 14px;
    }
}

.customUploaderMessage {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
}

div.hide-border {
    border: none !important;
}

.hidden {
    display: none !important
}

.trash {
    z-index: 10;
    border: 0;
    position: absolute;
    right: $grid-gutter-width;
    top: $grid-gutter-width;
    width: $grid-gutter-width*2;
    height: $grid-gutter-width*2;
    padding: 0;
    background-color: #e30613;
    color: #fff;
    &:focus {
        box-shadow: none;
    }
}

.fileInput-outer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 $grid-gutter-width 0;
}

.elmaFile-outer {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ececec;
}

.fileInput {
    border-radius: $base-border-radius;
    border: 2px dashed $base-border-color;
    display: flex;
    width: 100%;
    &.is-drop-over {
        border-color: #5798cc !important;
    }
    &.fileUploaded {
        border-color: transparent !important;
    }
}

.inputButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    label {
        z-index: 2;
        position: relative;
        margin: 0;
    }
}
