<ng-container *mobxAutorun>
    <div [hidden]="file || isUploading" class="fileInput-outer">
        <div class="inputButton">
            <form>
                <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
                    id="uploaderFileInput"/>
            </form>
            <label for="uploaderFileInput" #inputFileUploadButton elmaButton="success">
                <i class="elma-icons">upload_sign</i>
                {{'app.appview.edit@file'|translate}}
            </label>
        </div>
        <div
            [hidden]="isUploading"
            class="fileInput"
            ngFileDrop
            (click)="inputFileUploadButton.click()"
            (uploadOutput)="onUploadOutput($event)"
            [uploadInput]="uploadInput"
            [class.is-drop-over]="dragOver"
        >
            <div class="customUploaderMessage">{{'Загрузите файл или перетащите его в эту область'}}</div>
        </div>
    </div>
    <div *ngIf="isUploading" class="file-loading">
        <div class="file-loading__progress">
            <div class="file-loading__bar">
                <div
                    class="file-loading__fill"
                    [style.width]="uploadedFile.progress.data.percentage + '%'"
                    [attr.data-content]="uploadedFile.progress.data.percentage + '%'"
                ></div>
            </div>
            <button type="button" class="file-loading__cancel elma-icons">system_close</button>
        </div>
        <div class="file-loading__name">{{uploadedFile.name}}</div>
    </div>
    <div *ngIf="file" class="elmaFile-outer">
        <elma-file [file]="file"></elma-file>
    </div>
</ng-container>
