@import '../../../../../styles/common-import';

.full-name-part {
    @include media-breakpoint-down(md) {
        display: block;
    }
    @include media-breakpoint-up(lg) {
        display: inline;
        width: 160px;
        margin-right: $grid-gutter-padding;
    }
}

.full-name-lastname, .full-name-firstname {
    @include media-breakpoint-down(md) {
        margin-bottom: $grid-gutter-padding;
    }
}
