<app-appview-list
    #list
    [config]="config"
    [layout]="Layout.Table"
    [allowedLayouts]="[ Layout.Table ]"
    [fieldTemplates]="{ type: TaskIconComponent }"
    (itemClick)="onItemClick($event)"
>
    <ng-container header>
        <app-breadcrumbs
            *ngIf="application"
            [label]="searchQuery ? ('app-appview@search-results' | translate) : application.name"
            [homeLabel]="searchQuery ? application.name : ''"
            (home)="stopSearch()"
            (back)="stopSearch()"
        ></app-breadcrumbs>
    </ng-container>
    <ng-container buttons>
        <elma-select
            *elmaDesktop
            [options]="[{label: ('bpm.tasks@current' | translate), value: false}, {label: ('bpm.tasks@all' | translate), value: true}]"
            (onChange)="changeClosed($event)">
        </elma-select>
        <button
            *elmaDesktop
            elmaButton="primary"
            (click)="addTask()"
        >
            <i class="elma-icons">plus</i>Task
        </button>
        <app-header-mobile-buttons
            *elmaMobile
            [buttons]="[{ icon: 'plus', label: 'Task', action: addTask }]">
        </app-header-mobile-buttons>
    </ng-container>
</app-appview-list>
