<div class="nav">
    <div class="nav__inner"
        *ngIf="homeLabel"
    >
        <nav>
            <a
                class="content-header__back"
                href="javascript:void(0)"
                (click)="back.emit($event)"
            ></a>
            <a
                *ngIf="homeRouterLink"
                class="home-label"
                href="javascript:void(0)"
                [routerLink]="homeRouterLink"
            >{{homeLabel}}</a>
            <a
                *ngIf="!homeRouterLink"
                class="home-label"
                href="javascript:void(0)"
                (click)="home.emit($event)"
            >{{homeLabel}}</a>

            <span class="content-header__separator">/</span>
            <a
                *ngIf="labelRouterLink"
                [routerLink]="labelRouterLink"
            >{{ label }}</a>
            <a
                *ngIf="!labelRouterLink && label2"
                href="javascript:void(0)"
                (click)="labelClick.emit($event)"
            >{{ label }}</a>
            <ng-container
                *ngIf="!label2"
            >{{ label }}</ng-container>

            <ng-container *ngIf="label2">
                <span class="content-header__separator">/</span>
                {{ label2 }}
            </ng-container>
        </nav>
    </div>
    <div class="nav__inner"
        *ngIf="!homeLabel"
    >
        <nav title="{{label}}">
            {{label}}
        </nav>
        <span
            *elmaCustomization="hasSettings"
            class="icons-bar"
        >
            <i class="elma-icons" (click)="settings.emit($event)">settings</i>
        </span>
    </div>
</div>

