@import "../../../styles/common-import";

:host {
    display: block;
    width: 100%;
}

.nav {
    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
    }
    nav {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.icons-bar {
    width: 21px;
    height: 16px;
    vertical-align: middle;
    border: 0;
    padding: 0 0 0 5px;
    background-color: transparent;
    color: #cbc8e8;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    line-height: 0;
    &:hover {
        color: #736c9d;
    }

    > .elma-icons {
        margin-left: 0 !important;
        font-size: 16px;
    }
}
