<app-page
    *ngIf="canRender"
    [page]="page"
    [label]="'app.namespace.config@serial'|translate"
>
    <ng-container page-control>
        <button elmaButton="customization" (click)="serial.create()">
            <i class="elma-icons">plus</i>{{ 'app.namespace.config@add-serial' | translate }}
        </button>
    </ng-container>
    <ng-container page-body>
        <app-serial
            #serial
            [namespace]="page.code"
        ></app-serial>
    </ng-container>
</app-page>
