<div
    *mobxAutorun
    class="side-nav__scope"
>
    <app-navigation-main-item
        *ngFor="let page of pages"
        [page]="page"
        [class.hide-mobile]="page.code === AdminSystemPageCode"
        [isActive]="currentPage === page"
        [activePage]="activePage"
    ></app-navigation-main-item>
    <div
        *elmaCustomization
        class="sidebar-controls"
    >
        <button
            class="btn-accent btn-block"
            title="{{'navigation.main@add-namespace' | translate}}"
            elmaButton="customization"
            (click)="createPageWidget.show()"
        >
            <i class="elma-icons">system_add_round</i>
            {{'navigation.main@add-namespace' | translate}}
        </button>

        <a
            class="edit-link"
            href="javascript:void(0)"
            title="{{'navigation.main@edit-namespaces' | translate}}"
            (click)="openPageEditor()"
        >
            {{'navigation.main@edit-namespaces' | translate}}
        </a>
        <app-navigation-main-append-namespace
            #createPageWidget
            [baseUrl]="BASE_URL"
            [namespace]="Namespaces.Global"
        ></app-navigation-main-append-namespace>
    </div>
</div>
<!--[class]="'page-nav-item-' + page.code"-->
