:host {
    input[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }

    &.ng-dirty.ng-invalid input {
        border-color: red;
    }

    &.ng-dirty.ng-invalid input:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }
}
