<app-dynamic-form
    #form
    class="popover-body"
    [fields]="formFields"
    [namespace]="namespace"
    (onSubmit)="save()"
></app-dynamic-form>
<div class="popover-footer">
    <div class="btn-group">
        <button
            [disabled]="okButtonDisabled"
            [elmaButton]="'primary'"
            (click)="form.submit()"
        >{{okButtonTitle}}
        </button>
        <button
            (click)="close()"
            [elmaButton]="'default'"
        >
            {{ 'app.appview.edit@cancel'|translate }}
        </button>
    </div>
</div>
