<elma-complex-popup
    [sidebarTrigger]="'manual'"
    [sidebarVisible]="true"
    [footerVisible]="file"
    [visible]="true"
    (onClose)="close()"
>
    <ng-container popup-header>
        {{title}}
    </ng-container>
    <ng-container popup-content>
        <div class="modal-body">
            <app-document-form-uploader
                class="elma-document-uploader"
                [file]="file"
                [dirId]="pathId"
                (fileUploaded)="fileUploaded($event)"
            ></app-document-form-uploader>
        </div>
    </ng-container>
    <ng-container popup-sidebar>
        <app-edit-form-userguide
            [userGuide]="instruction"
            [isEditable]="isInstructionEditable"
            (onUpdate)="updateInstruction($event)"
        ></app-edit-form-userguide>
        <ng-content select="[widgets]"></ng-content>
        <elma-sidebar-widget
            [title]="'app.appview.edit@fields'|translate"
            [accordionModeEnabled]="true"
        >
            <app-dynamic-form
                sidebar-widget-view
                #form
                [fields]="formFields"
                [namespace]="namespace"
            ></app-dynamic-form>
        </elma-sidebar-widget>
    </ng-container>
    <ng-container popup-footer>
                <button elmaButton="primary" (click)="save()">{{ 'app.appview.edit@save' | translate }}</button>
                <button elmaButton="default" (click)="close()">{{ 'app.appview.edit@cancel' | translate }}</button>
                <button class="trash" (click)="deleteFile()">
                    <i class="elma-icons">app_trash</i>
                </button>
    </ng-container>
</elma-complex-popup>
