@import '../../../../styles/common-import';

:host {
    ::ng-deep {
        app-dynamic-form {
            margin: 0 !important;
            padding: 0 !important;
            background-color:transparent !important;
            form {
                margin: 0 !important;
                padding: 0 !important;
                background-color:transparent !important;
                app-dynamic-form-row {
                    background-color:transparent !important;
                    & > .form-group {
                        margin-left: 0;
                        margin-right: 0;
                        &::before {
                            top: 0;
                            left: 0;
                            bottom: -1em;
                            width: 100%;
                            background: none!important;
                        }
                        .col-form-field {
                            padding-left: 0px!important;
                            width: 100%!important;
                            max-width: 100%;
                            flex-basis: 100%;
                        }
                        .col.col-form-label {
                            flex: 1 1 100%!important;
                            max-width: 100%!important;
                            padding-left: 0px!important;
                        }
                        .datebox_datetime {
                            width: 100%!important;
                        }
                    }
                }
            }
        }
    }
}

.trash {
    cursor: pointer;
    border: 0;
    position: absolute;
    right: $grid-gutter-padding;
    top: $grid-gutter-padding;
    width: $grid-gutter-width*2;
    height: $grid-gutter-width*2;
    padding: 0;
    background-color: #e30613;
    color: #fff;
    border-radius: $base-border-radius;
    &:focus {
        box-shadow: none;
    }
}
