@import '../../../styles/common-import';

:host {
    flex: 1;
    display: block;
    background: #fff;

    @include media-breakpoint-up(lg) {
        overflow: auto;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        width: 100%;
        height: 100%;
    }
    &.full-screen {
        border-radius: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    ::ng-deep {
        .confirm .popover-content {
            min-width: auto !important;
            height: auto !important;
        }
    }
}
