<ng-container *mobxAutorun>


    <elma-complex-popup
        #previewPopup
        [visible]="true"
        [sidebarVisible]="false"
        [footerVisible]="false"
        [mobileSidebarToggleable]="true"
        (onClose)="closePreview()"
        [class.popup-fullscreen]="fileType == FileType.OfficeDocument || isMobile"
        [class.popup-msoffice]="fileType == FileType.OfficeDocument"
        [class.popup-subtype]="subType"
    >
        <ng-container popup-header>
            <ng-container *ngIf="currentFile">
                <ng-container *ngIf="fileType != FileType.OfficeDocument || fileType == FileType.OfficeDocument && isMobile">
                    <div *ngIf="!showMenuRename; else menuRename"
                        class="pdf-preview__filename">
                        <i *elmaDesktop class="elma-icons md18">file_type_blank</i>
                        <span class="file-name">{{currentFile.name}}</span>
                        <button tooltipPosition="bottom"
                            [elmaTooltip]="('app.disk.listing.directory@rename-tooltip'|translate)"
                            class="pdf-preview-controls__btn rename-button"
                            elmaButton="default"
                            elmaButtonStyle="icon"
                            (click)="openMenuRename()"
                        >app_pencil
                        </button>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container popup-controls>
            <div class="doc-buttons" *elmaDesktop>
                <a
                    *ngIf="currentFile && fileType == FileType.OfficeDocument && isFileEditable()"
                    class="edit-button"
                    elmaButton="primary"
                    [routerLink]="['', {outlets: {primary: ['files', 'editoffice', currentFile.id], p: null}}]"
                    target="_blank"
                >{{'app.disk.listing.directory@edit'|translate}}</a>
                <button
                    *ngIf="currentFile && fileType != FileType.OfficeDocument"
                    class="edit-button"
                    elmaButton="primary"
                >{{'app.disk.listing.directory@add-version-tooltip'|translate}}</button>
                <elma-split-button
                    class="send-button"
                    [label]="'app.disk.listing.directory@send'|translate"
                    [model]="optionList"
                ></elma-split-button>
            </div>
            <ng-template #menuRename>
                <div class="rename">
                    <input #nameFile
                        class="rename-input"
                        input="text"
                        [(ngModel)]="newName"
                        (keyup.enter)="updateName()"
                        (keyup.escape)="cancelRename()"
                        (focusout)="cancelRename()"/>
                    <span *ngIf="renameError" class="rename-error text-xs">{{renameError}}</span>
                </div>
            </ng-template>

            <div class="no-msoffice-buttons">
                <ng-container *ngTemplateOutlet="headerButtons"></ng-container>
            </div>
        </ng-container>

        <ng-template #headerButtons>
            <ng-container *elmaDesktop>

                <button class="pdf-preview-controls__btn"
                    elmaButton="default"
                    elmaButtonStyle="icon"
                    tooltipPosition="bottom"
                    [elmaTooltip]="('app.disk.listing.directory@add-version-tooltip'|translate)"
                >system_add_round
                </button>

                <a
                    class="pdf-preview-controls__btn"
                    elmaButton="default"
                    elmaButtonStyle="icon"
                    tooltipPosition="bottom"
                    [elmaTooltip]="('app.disk.listing.directory@download-tooltip'|translate)"
                    target="_self"
                    href="{{src}}"
                >download_sign</a>

                <ng-container *ngIf="fileType == FileType.Pdf || fileType == FileType.Image">
                    <button *ngIf="!errorMessage"
                        class="pdf-preview-controls__btn"
                        elmaButton="default"
                        elmaButtonStyle="icon"
                        tooltipPosition="bottom"
                        (click)="printPdf()"
                        [elmaTooltip]="('app.disk.listing.directory@print-tooltip'|translate)"
                    >system_print_fill
                    </button>
                </ng-container>

                <button class="pdf-preview-controls__btn"
                    elmaButton="default"
                    elmaButtonStyle="icon"
                    (click)="fileCtx.show($event)"
                    tooltipPosition="bottom"
                    [elmaTooltip]="('app.disk.listing.directory@options-tooltip'|translate)"
                >menu_vertical
                </button>

                <button
                    *ngIf="fileType == FileType.OfficeDocument"
                    class="pdf-preview-controls__btn sidebar-info__button"
                    elmaButton="default"
                    elmaButtonStyle="icon"
                    tooltipPosition="bottom"
                    [elmaTooltip]="('app.disk.listing.directory@props'|translate)"
                    [class.button-sidebar-active]="fileInfoActivity"
                    (click)="toggleFileInfo();"
                >system_info
                </button>

                <app-file-context-menu #fileCtx
                    *ngIf="currentFile"
                    [src]="src"
                    [file]="currentFile"
                    [renameError]="renameError"
                    (moveItem)="previewPopup.close()"
                    (openRenamePopup)="openRenamePopup()"
                    (onShowFileInfo)="previewPopup.toggleSidebar();"
                    (refreshName)="refreshName($event)"
                ></app-file-context-menu>
            </ng-container>
            <ng-container *elmaMobile>
                <ng-container *ngIf="currentFile">
                    <button class="pdf-preview-controls__btn context-button"
                        elmaButton="default"
                        elmaButtonStyle="icon"
                        (click)="fileCtx.show($event)"
                        tooltipPosition="bottom"
                        [elmaTooltip]="('app.disk.listing.directory@options-tooltip'|translate)"
                    >menu_vertical
                    </button>

                    <app-file-context-menu #fileCtx
                        [src]="src"
                        [file]="currentFile"
                        [renameError]="renameError"
                        (moveItem)="previewPopup.close()"
                        (openRenamePopup)="openRenamePopup()"
                        (onShowFileInfo)="previewPopup.toggleSidebar();"
                        (refreshName)="refreshName($event)"
                    ></app-file-context-menu>
                </ng-container>
            </ng-container>
        </ng-template>

        <ng-container popup-content>
            <div class="disk-preview">
                <ng-container *ngIf="subType">
                    <ng-container [ngSwitch]="subType">
                        <div *ngSwitchDefault>Uknown subtype</div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!subType">
                    <elma-file #filePreview [file]="currentFile"></elma-file>
                </ng-container>
            </div>
        </ng-container>

        <ng-container popup-sidebar>
            <ng-container *ngIf="currentFile && currentDirectory">
                <elma-sidebar-widget
                    [title]="'app.disk.listing.directory@props-full'| translate"
                    [accordionModeEnabled]="true"
                >

                    <ng-container sidebar-widget-view>
                        <elma-form-row [label]="'app.disk.listing.directory@create-date'|translate">
                            <span>{{currentFile.createdAt | amDateFormat: 'DD.MM.YYYY в HH:mm'}}</span><br>
                            <span>
                                <!-- TODO: в модели файла нет информации о пользователе. подставить айдишник юзера  -->
                                <app-user
                                    [size]="'sm'"
                                    [userID]="'713a1734-7b97-4afc-9e20-e996daf35c07'"
                                ></app-user>
                            </span>
                        </elma-form-row>
                        <elma-form-row [label]="'app.disk.listing.directory@change-date'|translate">
                            <span>{{currentFile.updatedAt | amDateFormat: 'DD.MM.YYYY в HH:mm'}}</span><br>
                            <span>
                                <!-- TODO: в модели файла нет информации о пользователе. подставить айдишник юзера  -->
                                <app-user
                                    [size]="'sm'"
                                    [userID]="'01f3c249-f561-441c-b145-d25262dbc945'"
                                ></app-user>
                            </span>
                        </elma-form-row>
                        <elma-form-row [label]="'app.disk.listing.directory@file-size-short'|translate">
                            <span>{{currentFile.size | formatBytes}}</span>
                        </elma-form-row>
                        <elma-form-row [label]="'app.disk.listing.directory@target-folder'|translate">
                            <a
                                href="javascript:;"
                                [routerLink]="['', {outlets: {primary: ['files', currentDirectoryId], p: null}}]"
                            >{{currentDirectory.name}}</a>
                        </elma-form-row>
                    </ng-container>

                </elma-sidebar-widget>
            </ng-container>
        </ng-container>

    </elma-complex-popup>

</ng-container>
