@import '../../../../styles/common-import';

$header-height:             50px;
$header-mobile-height:      56px;
$ms-office-logo-width:      211px;
$doc-buttons-width:         320px;
$close-button-width:        27.2px;
$title-max-width:           290px;
$header-button-width:       32px;
$header-close-offset:       $header-button-width + $grid-gutter-padding;
$modal-title-offset:        76px;

:host {
    ::ng-deep {

        .rename-error {
            color: $firm-red;
        }

        .ui-menu.ui-menu-dynamic.ui-widget.ui-widget-content {
            width: max-content !important;
        }

        .modal-header {
            position: fixed !important;
            top: 0;
            left: 0;
            right: 0;
            height: $header-height;
            background: #000 !important;
            z-index: 1040;

            &.\@expanded {
                &:before {
                    background: #000 !important;
                }
                @include media-breakpoint-up(md) {

                    align-items: flex-start;
                    height: unset !important;

                    .pdf-preview__filename {
                        align-items: flex-start;

                        .elma-icons {
                            line-height: 50px;
                        }

                        .file-name {
                            padding: 14px 0;
                        }
                    }

                    .modal-title {
                        white-space: normal !important;
                    }

                    .modal-header__controls {
                        height: 50px;

                        .close.btn {
                            margin: 0 !important;
                        }
                    }
                }
            }

            .modal-title {
                background: #000 !important;
                overflow: visible;
                display: flex;
            }

            .rename {
                .rename-input {
                    display: block;
                    width: 100%;
                }
                .rename-error {
                    margin-left: 8px;
                    word-wrap: break-word;
                    display: block;
                    white-space: normal;
                }
            }

            @include media-breakpoint-up(lg) {
                .file-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .modal-header__controls {
                    justify-content: flex-end;
                }

                .doc-buttons {
                    display: flex;
                    flex: 1 1;
                    justify-content: center;
                    padding: 0 8px;
                }

                .no-msoffice-buttons {
                    flex: 0 0 calc(#{$title-max-width} - #{$header-close-offset});
                    text-align: right;
                    width: calc(#{$title-max-width} - #{$header-close-offset});
                }

                .pdf-preview__filename,
                .rename {
                    width: $title-max-width;
                }
            }

            @include media-breakpoint-down(md) {
                .modal-title {
                    .pdf-preview__filename {
                        max-width: 100%;
                        .file-name {
                            text-overflow:  ellipsis;
                            overflow: hidden;
                        }
                    }
                    .rename {
                        max-width: 100%;
                    }
                }
                &:not(.\@expanded) {
                    .modal-title {
                        width: calc(100% - #{$modal-title-offset});
                    }
                }

                &.\@expanded {
                    .modal-title {
                        width: 100%;
                    }
                }

                .close {
                    flex: 0 0 $header-button-width;
                }

                .no-msoffice-buttons {
                    padding-right: 0 !important;
                }
            }

            .close {
                color: #fff;
                opacity: 1;
                text-decoration: none!important;
            }

            .infoholder__button {
                color: #fff;
            }

            .pdf-preview-controls__btn {
                background: none !important;
                border: none !important;
                color: #fff !important;
                font-size: 2rem !important;

                &.button-sidebar-active {
                    background: #fff !important;
                    color: black !important;

                    &:hover {
                        background: $placeholder-text-color !important;
                        color: black !important;
                    }
                }
            }

            .send-button {
                margin-left: $grid-gutter-width;
            }

            .pdf-preview__filename,
            .rename {
                color: #fff;
                display: flex;
                align-items: center;

                @include media-breakpoint-up(lg) {
                    .file-name {
                        margin-left: $grid-gutter-padding;
                    }
                }
            }

            .rename-button {
                margin-left: $grid-gutter-padding;
            }

            @include media-breakpoint-down(md) {
                .context-button {
                    margin: 0 !important;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .modal-content {
                padding: 0 !important;
            }
        }

        @include media-breakpoint-down(md) {
            .rename-button {
                display: none !important;
            }
        }

        elma-complex-popup {
            &:not(.popup-msoffice) {
                @include media-breakpoint-down(sm) {
                    .doc-buttons {
                        display: none!important;
                    }
                }
            }
            .modal-title {
                justify-content: space-between;
            }
            .no-msoffice-buttons {
                padding-right: $grid-gutter-padding;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .no-msoffice-buttons .pdf-preview-controls__btn,
            .close.btn {
                width: $header-button-width;
                height: $header-button-width;
                border-radius: $base-border-radius;
                padding: 0!important;
                display: block !important;
                line-height: $header-button-width;
                margin: 0 $grid-gutter-padding 0 0;
                text-shadow: none!important;

                &:hover {
                    color: $placeholder-text-color !important;
                }
            }

            .close.btn {
                margin: 0 !important;
            }

            .no-msoffice-buttons a.pdf-preview-controls__btn i.elma-icons {
                margin: 0;
            }

            .no-msoffice-buttons .sidebar-info__button {
                margin: 0 0 0 12px;
            }

            elma-sidebar-widget {
                .sidebar-widget-body {
                    color: $base-text-color;
                }
                elma-form-label {
                    font-weight: 700;
                }
            }

            @include media-breakpoint-up(lg) {
                .modal-header__controls {
                    width: calc(100% - #{$title-max-width});
                }
            }
        }

        elma-complex-popup.popup-msoffice {
            @include media-breakpoint-up(lg) {
                .modal-header__controls {
                    width: calc(100% - #{$title-max-width} + #{$ms-office-logo-width / 2});
                }
            }
        }

        .modal-header__controls {
            margin-left: 0 !important;
        }

        elma-complex-popup.popup-fullscreen {
            .complex-popup-outer {
                padding: 0;

                @include media-breakpoint-up(md) {
                    top: $header-height !important;
                    height: calc(100% - #{$header-height}) !important;
                }

                @include media-breakpoint-down(sm) {
                    top: $header-mobile-height !important;
                    height: calc(100% - #{$header-mobile-height}) !important;
                }

                .complex-popup {
                    max-width: unset !important;
                    width: 100% !important;

                    &__main {
                        max-width: unset !important;
                        width: 100% !important;
                        border-radius: unset !important;
                    }

                    .infoholder {
                        display: none !important;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                .complex-popup__info {
                    padding-top: 28px
                }
                .app-widget__sidebar_hide {
                    display: none !important;
                }
            }

            .complex-popup__info-wrapper {
                overflow-y: visible;
            }

            @include media-breakpoint-down(sm) {
                .complex-popup__info {
                    z-index: 9 !important;
                    top: $header-height !important;
                }
            }

            @include media-breakpoint-up(lg) {
                .complex-popup__info {
                    margin-top: 0 !important;
                    border-radius: 0 !important;
                    margin-bottom: 0 !important;
                }
                &.popup-msoffice {
                    .app-widget__sidebar_hide {
                        display: none !important;
                    }
                }
            }

            @include media-breakpoint-up(md) {

                header {
                    height: $header-height !important;
                    min-height: $header-height !important;
                }
                .modal-content {
                    height: 100% !important;

                    &:before {
                        content: '';
                        height: $header-mobile-height;
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        background: #000;
                    }
                }
                .file-warning-message {
                    margin-top: $header-height !important;
                }
            }

            &.popup-msoffice {
                @include media-breakpoint-up(lg) {
                    .complex-popup__info {
                        margin-top: $header-height !important;
                    }
                }
                @include media-breakpoint-up(md) {
                    top: $header-height !important;
                    height: calc(100% - #{$header-height}) !important;

                    header {
                        left: $ms-office-logo-width !important;
                    }
                    .complex-popup-outer {
                        top: 0 !important;
                        height: 100% !important;
                    }
                }
                @include media-breakpoint-down(md) {
                    header {
                        min-height: $header-height !important;
                    }
                    .complex-popup__info {
                        top: $header-height !important;
                    }
                }

                @include media-breakpoint-down(sm) {
                    top: $header-mobile-height !important;
                    height: calc(100% - #{$header-mobile-height}) !important;

                    header {
                        background: #000;
                        min-height: $header-mobile-height !important;
                    }
                    .complex-popup__info {
                        top: $header-mobile-height !important;
                    }
                }
                @include media-breakpoint-up(lg) {
                    .app-widget__sidebar_hide {
                        right: 20px;
                        top: 10px;
                        color: $base-text-color;
                    }
                }
            }
        }

        elma-complex-popup {
            @include media-breakpoint-down(md) {
                .complex-popup__info {
                    position: fixed !important;
                    border-radius: 0 !important;
                    margin: 0 !important;
                    top: $header-height !important;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;

                    & > .app-widget__sidebar_hide {
                        right: 20px;
                        top: 10px;
                        color: $base-text-color;
                    }
                }
            }

            &:not(.popup-subtype) {
                .modal-footer {
                    display: none !important;
                }
            }
            .subtype-permissions {
                overflow-x: auto;
                padding: 8px;
                width: 100%;
            }
        }

        elma-complex-popup:not(.popup-fullscreen) {
            .complex-popup-outer {
                padding: $grid-gutter-width;
                top: $header-height !important;
                height: calc(100% - #{$header-height}) !important;
            }
            .complex-popup__info {
                margin: $grid-gutter-width 0;
            }
            @include media-breakpoint-down(md) {
                .infoholder {
                    display: none !important;
                }
            }
            .modal-content {
                border-radius: $border-radius-lg;
            }

        }

        .disk-preview {
            position: absolute;
            height: 100%;
            width: 100%;

            elma-file {
                height: 100%;

                & > * {
                    height: 100%;
                }

                elma-file-zoom {
                    bottom: 80px;
                    height: 0 !important;

                    .number_pages {
                        display: block;
                    }
                }
            }
        }
    }
}
