@import '../../../../../styles/common-import';

:host {
    position: relative;
    display: block;
    padding: $grid-gutter-padding;

    @include media-breakpoint-up(md) {
        padding: $grid-gutter-width;
    }
    :host-context(app-nav-manager.small) {
        padding-left: 0;
        padding-right: 0;
    }
    ::ng-deep {
        .popover {
            top: 26px !important;
        }
        .popover-body {
            padding: $grid-gutter-padding 0;
        }
        .popover-content {
            transform: translate(0, -$grid-gutter-width) !important;
        }
    }
}

.sidebar-btn {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: $btn-border-radius-lg;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    text-decoration: none!important;
    background-color: $firm-green;
    color: #fff;
    padding: $grid-gutter-padding $grid-gutter-padding/2;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    &:hover {
        background: lighten($firm-green, 2%);
    }
    &:active {
        background: darken($firm-green, 3%);
    }
    &__label {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        &--right {
            margin-right: 5px;
        }
    }
}
