<div class="app-gagarin" #elmaPopoverWrapper triggers="manual">
    <a  #elmaPopoverOpener
        (click)="items.toggle(elmaPopoverWrapper)"
        href="javascript:void(0)"
        class="sidebar-btn">
        <span class="sidebar-btn__label sidebar-btn__label--right">Создать</span>
        <i class="elma-icons md-24">system_play_outline</i>
    </a>
    <elma-popover [relativeTo]="elmaPopoverOpener" [position]="'right'" #items>
        <div class="popover-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="openProcessRunModal()">
                        <div class="d-inline-block align-text-bottom md-18 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18">
                                <path fill="#4DAE43" d="M9.276,0.489v0.787c-3.569,0-6.57,2.351-7.43,5.536l1.199-1.037l1.73,1.441
                                    c0.636-1.811,2.411-3.115,4.501-3.115v1.492l1.049-1.276l1.048-1.277l-1.048-1.276L9.276,0.489z"></path>
                                <path fill="#0F80C3" d="M0.475,8.676h0.787c0,3.569,2.351,6.57,5.536,7.43l-1.037-1.199l1.441-1.73
                                    c-1.811-0.636-3.115-2.411-3.115-4.501h1.492L4.303,7.627L3.027,6.579L1.751,7.627L0.475,8.676z"></path>
                                <path fill="#FFD40F" d="M8.707,17.511v-0.788c3.569,0,6.57-2.351,7.43-5.536l-1.199,1.037l-1.73-1.441
                                    c-0.636,1.811-2.411,3.115-4.501,3.115v-1.492l-1.049,1.277L6.61,14.959l1.048,1.276L8.707,17.511z"></path>
                                <path fill="#E64023" d="M17.525,9.324h-0.787c0-3.569-2.351-6.57-5.536-7.43l1.037,1.199l-1.441,1.73
                                    c1.811,0.636,3.115,2.411,3.115,4.501h-1.492l1.276,1.048l1.276,1.048l1.276-1.048L17.525,9.324z"></path>
                            </svg>
                        </div>
                        {{ 'app.managers.nav-manager.gagarin@run-process'|translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="elma-icons md-18 mr-2">system_message</i>
                        {{ 'app.managers.nav-manager.gagarin@create-message'|translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="elma-icons md-18 mr-2">system_task</i>
                        {{ 'app.managers.nav-manager.gagarin@create-task'|translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="elma-icons md-18 mr-2">folder_type_opened</i>
                        {{ 'app.managers.nav-manager.gagarin@create-file'|translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="elma-icons md-18 mr-2">file_type_doc</i>
                        {{ 'app.managers.nav-manager.gagarin@create-document'|translate }}
                    </a>
                </li>
            </ul>
        </div>
    </elma-popover>
</div>
