<elma-popover class="context-menu"
    #popover
    [position]="'right'"
    [shift]="'10px'"
    [showClose]="false"
>
    <a class="context-menu__title menu-group__option h4"
        href="javascript:void(0);"
        (click)="configureNamespace()"
    >
        {{'navigation.namespace@option-header'| translate}}
    </a>
    <ul class="menu-group nav flex-column">
        <li class="menu-group__item">
            <h5 class="menu-group__option menu-group__option_title">
                {{'navigation.namespace@namespace-elements'|translate}}
            </h5>
            <a class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [namespace.code,'_processes'], p: null}}]"
                (click)="hide()"

            >
                {{'navigation.namespace@business-processes'|translate}}
            </a>
            <a class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [namespace.code,'_groups'], p: null}}]"
                (click)="hide()"
            >
                {{'navigation.namespace@groups'|translate}}
            </a>
            <a class="menu-group__option"
                [routerLink]="['', {outlets: {primary: [namespace.code,'_serial'], p: null}}]"
                (click)="hide()"
            >
                {{'navigation.namespace@serials' | translate}}
            </a>
        </li>
        <li class="menu-group__item">
            <h5 class="menu-group__option menu-group__option_title">
                {{'navigation.namespace@namespace-management'|translate}}
            </h5>
            <a
                href="javascript:alert('not implemented');"
                class="menu-group__option"
            >
                {{'navigation.namespace@namespace-visibility'|translate}}
            </a>
            <a
                href="javascript:void(0);"
                class="menu-group__option"
                [routerLink]="['', {outlets: {p: ['export','namespace', namespace.code]}}]"
                (click)="hide()"
            >
                {{'navigation.namespace@share-namespace'|translate}}
            </a>
            <a
                href="javascript:void(0);"
                class="menu-group__option"
                (click)="confirmDelete($event)"
            >
                {{'navigation.namespace@delete-namespace'|translate}}
            </a>
        </li>
    </ul>
</elma-popover>

<elma-popover class="confirm" [position]="'right'" [shift]="'18px'"
    #confirmDeletePopover
>
    <div class="popover-body">
        <button
            [elmaButton]="'danger'"
            (click)="delete()"
        >
            {{ 'app.pages.page-editor@delete-confirm' | translate }}
        </button>
    </div>
</elma-popover>
