<elma-form (onSubmit)="create()">
    <div class="modal-body">
        <elma-form-row [label]="'app.pages.widget-page-create.form-page@page-name'|translate">
            <input
                #name
                name="name"
                type="text"
                (keyup)="updateCode()"
                [(ngModel)]="page.name"
                required
            >
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-page@page-href'|translate">
            <div class="page-url-control">
                <span>/{{baseUrl}}</span>
                <input
                    name="code"
                    type="text"
                    tabindex="-1"
                    value="{{page.code}}"
                    [(ngModel)]="page.code"
                    (keyup)="typeCode()"
                    (keydown.enter)="$event.preventDefault();$event.target.blur()"
                >
            </div>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-page@icon'|translate">
            <app-iconpicker
                #iconPicker
                name="icon"
                [(ngModel)]="page.icon"
                [defaultIcon]="'file_type_text'"
            ></app-iconpicker>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-page@columns-count'|translate">
            <elma-switch
                name="columns"
                [options]="['1', '2']"
                [translateLabels]="true"
                labelPrefix="app.pages.widget-page-create.form-page@column-"
                [(ngModel)]="page.columnsCount"
            ></elma-switch>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-page@access-type'|translate">
            <elma-switch
                name="accessAll"
                [options]="['all', 'me-only']"
                [isBoolean]="true"
                [translateLabels]="true"
                labelPrefix="app.pages.widget-page-create.form-page@access-type-"
                [(ngModel)]="page.accessAll"
            ></elma-switch>
        </elma-form-row>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            elmaButton="customization"
        >
            {{'app.pages.widget-page-create.form-page@create'|translate}}
        </button>
        <button
            type="button"
            elmaButton="default"
            (click)="modal.closePopup()"
        >
            {{'app.pages.widget-page-create.form-page@cancel'|translate}}
        </button>
    </div>
</elma-form>
