<elma-complex-popup
    [visible]="true"
    [sidebarVisible]="showSidebar"
    (onClose)="close()"
>
    <ng-container popup-header>
        {{title}}
    </ng-container>

    <ng-container popup-content>
        <div class="form-wrapper">
            <app-dynamic-form
                #form
                class="modal-body"
                [fields]="formFields"
                [namespace]="namespace"
                (onSubmit)="save()"
            ></app-dynamic-form>
        </div>
    </ng-container>

    <ng-container popup-footer>
                <button
                    [disabled]="okButtonDisabled"
                    [elmaButton]="'primary'"
                    (click)="form.submit()"
                >{{okButtonTitle}}</button>
                <button
                    (click)="close()"
                    [elmaButton]="'default'"
                >
                    {{ 'app.appview.edit@cancel'|translate }}
                </button>
    </ng-container>

    <ng-container popup-sidebar>
        <app-edit-form-userguide
            [userGuide]="instruction"
            [isEditable]="isInstructionEditable"
            (onUpdate)="updateInstruction($event)"
        ></app-edit-form-userguide>
    </ng-container>

</elma-complex-popup>
