<div class="sidebar-header">
    <a
        class="sidebar-logo"
        [routerLink]="['/']"
        (click)="homeClick()"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             class="sidebar-logo__img"
             width="23.372"
             height="23.574"
             viewBox="0 0 23.372 23.574"
        >
            <g>
                <path fill="#4DAE42" d="M11.949 0v1.09c-4.943 0-9.098 3.256-10.29 7.667l1.66-1.436 2.396 1.995c.881-2.508 3.339-4.313 6.234-4.313v2.067l1.453-1.767 1.452-1.768-1.452-1.767-1.453-1.768z"/>
                <path fill="#0F80C3" d="M0 11.339h1.09c0 4.943 3.256 9.098 7.667 10.29l-1.436-1.66 1.995-2.396c-2.508-.881-4.315-3.339-4.315-6.234h2.067l-1.768-1.453-1.766-1.452-1.767 1.452-1.767 1.453z"/>
                <path fill="#FFD40E" d="M11.16 23.574v-1.091c4.943 0 9.098-3.256 10.29-7.667l-1.66 1.436-2.396-1.995c-.881 2.508-3.339 4.313-6.234 4.313v-2.067l-1.453 1.768-1.452 1.767 1.452 1.767 1.453 1.769z"/>
                <path fill="#E64023" d="M23.372 12.235h-1.09c0-4.943-3.256-9.098-7.667-10.29l1.436 1.66-1.995 2.396c2.508.881 4.315 3.339 4.315 6.234h-2.067l1.767 1.452 1.767 1.452 1.767-1.452 1.767-1.452z"/>
            </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
             class="sidebar-logo__text"
             width="83.418"
             height="13.852"
             viewBox="0 0 83.418 13.852"
        >
            <path fill="currentColor"
                  d="M7.743 13.852H0V-.038h7.743v1.435h-6.13v4.475h5.76v1.425h-5.76v5.11h6.13v1.445zm3.078
                     0V-.038h1.615v12.426h6.13v1.464H10.82zm16.247 0L22.355 1.54h-.076c.088.974.132 2.133.132
                     3.476v8.836h-1.49V-.038h2.43l4.4 11.458h.075L32.265-.038h2.413v13.89h-1.615v-8.95c0-1.026.044-2.14.133-3.344h-.076l-4.75
                     12.294h-1.303zm20.152 0l-1.73-4.418h-5.567l-1.71 4.418h-1.635l5.49-13.947h1.36l5.463
                     13.947h-1.67zM44.985 7.98L43.37 3.676c-.208-.545-.423-1.213-.645-2.005-.14.61-.34
                     1.277-.6 2.006L40.493 7.98h4.494zM60.626 3.268c0 .86-.27 1.587-.812 2.176-.542.59-1.27.966-2.18
                     1.13v.057c1.113.14 1.963.495 2.545 1.065.582.57.873 1.337.873 2.3 0 1.298-.44 2.303-1.325
                     3.016s-2.155 1.07-3.814 1.07c-1.412 0-2.645-.263-3.695-.79v-.94c.53.28 1.128.498 1.79.656.66.16
                     1.283.237 1.866.237 1.4 0 2.45-.283 3.154-.85s1.055-1.367
                     1.055-2.4c0-.917-.36-1.623-1.078-2.118-.72-.494-1.775-.74-3.17-.74h-1.5v-.912h1.52c1.153 0
                     2.067-.274 2.74-.822.676-.546 1.014-1.29 1.014-2.227 0-.773-.273-1.392-.82-1.857-.55-.466-1.267-.7-2.153-.7-.69
                     0-1.32.098-1.89.29-.57.194-1.21.525-1.92.994l-.466-.636c.54-.45 1.19-.806 1.95-1.07.76-.262 1.528-.394
                     2.308-.394 1.28 0 2.268.303 2.964.907.695.605 1.044 1.46 1.044 2.56zm3.05 4.703c0-1.804.245-3.323.735-4.555.492-1.232
                     1.19-2.146 2.092-2.74.902-.596 1.99-.894 3.264-.894.595 0 1.14.074 1.634.22v.836C70.938.666 70.38.58 69.728.58c-1.564
                     0-2.782.563-3.653 1.69s-1.36 2.77-1.468 4.922h.123c.48-.62 1.033-1.09 1.653-1.406.62-.316 1.276-.475
                     1.967-.475 1.3 0 2.313.37 3.045 1.112s1.098 1.765 1.098 3.07c0 1.417-.385 2.537-1.154 3.356-.77.82-1.808
                     1.23-3.112 1.23-1.406 0-2.517-.536-3.33-1.61-.816-1.072-1.223-2.572-1.223-4.497zm4.55 5.274c1.04
                     0 1.847-.326 2.424-.98.576-.65.864-1.582.864-2.792 0-1.064-.285-1.894-.855-2.49-.57-.594-1.347-.892-2.328-.892-.646
                     0-1.246.143-1.8.428-.556.285-.997.664-1.326 1.135s-.494.954-.494 1.448c0 .704.156 1.38.47
                     2.03.314.648.738 1.164 1.273 1.543.534.38 1.125.57 1.772.57zM78.64 5.54c1.48 0 2.648.357
                     3.5 1.072.853.716 1.278 1.7 1.278 2.956 0 1.424-.443 2.533-1.33 3.324-.887.793-2.11
                     1.188-3.667 1.188-.69 0-1.346-.067-1.966-.203-.62-.137-1.14-.332-1.56-.585v-.98c.686.35
                     1.293.592 1.825.73.53.135 1.098.202 1.7.202 1.216 0 2.19-.32 2.926-.964s1.103-1.513
                     1.103-2.608c0-1.032-.36-1.843-1.075-2.432-.716-.59-1.688-.884-2.916-.884-.825
                     0-1.687.124-2.586.37l-.57-.37.55-6.356h6.69v.912h-5.797l-.427 4.902c.99-.183
                     1.762-.275 2.32-.275z"/>
        </svg>
    </a>
    <app-user-header *elmaMobile></app-user-header>
</div>

<app-gagarin
    *ngIf="page.data.menu.type === NavTypes.NAV_TYPE_MAIN_SUBMENU || page.data.menu.type === NavTypes.NAV_TYPE_MAIN"
></app-gagarin>

<ng-container [ngSwitch]="page.data.menu.type">

    <app-navigation-main
        *ngSwitchCase="NavTypes.NAV_TYPE_MAIN"
        appScrollShadow
        [currentPage]="page"
    ></app-navigation-main>

    <app-navigation-main
        *ngSwitchCase="NavTypes.NAV_TYPE_MAIN_SUBMENU"
        appScrollShadow
        [currentPage]="page"
        [activePage]="activePage"
    ></app-navigation-main>

    <app-navigation-disk
        *ngSwitchCase="NavTypes.NAV_TYPE_DISK"
    ></app-navigation-disk>

    <app-navigation-monitor
        *ngSwitchCase="NavTypes.NAV_TYPE_MONITOR"
        [currentPage]="page"
        [activePage]="activePage"
    ></app-navigation-monitor>

    <app-navigation-namespace
        *ngSwitchCase="NavTypes.NAV_TYPE_NAMESPACE"
        [namespace]="data?.namespace || page"
        [activePage]="activePage"
    ></app-navigation-namespace>

    <app-navigation-feed
        *ngSwitchCase="NavTypes.NAV_TYPE_FEED"
    ></app-navigation-feed>

</ng-container>

<div
    *elmaDesktop
    class="sidebar-resizer"
>
    <div
        *ngIf="page.data.menu.type === NavTypes.NAV_TYPE_DISK || page.data.menu.type === NavTypes.NAV_TYPE_MONITOR"
        class="sidebar-resizer__dragger"
        (mousedown)="sidebarDrugStart($event)"
    ></div>
    <button
        *ngIf="page.data.menu.type === NavTypes.NAV_TYPE_DISK"
        class="sidebar-resizer__button"
        (click)="resizeSidebar()"
    ><span class="sidebar-resizer__button-inner"></span>
    </button>
</div>



