@import '../../../../styles/common-import';

:host {
    box-shadow: 1px 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $firm-blue;
    color: $light-color;

    @include media-breakpoint-up(lg) {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        color: $dark-color;
    }
    &.\@blue {
        color: $dark-color;

        @include media-breakpoint-down(sm) {
            color: $light-color;
        }
        @include media-breakpoint-down(md) {
            background: radial-gradient(ellipse at center, rgba(54, 180, 234, 1) 0%, rgba(54, 138, 191, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36b4ea', endColorstr='#368abf', GradientType=1);
        }
    }
    &.\@white {
        background: $light-color;
        color: $dark-color;
    }
    &.full {
        @include media-breakpoint-up(lg) {
            width: $all-sidebar-width;
        }
    }
    &.small {
        @include media-breakpoint-up(lg) {
            width: 68px !important;
        }
    }
}

:host(.small) {
    ::ng-deep {

        .sidebar-nav__link .sidebar-nav__label,
        .sidebar-btn .sidebar-btn__label  {
            visibility: hidden;
            opacity: 0;
            display: none;
        }
        .sidebar-nav__link {
            padding: 17px 10px;
            text-align: center;
        }
        .sidebar-btn {
            max-width: 42px;
            margin-left: auto;
            margin-right: auto;
            padding: 9px;
        }
        .sidebar-controls {
            padding: $grid-gutter-width $grid-gutter-padding;
        }
        .subs {
            display: none;
        }
        .sidebar-nav__el {
            .link {
                justify-content: center;
            }
            .label {
                display: none;
            }
        }
    }
}

.sidebar-header {
    display: flex;
    flex: 0 0 56px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 $grid-gutter-padding;

    @include media-breakpoint-up(md) {
        padding: 0 $grid-gutter-width;
        background: $light-color;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 64px;
    }

    :host(.small) & {
        justify-content: center;
    }
    app-user-header {
        display: block;
    }
}

.sidebar-logo {
    display: flex;
    align-items: center;
    color: inherit;
    line-height: 0;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($light-color, 0);
            content: '';
        }
    }
    &__img {
        @include media-breakpoint-up(lg) {
            margin: auto;
        }
    }
    &__text {
        margin-left: 6px;

        :host(.small) & {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}

.sidebar-resizer {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    &.drag {
        overflow: hidden;
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }
    &__dragger {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 0 solid #29749b;
        width: 15px;
        height: 100%;
        content: '';
        cursor: ew-resize;
        user-select: none;
        will-change: border-width;
        transition: border 100ms;
        &:hover {
            border-left-width: 4px;
        }

        .sidebar-resizer.drag & {
            display: none;
        }
    }
    &__button {
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        border: 0;
        width: 8px;
        height: 36px;
        margin: auto;
        padding: 5px 0;
        background: none;
        color: $light-color;
        cursor: pointer;
        outline: none;
        will-change: transform;
        transition: transform 100ms;

        :host(.\@white) & {
            color: $dark-color;
        }
        &::before,
        &::after {
            position: absolute;
            left: -1px;
            width: 10px;
            height: 14px;
            background: $firm-blue;
            content: '';

            :host(.\@white) & {
                background: $light-color;
            }
        }
        &::before {
            top: 0;
            transform-origin: 0 0;
            transform: rotate(30deg);
        }
        &::after {
            bottom: 0;
            transform-origin: 0 100%;
            transform: rotate(-30deg);
        }
        &-inner {
            border-radius: 0 3px 3px 0;
            display: block;
            height: 100%;
            background: $firm-blue;

            :host(.\@white) & {
                background: $light-color;
            }

            &::before {
                border-top: 1px solid;
                border-right: 1px solid;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4px;
                height: 4px;
                margin: -2px 0 0 -2px;
                content: '';
                transform: rotate(-135deg);

                :host(.small) & {
                    margin-left: -4px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.sidebar-mobile-user {
    padding: 0 22px;
    min-height: 60px;
    align-items: center;
    display: none;

    @include media-breakpoint-up(md) {
        display: none;
    }
    &__ava {
        width: 25px;
        height: 25px;
        background-color: $light-color;
        border-radius: 50%;
        margin-right: $grid-gutter-padding;
    }
    &__name {
        color: $light-color;
    }
}
