<div *elmaCustomization>
    <div class="d-flex justify-content-end">
        <button
            elmaButton="primary">{{'change-widget-settings'}}</button>
    </div>
</div>
<div [innerHTML]="data.html"></div>
