@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

@import "styles/vars";
@import "styles/mixins";


// Reset and dependencies
@import "../node_modules/bootstrap/scss/print";
// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
//@import "../node_modules/bootstrap/scss/buttons"; (styles/ui-components/buttons)
// Components
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group"; TODO: uncomment
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/responsive-embed";
@import "../node_modules/bootstrap/scss/close";
// Components w/ JavaScript

//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";

// @import "../node_modules/bootstrap/scss/carousel";
// Utility classes
@import "../node_modules/bootstrap/scss/utilities";




@import "styles/global";
@import "styles/wrapper";
@import "styles/ui-components/index";
@import "styles/fonts";
@import "styles/typo";
@import "~ngx-toastr/toastr";

.scroll-table {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;

    &__head {
        overflow-y: scroll;
        min-height: 36px;
        margin-right: -40px;
        background: $table-head-bg;
        font-weight: $font-weight-bold;
    }

    &__body {
        flex: 1;
        overflow-y: scroll;
    }

    &__foot {
        flex: 0;
    }

    &__row {
        border-top: 1px solid $base-border-color;
        display: table;
        width: 100%;
        &:hover {
            background: $table-row-bg;
        }

        .scroll-table__head & {
            background: $table-head-bg;
            padding-right: 40px;
        }

    }

    &__cell {
        display: table-cell;
        padding: $grid-gutter-padding;
        vertical-align: middle;

        .scroll-table__body & {
            height: 60px;
        }
    }
}

[appscrollshadow] {
    &:before {
        z-index: 4;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        height: 8px;
        background: linear-gradient(to bottom, rgba($dark-color, .1) 0%, rgba($dark-color, 0) 100%);
        content: "";
        pointer-events: none;
        will-change: opacity;
        transition: opacity .15s;
    }
    &.shadow-top {
        &:before {
            opacity: .8;
        }
    }
}

.content-body {
    flex: 1 1;
    overflow: hidden;
    overflow-y: auto;
    &.\@no-padding {
        display: flex;
    }
    &__inner {
        width: 100%;
        padding: $grid-gutter-padding;

        @include media-breakpoint-up(md) {
            padding: $grid-gutter-width;
        }
        .\@no-padding > & {
            padding: 0;
        }
    }
}

.content-footer {
    flex: 0 0;
    padding: $grid-gutter-padding 0;

    @include media-breakpoint-up(lg) {
        padding: $grid-gutter-padding $grid-gutter-width;
    }
}

.option-cog {
    padding: $grid-gutter-padding;
    border: 0;
    background: rgba(#fff, .6);
    color: $firm-purple;
    font-size: 18px;
    cursor: pointer;

    .elma-icons {
        pointer-events: none;
    }
}

.search-highlight {
    background-color: #fff3a1;
    .search-selected & {
        background-color: #ff9632;
    }
}

.elma-icons {
    font-weight: normal !important;
}

._noresize {
    resize: none !important;
}

._rotate_45 {
    transform: rotate(45deg);
}

._rotate_90 {
    transform: rotate(90deg);
}

._rotate_180 {
    transform: rotate(180deg);
}

.hide {
    display: none !important;
}
