<div class="header-wrapper">
    <h5 class="shedule__title">{{ 'app.modules.admin.worktimer.specialdays@title'|translate }}</h5>

    <div class="ml-auto">
        <button elmaButton="default" (click)="addEmptySpecialDay()">
            <i class="elma-icons">plus</i>
            <span>{{ 'app.modules.admin.worktimer.specialdays.add-day@name'|translate }}</span>
        </button>
    </div>
</div>

<table class="table">
    <tbody *mobxAutorun>
    <tr *ngFor="let day of getSpecialDays(); let i=index">
        <td class="date-wrappe col-2">
            <elma-datepicker class="date" [(ngModel)]="day.date" [showTime]="false" [minDate]="daterange.min" [maxDate]="daterange.max"></elma-datepicker>
        </td>
        <td class="checkbox-wrapper col-2">
            <elma-checkbox label="{{ 'app.modules.admin.worktimer.specialdays.isWorking@name'|translate }}" [(ngModel)]="day.holiday" name="{{ day.key }}" binary="true"></elma-checkbox>
        </td>
        <td class="col-4">
            <app-admin-workingdays-timerange *ngIf="!day.holiday"
                (changeRange)="setSpecialDaySchedule(i, $event)"
                [from]="day.from"
                [to]="day.to"></app-admin-workingdays-timerange>
        </td>
        <td class="delete-wrapper col-4">
            <button elmaButton="danger" elmaButtonStyle="icon" (click)="removeDayByIndex(i)">
                <i class="elma-icons">system_trash</i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
