@import '../../../../../styles/common-import';

:host {
    display: block;
    padding: 0.8rem 0;

    .table {
        tr {
            display: flex;
            td {
                vertical-align: middle;
                line-height: 3.2rem;
            }
        }
    }

    .header-wrapper {
        padding: 0.8rem 0;
        display: flex;

        .shedule__title {
            flex: 1;
        }

        .ml-auto {
            text-align: right;
            flex: 1;
        }
    }

    .delete-wrapper {
        text-align: right;
    }

    .checkbox-wrapper {
        vertical-align: middle;
    }

}
