<div *ngIf="!field.data?.type?.length">

    <p [hidden]="value && value.length">
        <i>
            {{'app.dynamicform.types.phone@no-items' | translate}}.
            <a href="javascript:;"
                #add
                [hidden]="value && value.length"
                (click)="addItem($event)"
            >
                {{'app.dynamicform.types.phone@add' | translate}}
            </a>
        </i>
    </p>

    <div
        class="input-group item"
        *ngFor="let item of value; index as index"
    >
        <div class="input-group-btn type-select">
            <elma-select
                #select
                [(ngModel)]="item.type"
                [options]="types">
            </elma-select>
        </div>

        <input class="form-control" type="tel"
            #input
            [placeholder]="placeholder"
            [textMask]="{ mask: MASK, showMask: false, guide: false }"
            [class.is-invalid]="currentFormControl && (!currentFormControl.valid && !currentFormControl.pristine)"
            [ngModel]="item.tel"
            (ngModelChange)="item.tel = unmask($event)"
        />

        <span class="input-group-btn">
            <div class="remove elma-icons md-18"
                title="{{'app.dynamicform.types.phone@remove' | translate}}"
                (click)="removeItem(index)"
            >app_trash</div>
        </span>
    </div>

    <a href="javascript:;"
        [hidden]="!value || !value.length"
        (click)="addItem($event)"
    >
        + {{'app.dynamicform.types.phone@add-more' | translate}}
    </a>
</div>

<div class="input-group type"
    *ngIf="field.data?.type?.length"
>
    <span class="input-group-addon"
        *ngIf="!hideType"
    >
        {{'app.dynamicform.types.phone@type-' + field.data.type | translate}}
    </span>
    <input class="form-control" type="tel" id="{{ field.code }}"
        #single
        [placeholder]="placeholder"
        [textMask]="maskOptions"
        [class.is-invalid]="currentFormControl && (!currentFormControl.valid && !currentFormControl.pristine)"
        [ngModel]="singleGet().tel"
        (ngModelChange)="singleSet($event)"
    />
</div>
