<elma-popup #modal [headerTemplate]="headerTemplate" [title]="'app.pages.widget-page-create@title' | translate" size="sm">
    <ng-template #headerTemplate>
        <elma-switch
            [options]="createdItemList"
            [translateLabels]="true"
            [labelPrefix]="labelPrefix"
            [(ngModel)]="tab"
        ></elma-switch>
    </ng-template>

    <app-form-namespace
        *ngIf="tab === Tabs.Namespace"
        #form
        [page]="newPage"
        [modal]="modal"
        [baseUrl]="baseUrl"
        [namespace]="namespaceCode"
    ></app-form-namespace>

    <app-form-application
        *ngIf="tab === Tabs.Application"
        #form
        [page]="newPage"
        [modal]="modal"
        [baseUrl]="baseUrl"
        [namespace]="namespaceCode"
    ></app-form-application>

    <app-form-page
        *ngIf="tab === Tabs.Page"
        #form
        [page]="newPage"
        [modal]="modal"
        [baseUrl]="baseUrl"
        [namespace]="namespaceCode"
    ></app-form-page>

    <app-form-link
        *ngIf="tab === Tabs.Link"
        #form
        [page]="newPage"
        [modal]="modal"
        [namespace]="namespaceCode"
    ></app-form-link>

    <app-form-separator
        *ngIf="tab === Tabs.Separator"
        #form
        [page]="newPage"
        [modal]="modal"
        [namespace]="namespaceCode"
    ></app-form-separator>
</elma-popup>
