@import '../../../../styles/vars';

:host {

    .page-url-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span,
        input {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        span {
            direction: rtl;
            text-align: right;
        }
        input {
            flex: 1 1;
            min-width: percentage(1 / 3);
            margin-left: 0.3em;
        }
    }

    .page-url-control > input {
        border: 1px dashed;
        color: $firm-purple;
        cursor: pointer;
        &:focus {
            border: 1px solid $firm-blue;
            color: inherit;
            cursor: auto;
        }
    }

}
