<ng-container *mobxAutorun>
    <ng-container *ngIf="root; else noRoot">
        <ng-template [ngTemplateOutlet]="atributeList">
        </ng-template>
    </ng-container>
    <ng-template #noRoot>

        <ng-container *elmaDesktop>
            <label *ngIf="renderCheckbox" class="checkbox _theme_inverted">
                <elma-checkbox
                    type="checkbox"
                    name="dirID"
                    (modelChange)="selectRow($event)"
                    [id]="directory.id"
                    class="checkbox__v"></elma-checkbox>
            </label>
        </ng-container>

        <ng-template [ngTemplateOutlet]="atributeList">
        </ng-template>
        <div *elmaDesktop class="directory-controls">
            <div #contextMenu class="mob-context-menu">
                <button
                    elmaButton="default"
                    elmaButtonStyle="icon"
                    class="mob-context-menu__btn"
                    (click)="dirCtx.show($event)"
                >menu_horizontal</button>
                <app-directory-context-menu #dirCtx
                    [directory]="directory"
                    [stayActiveElement]="contextMenu"
                    (changeName)="openMenuRename()"
                    (moveItem)="movingDirectory($event)"></app-directory-context-menu>
            </div>
        </div>
    </ng-template>

    <ng-template #atributeList>
        <a *ngIf="!showMenuRename; else menuRename"
            [ngClass]="{'no-render-checkbox': !renderCheckbox}"
            class="directory"
            (click)="open.emit(directory.id)"
        >
            <i class="directory__icon elma-icons md-18">folder_type_opened</i>
            <div class="directory-content">
                <div class="directory__name">{{directory.name}}</div>
                <ng-template [ngTemplateOutlet]="noEditAttribute"></ng-template>
            </div>
        </a>
        <ng-template #menuRename>
            <a class="directory">
                <i class="directory__icon elma-icons md-18">folder_type_opened</i>
                <div class="rename">
                    <input #nameDir
                        class="directory__rename"
                        input="text"
                        [ngModel]="directory.name"
                        (ngModelChange)="onNameChange($event)"
                        (keyup.enter)="updateName()"
                        (keyup.escape)="cancelRename()"
                        (focusout)="cancelRename()"/>
                    <span *ngIf="renameError" class="rename-error text-xs">{{renameError}}</span>
                </div>
                <ng-template [ngTemplateOutlet]="noEditAttribute"></ng-template>
            </a>
        </ng-template>
    </ng-template>
</ng-container>
<ng-template #noEditAttribute>
    <div class="directory__timestamp">
        {{ createdOrUpdated() }}
    </div>
    <div class="directory__size">
        <!-- {{directory.size | formatBytes}} -->
    </div>
</ng-template>
