@import '../../../../../styles/common-import';

$grid-directory-checkbox-width:         30px;

:host {
    @include media-breakpoint-up(lg) {
        .directory {
            margin-left: $grid-directory-checkbox-width;
        }
    }
}

.rename {
    display: block;
    width: calc(100% - 400px);
}

.rename-error {
    padding-top: 2px;
    color: $firm-red;
    display: block;
}

.directory__rename {
    width: calc(100% - #{$grid-gutter-padding});
    display: block;
}
