<elma-form (onSubmit)="save()">
    <div class="modal-body">
        <elma-form-row [label]="'app.pages.widget-page-create.form-namespace@namespace-name'|translate">
            <input
                #name
                name="name"
                type="text"
                [(ngModel)]="editPage.name"
                required
            >
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-namespace@namespace-href'|translate">
            <div class="page-url-control">
                <span>{{baseUrl}}{{editPage.code}}</span>
            </div>
        </elma-form-row>
        <elma-form-row [label]="'app.pages.widget-page-create.form-namespace@icon'|translate">
            <app-iconpicker
                #iconPicker
                name="icon"
                [(ngModel)]="editPage.icon"
                [defaultIcon]="'system_inbox'"
            ></app-iconpicker>
        </elma-form-row>
    </div>
    <div class="modal-footer">
        <button
            type="submit"
            elmaButton="customization"
        >
            {{'app.pages.widget-page-create.form-namespace@save'|translate}}
        </button>
        <button
            type="button"
            elmaButton="default"
            (click)="close()"
        >
            {{'app.pages.widget-page-create.form-namespace@cancel'|translate}}
        </button>
    </div>
</elma-form>
