@import '../../../../../styles/common-import';

:host {
    flex: 1;
    display: block;
}

.search-wrapper {
    .search-item {
        padding: $grid-gutter-width;
        cursor:pointer;
        &:hover, &.selected {
            background-color: #e9ecef;
        }
        .user__ava {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 8px;
            box-shadow: 0 0 10px #cecece;
        }
    }
}

.advanced-search-status {
    margin-right: $grid-gutter-padding;
}
