<div class="search-wrapper" *mobxAutorun>
    <div class="nav-search">
        <div class="advanced-search-status"
            *ngIf="selectedUser"
        >
            <span class="filter">{{ selectedUser.name }}</span>
            <button (click)="closeFilter()">
                <i class="elma-icons">system_close</i>
            </button>
        </div>
        <input
            *ngIf="!filter && filteredFieldsCount === 0"
            class="nav-search__input"
            type="text"
            [placeholder]="placeHolder"
            [(ngModel)]="searchString"
            (ngModelChange)="change($event)"
            (keyup.escape)="clear()"
            (keydown.enter)="start($event)"
        >
        <div class="search-control-group"
             *ngIf="searchString || isMobile"
        >
            <button
                class="search-control search-control_close"
                title="{{ 'app.appview.search@clear' | translate }}"
                (click)="stop()"
            >
                <i class="elma-icons">system_close</i>
            </button>
        </div>
        <div class="search-wrapper__content" *ngIf="showResults" appClickOutside [skipFirstClick]="false"
            (onClickOutside)="clear()">
            <div *ngFor="let item of items">
                <div>
                    <ng-container
                        *ngTemplateOutlet="item.template; context: { item: item.data, selected: item.selected }">
                    </ng-container>
                </div>
            </div>
            <div *ngIf="items.length == 0 || searchError"
                class="search-wrapper__empty"
            >
                {{searchError ? searchError : 'messages.header-search@no-results'|translate}}
            </div>
        </div>
    </div>
</div>

<ng-template #itemTemplate let-item="item" let-selected="selected">
    <div class="search-item" [ngClass]="{'selected': selected}" (click)="selectUser(item)">
        <span class="user__ava"></span>
        <span class="user__name">{{item.name}}</span>
    </div>
</ng-template>
<ng-template #textSearchTemplate let-item="item" let-selected="selected">
    <div class="search-wrapper__footer">
        <hr>
        <div class="footer-item">
            <div>
                <div class="search-item" [ngClass]="{'selected': selected}" (click)="start($event)">
                    <span class="search-item__name">{{item.name}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>
